<div class="col-md-6 col-md-offset-2 main content">
  <div class="row">
    <h1>Business Info</h1>

    <div class="col-lg-12">
      <h2>Business Info <span class="pull-right" ng-click="edit=true" ng-class="{gray: edit}"><i class="fa fa-pencil"></i></span></h2>
      <form class="custom-form text-input">
        <div class="row">
          <div class="col-lg-12 form-group">
            <label for="" class="control-label">Business Name</label>
            <input type="text" class="form-control" placeholder="Sushi House" ng-readonly="!edit">
          </div>
          <div class="col-lg-6 form-group">
            <label for="" class="control-label">Business Email</label>
            <input type="email" class="form-control" placeholder="info@sushihouse.rest" ng-readonly="!edit">
          </div>
          <div class="col-lg-6 form-group">
            <label for="" class="control-label">Business Phone Number</label>
            <input type="tel" class="form-control" placeholder="917-678-9000" ng-readonly="!edit">
          </div>
          <div class="col-lg-12 form-group">
            <label for="" class="control-label">Business Address Line 1</label>
            <input type="text" class="form-control" placeholder="3000 Oceanview" ng-readonly="!edit">
          </div>
          <div class="col-lg-12 form-group">
            <label for="" class="control-label">Business Address Line 2</label>
            <input type="text" class="form-control" placeholder="Sushi House" ng-readonly="!edit">
          </div>
          <div class="col-lg-6 form-group">
            <label for="" class="control-label">City</label>
            <input type="text" class="form-control" placeholder="City" ng-readonly="!edit">
          </div>
          <div class="col-lg-6 form-group">
            <label for="" class="control-label">State</label>
            <fieldset ng-disabled="!edit">
              <select name="" id="" class="form-control">
                <option value=""></option>
                <option value="NY">NY</option>
                <option value="FL">FL</option>
              </select>
            </fieldset>
          </div>
          <div class="col-lg-6 form-group">
            <label for="" class="control-label">ZIP Code</label>
            <input type="number" class="form-control" placeholder="11235" ng-readonly="!edit">
          </div>
          <div class="col-lg-6 form-group">
            <label for="" class="control-label">Country</label>
            <fieldset ng-disabled="!edit">
              <select name="" id="" class="form-control">
                <option value=""></option>
                <option value="US">United States</option>
                <option value="BR">Brazil</option>
              </select>
            </fieldset>
          </div>
          <div class="col-lg-12 text-center resetsave" ng-show="edit">
            <button class="btn btn-default" ng-click="form.$setPristine()">Reset</button>
            <button class="btn btn-primary" ng-click="edit=!edit">Save</button>
          </div>
        </div>
      </form>
    </div>
    <!-- END Business Info -->

    <div class="col-lg-12">
      <h2>Restaurant Info <span class="pull-right" ng-click="edit=true" ng-class="{gray: edit}"><i class="fa fa-pencil"></i></span></h2>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="sameAsAbove" ng-readonly="!edit"> Same as Business Info
        </label>
      </div>
      <form ng-hide="sameAsAbove" class="custom-form text-input">
        <div class="row">
          <div class="col-lg-12 form-group">
            <label for="" class="control-label">Restaurant Name</label>
            <input type="text" class="form-control" placeholder="Sushi House" ng-readonly="!edit">
          </div>
          <div class="col-lg-6 form-group">
            <label for="" class="control-label">Restaurant Email</label>
            <input type="email" class="form-control" placeholder="info@sushihouse.rest" ng-readonly="!edit">
          </div>
          <div class="col-lg-6 form-group">
            <label for="" class="control-label">Restaurant Phone Number</label>
            <input type="tel" class="form-control" placeholder="917-678-9000" ng-readonly="!edit">
          </div>
          <div class="col-lg-12 form-group">
            <label for="" class="control-label">Restaurant Address Line 1</label>
            <input type="text" class="form-control" placeholder="3000 Oceanview" ng-readonly="!edit">
          </div>
          <div class="col-lg-12 form-group">
            <label for="" class="control-label">Restaurant Address Line 2</label>
            <input type="text" class="form-control" placeholder="Sushi House" ng-readonly="!edit">
          </div>
          <div class="col-lg-6 form-group">
            <label for="" class="control-label">City</label>
            <input type="text" class="form-control" placeholder="City" ng-readonly="!edit">
          </div>
          <div class="col-lg-6 form-group">
            <label for="" class="control-label">State</label>
            <fieldset ng-disabled="!edit">
              <select name="" id="" class="form-control" ng-readonly="!edit">
                <option value=""></option>
                <option value="NY">NY</option>
                <option value="FL">FL</option>
              </select>
            </fieldset>
          </div>
          <div class="col-lg-6 form-group">
            <label for="" class="control-label">ZIP Code</label>
            <input type="number" class="form-control" placeholder="11235" ng-readonly="!edit">
          </div>
          <div class="col-lg-6 form-group">
            <label for="" class="control-label">Country</label>
            <fieldset ng-disabled="!edit">
              <select name="" id="" class="form-control" ng-readonly="!edit">
                <option value=""></option>
                <option value="US">United States</option>
                <option value="BR">Brazil</option>
              </select>
            </fieldset>
          </div>
          <div class="col-lg-12 text-center resetsave" ng-show="edit">
            <button class="btn btn-default" ng-click="form.$setPristine()">Reset</button>
            <button class="btn btn-primary" ng-click="edit=!edit">Save</button>
          </div>
        </div>
      </form>
    </div>
    <!-- END Restaurant Info -->

    <div class="col-lg-12">
      <h2>Business Owner Info <span class="pull-right" ng-click="edit=true" ng-class="{gray: edit}"><i class="fa fa-pencil"></i></span></h2>
      <form class="custom-form text-input">
        <div class="row">
          <div class="col-lg-12 form-group">
            <label for="" class="control-label">First Name</label>
            <input type="text" class="form-control" placeholder="Laurance" ng-readonly="!edit">
          </div>
          <div class="col-lg-12 form-group">
            <label for="" class="control-label">Last Name</label>
            <input type="text" class="form-control" placeholder="Martell" ng-readonly="!edit">
          </div>
          <div class="col-lg-12 form-group">
            <label for="" class="control-label">Date of Birth</label>
            <input type="date" class="form-control" placeholder="08/28/1974" ng-readonly="!edit">
          </div>
          <div class="col-lg-12 form-group">
            <label for="" class="control-label">Social Security Number</label>
            <input type="text" class="form-control" placeholder="111-22-5555" ng-readonly="!edit">
          </div>
          <div class="col-lg-6 form-group">
            <label for="" class="control-label">Email</label>
            <input type="email" class="form-control" placeholder="lmartell75@gmail.com" ng-readonly="!edit">
          </div>
          <div class="col-lg-6 form-group">
            <label for="" class="control-label">Phone Number</label>
            <input type="tel" class="form-control" placeholder="347-567-0908" ng-readonly="!edit">
          </div>
          <div class="col-lg-12 form-group">
            <label for="" class="control-label">Street Address</label>
            <input type="text" class="form-control" placeholder="231 Oriental Blvd" ng-readonly="!edit">
          </div>
          <div class="col-lg-6 form-group">
            <label for="" class="control-label">City</label>
            <input type="text" class="form-control" placeholder="City" ng-readonly="!edit">
          </div>
          <div class="col-lg-6 form-group">
            <label for="" class="control-label">State</label>
            <fieldset ng-disabled="!edit">
              <select name="" id="" class="form-control">
                <option value=""></option>
                <option value="NY">NY</option>
                <option value="FL">FL</option>
              </select>
            </fieldset>
          </div>
          <div class="col-lg-6 form-group">
            <label for="" class="control-label">ZIP Code</label>
            <input type="number" class="form-control" placeholder="11235" ng-readonly="!edit">
          </div>
          <div class="col-lg-6 form-group">
            <label for="" class="control-label">Country</label>
            <fieldset ng-disabled="!edit">
              <select name="" id="" class="form-control" ng-readonly="!edit">
                <option value=""></option>
                <option value="US">United States</option>
                <option value="BR">Brazil</option>
              </select>
            </fieldset>
          </div>
          <div class="col-lg-12 text-center resetsave" ng-show="edit">
            <button class="btn btn-default" ng-click="form.$setPristine()">Reset</button>
            <button class="btn btn-primary" ng-click="edit=!edit">Save</button>
          </div>
        </div>
      </form>
    </div>
    <!-- END Business Owner Info -->

    <form class="custom-form">
      <div class="col-lg-12 form-inline form-group">
        <h2>Opening Hours</h2>
        <!-- <label for="" class="control-label">Time Format:</label>
        <div class="radio-inline">
          <label for="timeformat" class="radio-inline"><input type="radio" name="timeformat" ng-model="timeFormat" value="ampm" checked> AM/PM</label>
          <label for="timeformat" class="radio-inline"><input type="radio" name="timeformat" ng-model="timeFormat" value="24h"> 24 hours</label>
        </div> -->
        <table class="table timetable">
          <thead>
            <tr>
              <th class="col-md-4">Open</th>
              <th class="col-md-4">From</th>
              <th class="col-md-4">To</th>
              <th class="col-md-1">Split</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="day in weekdays" ng-class="{disabled: !day.open}">
              <td>
                <div class="checkbox weekday">
                  <label for="" class="control-label">
                    <input type="checkbox" name="" ng-model="day.open" ng-checked="day.open"> {{day.name}}
                  </label>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="time" ng-value="day.start1" class="form-control" ng-show="day.open">
                  <input type="time" ng-value="day.start2" class="form-control" ng-show="day.open && day.split">
                  <span ng-show="!day.open">CLOSED</span>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="time" ng-value="day.stop1" class="form-control" ng-show="day.open">
                  <input type="time" ng-value="day.stop2" class="form-control" ng-show="day.open && day.split">
                  <span ng-show="!day.open">CLOSED</span>
                </div>
              </td>
              <td>
                <div class="checkbox" ng-show="day.open"><input type="checkbox" ng-model="day.split" ng-checked="day.split"></div>
              </td>
            </tr>
          </tbody>
        </table><!-- END .timetable -->
      </div><!-- END Opening Hours -->
    </form>
  </div>
</div>
