<button class="dismiss" ng-click="$dismiss()"><i class="icon-close"></i></button>
<div class="container custom-form">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <form name="ownerForm" novalidate class="custom-form text-input">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>Edit Business Owner Info</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <label class="control-label">First Name</label> <span class="mandatory">*</span>
            <input name="fname" type="text" class="form-control" ng-model="object.owner.fname" required>
            <p ng-show="ownerForm.fname.$error.required && ownerForm.fname.$touched" class="help-block">This is a required field.</p>
          </div>

          <div class="col-md-6 form-group">
            <label class="control-label">Last Name</label> <span class="mandatory">*</span>
            <input name="lname" type="text" class="form-control" ng-model="object.owner.lname" required>
            <p ng-show="ownerForm.lname.$error.required && ownerForm.lname.$touched" class="help-block">This is a required field.</p>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-6 form-group">
            <label class="control-label">Date of Birth</label> <span class="mandatory">*</span>
            <input name="bday" type="date" class="form-control" ng-model="object.owner.bday" required>
            <p ng-show="ownerForm.bday.$error.required && ownerForm.bday.$touched" class="help-block">This is a required field.</p>
          </div>

          <div class="col-md-6 form-group">
            <label class="control-label">Social Security Number</label> <span class="mandatory">*</span>
            <input name="ssn" type="text" class="form-control" ng-model="object.owner.ssn" minlength="11" maxlength="11" required  ui-mask="999-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_">
            <p ng-show="ownerForm.ssn.$error.minlength" class="help-block">Social Security Number is too short.</p>
            <p ng-show="ownerForm.ssn.$error.maxlength" class="help-block">Social Security Number is too long.</p>
            <p ng-show="ownerForm.ssn.$error.required && ownerForm.ssn.$touched" class="help-block">This is a required field.</p>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-6 form-group">
            <label class="control-label">Email</label> <span class="mandatory">*</span>
            <input name="email" type="email" class="form-control" ng-model="object.owner.email" required>
            <p ng-show="ownerForm.email.$error.required && ownerForm.email.$touched" class="help-block">Make sure this is a valid email.</p>
          </div>

          <div class="col-md-6 form-group">
            <label class="control-label">Phone Number</label> <span class="mandatory">*</span>
            <input name="phone" type="tel" class="form-control" ng-model="object.owner.phone" minlength="14" maxlength="14" required ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_">
            <p ng-show="ownerForm.phone.$error.minlength" class="help-block">Phone Number is too short.</p>
            <p ng-show="ownerForm.phone.$error.maxlength" class="help-block">Phone Number is too long.</p>
            <p ng-show="ownerForm.phone.$error.required && ownerForm.phone.$touched" class="help-block">Make sure this is a valid phone number.</p>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12 form-group">
            <label class="control-label">Street Address 1</label> <span class="mandatory">*</span>
            <input name="addr1" type="text" class="form-control" ng-model="object.owner.addr1" required>
            <p ng-show="ownerForm.addr1.$error.required && ownerForm.addr1.$touched" class="help-block">This is a required field.</p>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12 form-group">
            <label class="control-label">Street Address 2 <span class="optional">(optional)</span></label>
            <input name="addr2" type="text" class="form-control" ng-model="object.owner.addr2">
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-6 form-group">
            <label class="control-label">City</label> <span class="mandatory">*</span>
            <input name="city" type="text" class="form-control" ng-model="object.owner.city" required>
            <p ng-show="ownerForm.city.$error.required && ownerForm.city.$touched" class="help-block">This is a required field.</p>
          </div>

          <div class="col-md-6 form-group">
            <label class="control-label">State</label> <span class="mandatory">*</span>
            <fieldset>
              <select name="state" ng-model="object.owner.state" class="form-control" required>
                <option value="">Pick</option>
                <option value="NY">NY</option>
                <option value="FL">FL</option>
              </select>
            </fieldset>
            <p ng-show="ownerForm.state.$error.required && ownerForm.state.$touched" class="help-block">This is a required field.</p>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-6 form-group">
            <label class="control-label">ZIP Code</label> <span class="mandatory">*</span>
            <input name="zip" type="number" class="form-control" ng-model="object.owner.zip" required>
            <p ng-show="ownerForm.zip.$error.minlength" class="help-block">Zip Code is too short.</p>
            <p ng-show="ownerForm.zip.$error.maxlength" class="help-block">Zip Code is too long.</p>
            <p ng-show="ownerForm.zip.$error.required && ownerForm.zip.$touched" class="help-block">This is a required field.</p>
          </div>

          <div class="col-md-6 form-group">
            <label class="control-label">Country</label> <span class="mandatory">*</span>
            <fieldset>
              <select name="country" ng-model="object.owner.country" class="form-control" required>
                <option value="">Pick one</option>
                <option value="US">United States</option>
                <option value="BR">Brazil</option>
              </select>
            </fieldset>
            <p ng-show="ownerForm.country.$error.required && ownerForm.country.$touched" class="help-block">This is a required field.</p>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12 text-center resetsave">
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="save()" ng-disabled="ownerForm.$invalid">Save</button>
          </div>
        </div><!-- END .row -->
      </form><!-- END Business Owner Info -->

    </div><!-- END .col-md-6 -->
  </div><!-- END .row -->
</div><!-- END .container -->
