.modal-dialog                     { border-radius: 0; height: 100%; margin: 0; width: 100%; }
.flyout                           { background: $white; height: 100%; overflow: auto; position: fixed; top: 0; left: 0; width: 100%;
  h1                              { font: 300 3.6rem $serif-font; margin: 40px 0; position: relative;
    &.channel-heading             { font-size: 2.3rem; text-align: center; }
    button.btn                    { background: none; bottom: 10px; color: $blue; font-size: 2rem; line-height: 3rem; padding: 0; position: absolute; right: 0; }
  }
  h4                              { font: 300 1.8rem $sans-font; margin-top: 30px; }
  .image                          { width: 100%; }
  .close                          { font-size: 18px; padding: 10px; }
  .status                         {
    &.cancelled                   { color: $red; }
    &.expired,
    &.fulfilled                   { color: $lightgray; }
    &.expiring,
    &.inprogress                  { color: $orange; }
    &.current,
    &.new                         { color: $green1; }
  }
  .channel-nav                    { border-bottom: 1px solid $blue; margin-bottom: 20px; }
  .nav-tabs                       { border-bottom: none;
    li                            { text-align: center; width: 20%;
      &.active                    {
        a                         { background: $white; border: 1px solid $blue; }
      }
      a                           { background: $beige; border: 1px solid $lightgray; border-bottom: 1px solid $blue; border-radius: 0; font-size: 3rem; margin: 0; }
    }
  }
  .wider-row                      { margin-left: -45px; margin-right: -45px; }
  .googlemap                      { margin-bottom: 10px; position: relative;
    iframe                        { border: none; height: 350px; width: 100%; }
    .reach                        { right: -220px; position: absolute; top: 0; width: 200px;
      h4                          { color: $lightgray; font-size: 16px; font-weight: bold; margin: 0}
      strong                      { color: $lightgray2; display: block; font-size: 16px; margin: 10px 0; }
      p                           { color: $black; font-size: 13px; }
    }
  }
  .age-range                      { vertical-align: middle;
    select                        { display: inline-block; width: 100px; }
  }
  .campaign-image                 {
    img                           { width: 100%; }
    ul                            { color: $lightgray2; font-size: 1.3rem; margin-top: 20px; padding: 0; }
  }
  form.custom-form                {
    .bottom-text                  { padding-top: 30px;
      small                       { color: $lightgray; }
    }
  }
  .table                          { margin-top: 20px;
    .tr                           {
      &.no-border                 {
        .th                       { border: none; font: 300 1.8rem $sans-font; }
      }
      .td, .th                    { padding: 15px 0;
        button                    { background: none; border: none; color: $blue; font-size: 2rem; padding: 0; }
      }
      .th                         { border-bottom: 2px solid $black; padding: 5px 0; }
    }
  }
  .integration-image              { margin-bottom: 40px; max-height: 50px; max-width: 200px; }
  .top-instructions               { border-bottom: 1px solid $lightgray; font-size: 18px; margin-bottom: 30px; text-align: center; }
  .shadowed                       { background: $beige; border: 1px solid $lightgray; margin-bottom: 20px; padding: 15px;
    &:last-child                  { margin-bottom: 0; }
  }
  .options-line                   { margin-bottom: 10px;
    .icon-close                   { position: relative; left: -10px; top: 10px; }
  }
  .dragable                       { list-style: none; margin: 0; padding: 0;
    li                            { background: $white; border: 1px solid $lightgray; margin-bottom: 10px; padding: 10px;
      &:last-child                { margin-bottom: 0; }
    }
  }
}
