.modal-dialog                     { border-radius: 0; height: 100%; margin: 0; width: 100%; }
.flyout                           { background: $white; height: 100%; position: fixed; top: 0; left: 0; width: 100%;
  h1                              { font: 300 4rem $serif-font; margin: 40px 0; }
  .close                          { font-weight: lighter; line-height: 1rem; padding: 10px; }
}
