<header class="top clearfix">
  <span class="hamburger" ng-click="$parent.navRevealed=true" ng-show="!navRevealed">&#9776;</span>
  <h1><span>Settings &gt;</span> {{pageTitle}}</h1>
</header>

<div class="col-md-10 main content">
  <h1>Users</h1>
  <div class="table userroles">
    <div class="thead">
      <div class="tr">
        <div class="th twenty-perc">Name</div>
        <div class="th twenty-perc">Role</div>
        <div class="th twenty-perc">Contact</div>
        <div class="th twenty-perc">Action</div>
      </div><!-- END .tr -->
    </div><!-- END .thead -->
    <div class="tbody">
      <form class="tr custom-form text-input" ng-repeat="user in users" novalidate>
        <div class="td form-group"><input class="form-control" type="text" placeholder="Name" ng-model="user.name" ng-readonly="!user.edit" required></div>

        <div class="td form-group">
          <fieldset ng-disabled="!user.edit">
            <select
              class="form-control"
              ng-model="user.role"
              ng-options="role.role as role.role for role in roles"
              required></select>
          </fieldset>
        </div>

        <div class="td form-group">
          <input class="form-control" type="text" ng-model="user.phone" ng-readonly="!user.edit" ui-mask="(999) 999-9999" required>
          <input class="form-control" type="text" ng-model="user.email" ng-readonly="!user.edit" required>
        </div>

        <div class="td form-group">

          <fieldset ng-show="!user.edit">
            <select
              class="form-control"
              ng-model="user.selection"
              ng-options="action.id as action.name for action in userActions"
              ng-change="actionChange(user,$index)"
              required></select>
          </fieldset>

          <div class="text-center" ng-show="user.edit">
            <button class="btn btn-link" ng-click="updateUser($index)"><i class="fa fa-check"></i></button>
            <button class="btn btn-link" ng-click="cancelUser($index)"><i class="fa fa-times"></i></button>
          </div>

        </div><!-- END .td ng-switch -->
      </form><!-- END form.tr -->

      <!-- add new user form -->
      <form class="tr custom-form text-input" ng-show="addingUser" novalidate>
        <div class="td form-group"><input class="form-control" type="text" placeholder="Name" ng-model="newUserName" required></div>
        <div class="td form-group">
          <fieldset>
            <select
              class="form-control"
              ng-model="newUserRole"
              placeholder="Role"
              ng-options="role.role as role.role for role in roles"
              required></select>
          </fieldset>
        </div>
        <div class="td form-group">
          <input class="form-control" type="tel" ng-model="newUserPhone" placeholder="Phone" required>
          <input class="form-control" type="email" ng-model="newUserEmail" placeholder="Email" required>
        </div>
        <div class="td form-group text-center">
          <button class="btn btn-link" ng-click="addUser(newUserName, newUserRole, newUserPhone, newUserEmail)"><i class="fa fa-check"></i></button>
          <button class="btn btn-link" ng-click="clearUser()"><i class="fa fa-times"></i></button>
        </div>
      </form><!-- END form.tr -->
      <!-- END add new user form -->

    </div><!-- END .tbody -->
  </div><!-- END .table -->
  <button class="btn btn-default btn-block btn-lg" ng-click="addingUser = true" ng-show="!addingUser">
    <i class="fa fa-plus"></i> Add User
  </button>

  <h1>Roles</h1>
  <div class="table userroles">
    <div class="thead">
      <div class="tr">
        <div class="th thirty-perc">Role</div>
        <div class="th thirty-perc">Access</div>
        <div class="th thirty-perc">Rights</div>
        <div class="th ten-perc"></div>
      </div><!-- END .tr -->
    </div><!-- END .thead -->
    <div class="tbody">
      <form class="tr custom-form text-input" ng-repeat="role in roles" novalidate>
        <div class="td">
          <input class="form-control" type="text" ng-model="role.role" ng-readonly="!role.edit" required>
        </div>

        <div class="td">
          <fieldset ng-show="role.edit">
            <select
              class="form-control"
              ng-model="role.access"
              ng-options="access.name as access.name for access in accesses"
              multiple></select>
          </fieldset>
          <span ng-show="!role.edit" ng-repeat="access in role.access">{{access}}{{$last ? '' : ', '}}</span>
        </div>

        <div class="td">
          <!-- TODO: fix this filter to display rights based on role access -->
          <span ng-repeat="access in accesses | filter:{name:role.access}">{{access.rights}}{{$last ? '' : ', '}}</span>
        </div>

        <div class="td text-center">
          <a ng-click="editRole($index)" ng-show="!role.edit"><i class="fa fa-pencil"></i></a>

          <div class="text-center" ng-show="role.edit">
            <button class="btn btn-link" ng-click="updateRole($index)"><i class="fa fa-check"></i></button>
            <button class="btn btn-link" ng-click="cancelRole($index)"><i class="fa fa-times"></i></button>
          </div>
        </div>
      </form><!-- END form.tr -->

      <form class="tr" ng-show="addingRole">
        <div class="td">
          <input type="text" class="form-control" ng-model="newRole" placeholder="Role" required>
        </div>

        <div class="td">
          <fieldset>
            <select
              class="form-control"
              ng-model="newAccess"
              ng-options="access.name as access.name for access in accesses"
              multiple></select>
          </fieldset>
        </div>

        <div class="td">TODO: show role rights</div>
        <div class="td">
          <button class="btn btn-link" ng-click="addRole(newRole, newAccess)"><i class="fa fa-check"></i></button>
          <button class="btn btn-link" ng-click="clearRole()"><i class="fa fa-times"></i></button>
        </div>
      </form><!-- END form.tr -->
    </div><!-- END .tbody -->
  </div><!-- END .table -->
  <button class="btn btn-default btn-block btn-lg" ng-click="addingRole = true" ng-show="!addingRole">
    <i class="fa fa-plus"></i> Add Role
  </button>
</div>
