<div class="flyout">
  <form name="addExistingFoodForm" class="container custom-form form-group">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <div class="row">
          <div class="col-md-12 text-center">
            <h1>Add Existing Food Item</h1>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12 top-instructions">
            <p>Item will be added to <strong>Appetizers</strong> in <strong>My Menu</strong></p>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12">
            <div class="form-group has-feedback">
              <input type="search" class="form-control" placeholder="Seach by name">
              <span class="icon-search form-control-feedback"></span>
            </div>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12 text-center resetsave">
            <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
            <button class="btn btn-primary" ng-click="$dismiss()" ng-disabled="addExistingFoodForm.$invalid">Save</button>
          </div>
        </div><!-- END .row -->

      </div><!-- END .col-md-6 -->
    </div><!-- END .row -->
  </form><!-- END .container -->
</div><!-- END .flyout -->
