<div class="flyout">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

          <form name="addFoodItemForm" class="custom-form food-item">
            <div class="row">
              <div class="col-md-12 text-center">
                <h1>Add Food Item</h1>
              </div>
            </div><!-- END .row -->

            <div class="row">
              <div class="col-md-12">
                <div class="top-instructions">
                  <p>Item will be added to <strong>My Menu</strong></p>
                </div>
              </div>
            </div><!-- END .row -->

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Category</label> <span class="mandatory">*</span>
                  <fieldset>
                    <select name="category" class="form-control" ng-options="cat._id as cat.name for cat in categories" ng-model="object.foodCategories" required></select>
                  </fieldset>
                  <p ng-show="addFoodItemForm.category.$error.required && addFoodItemForm.category.$touched" class="help-block">This is a required field.</p>
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label class="control-label">Name</label> <span class="mandatory">*</span>
                  <input name="name" type="text" class="form-control" ng-model="object.name" required>
                  <p ng-show="addFoodItemForm.name.$error.required && addFoodItemForm.name.$touched" class="help-block">This is a required field.</p>
                </div>
              </div>
            </div><!-- END .row -->

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Picture</label>
                  <img class="image" src="http://lorempixel.com/230/170/food/" alt="Vietnamese Pad Thai"/>
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label class="control-label">Description</label>
                  <textarea class="form-control" ng-model="object.description"></textarea>
                </div>
              </div>
            </div><!-- END .row -->

            <div class="shadowed-container">
              <div class="row price-type">
                <div class="col-md-6">
                  <div>
                    <label class="control-label">Price Type</label>
                  </div>
                  <div class="price-radio">
                    <label class="radio-inline"><input type="radio" name="priceType" ng-model="object.priceType" value="single"> Single <span></span></label>
                    <label class="radio-inline"><input type="radio" name="priceType" ng-model="object.priceType" value="variety"> Variety <span></span></label>
                  </div>
                </div>

                <div class="col-md-5" ng-show="object.priceType === 'single'">
                  <div class="form-group">
                    <label class="control-label">Value</label> <span class="mandatory">*</span>
                    <input name="priceSingle" type="text" class="form-control" ng-model="object.priceSingle" ng-required="object.priceType === 'single'">
                    <p ng-show="addFoodItemForm.priceSingle.$error.required && addFoodItemForm.priceSingle.$touched" class="help-block">This is a required field.</p>
                  </div>
                </div><!-- END .col-md-5 -->
              </div><!-- END .row.price-single -->

              <div ng-show="object.priceType === 'variety' && object.varieties.length < 1">
                <a ng-click="addVar()" class="add-something">Create Varieties</a>
              </div>
              <div class="row" ng-show="object.priceType === 'variety' && object.varieties.length > 0">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6">
                      <label class="control-label">Variety Name</label> <span class="mandatory">*</span> <span class="optional">(ex: Small Plate)</span>
                    </div>
                    <div class="col-md-5">
                      <label class="control-label">Price</label> <span class="mandatory">*</span>
                    </div>
                  </div><!-- END .row -->

                  <div class="row option-line" ng-repeat="var in object.varieties">
                    <div class="col-md-6">
                      <input name="varname{{$index}}" type="text" class="form-control" ng-model="var.name" ng-required="object.priceType === 'variety'"/>
                      <p ng-show="addFoodItemForm.varname{{$index}}.$error.required && addFoodItemForm.varname{{$index}}.$touched" class="help-block">This is a required field.</p>
                    </div>
                    <div class="col-md-5">
                      <input name="varprice{{$index}}" type="text" class="form-control" ng-model="var.price" ng-required="object.priceType === 'variety'"/>
                      <p ng-show="addFoodItemForm.varprice{{$index}}.$error.required && addFoodItemForm.varprice{{$index}}.$touched" class="help-block">This is a required field.</p>
                    </div>
                    <div class="col-md-1">
                      <i class="icon-close" ng-click="removeVar($index)"></i>
                    </div>
                  </div><!-- END .row -->
                </div>

                <div class="col-md-12">
                  <a class="add-something" ng-click="addVar()">+ Add Variety</a>
                </div>
              </div><!-- END .row -->
            </div><!-- END .shadowed -->


            <div class="shadowed-container">
              <div ng-show="object.options.length < 1">
                <a ng-click="addOption()" class="add-something">Create Options</a>
              </div>

              <div class="row" ng-show="object.options.length > 0">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6">
                      <label class="control-label">Option Name</label> <span class="mandatory">*</span> <span class="optional">(ex: Extra Protein)</span>
                    </div>
                    <div class="col-md-5">
                      <label class="control-label">Price</label> <span class="mandatory">*</span>
                    </div>
                  </div><!-- END .row -->

                  <div class="row option-line" ng-repeat="opt in object.options">
                    <div class="col-md-6">
                      <input name="optname{{$index}}" type="text" class="form-control" ng-model="opt.name" required />
                      <p ng-show="addFoodItemForm.optname{{$index}}.$error.required && addFoodItemForm.optname{{$index}}.$touched" class="help-block">This is a required field.</p>
                    </div>
                    <div class="col-md-5">
                      <input name="optprice{{$index}}" type="text" class="form-control" ng-model="opt.price" required />
                      <p ng-show="addFoodItemForm.optprice{{$index}}.$error.required && addFoodItemForm.optprice{{$index}}.$touched" class="help-block">This is a required field.</p>
                    </div>
                    <div class="col-md-1">
                      <i class="icon-close" ng-click="removeOption($index)"></i>
                    </div>
                  </div><!-- END .row -->
                </div>

                <div class="col-md-12">
                  <a class="add-something" ng-click="addOption()">+ Add Option</a>
                </div>
              </div><!-- END .row -->
            </div><!-- END .shadowed -->


            <div class="shadowed-container">
              <div ng-show="object.choices.length < 1">
                <a ng-click="addChoice()" class="add-something">Create Choices</a>
              </div>

              <div class="row" ng-show="object.choices.length > 0">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-4">
                      <label class="control-label">Choice Type Name</label> <span class="mandatory">*</span> <span class="optional">(ex: Protein)</span>
                    </div>
                    <div class="col-md-7">
                      <label class="control-label">Choices</label> <span class="mandatory">*</span> <span class="optional">(ex: Chicken, Beef) (separate with commas)</span>
                    </div>
                  </div><!-- END .row -->

                  <div class="row option-line" ng-repeat="choice in object.choices">
                    <div class="col-md-4">
                      <input name="choicename{{$index}}" type="text" class="form-control" ng-model="choice.name" required />
                      <p ng-show="addFoodItemForm.choicename{{$index}}.$error.required && addFoodItemForm.choicename{{$index}}.$touched" class="help-block">This is a required field.</p>
                    </div>
                    <div class="col-md-7">
                      <input name="choicechoices{{$index}}" type="text" class="form-control" ng-model="choice.choices" required />
                      <p ng-show="addFoodItemForm.choicechoices{{$index}}.$error.required && addFoodItemForm.choicechoices{{$index}}.$touched" class="help-block">This is a required field.</p>
                    </div>
                    <div class="col-md-1">
                      <i class="icon-close" ng-click="removeChoice($index)"></i>
                    </div>
                  </div><!-- END .row -->
                </div>

                <div class="col-md-12">
                  <a class="add-something" ng-click="addChoice()">+ Add Choice</a>
                </div>
              </div><!-- END .row -->
            </div><!-- END .shadowed -->

            <div class="row">
              <div class="col-md-12 text-center resetsave">
                <button class="btn btn-default" ng-click="main.go('main.food-menus')">Cancel</button>
                <button class="btn btn-primary" ng-click="main.go('main.food-menus')" ng-disabled="addFoodItemForm.$invalid">Save</button>
              </div>
            </div><!-- END .row -->
          </form><!-- END .container -->

      </div>
    </div><!-- END .row -->
  </div><!-- END .container -->
</div><!-- END .flyout -->
