<form class="custom-form">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Edit Category</h1>
    </div>
  </div><!-- END .row -->

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="control-label">Name</label>
        <input type="text" class="form-control" value="Appetizers">
      </div>
    </div>
  </div><!-- END .row -->

  <div class="row">
    <div class="col-md-12">
      <label class="control-label">Food Item Order</label> <span class="optional">(drag to edit)</span>
      <div class="shadowed">
        <ul class="dragable">
          <li>Vietnamese Pad Thai
            <span class="pull-right fa fa-ellipsis-v"></span>
          </li>
          <li>Duck Dumplings
            <span class="pull-right fa fa-ellipsis-v"></span>
          </li>
          <li>Vegetable Spring Rolls
            <span class="pull-right fa fa-ellipsis-v"></span>
          </li>
        </ul>
      </div>
    </div>
  </div><!-- END .row -->

  <div class="row">
    <div class="col-md-12 resetsave text-center">
      <button class="btn btn-default" ng-click="main.go('main.food-menus')">Cancel</button>
      <button class="btn btn-danger" ng-click="main.go('^.remove')">Remove</button>
      <button class="btn btn-primary" ng-click="main.go('main.food-menus')">Save</button>
    </div>
  </div><!-- END .row -->
</form>
