<div ui-view></div>
<header class="top clearfix" ng-class="{expanded: !main.navRevealed}">
  <div class="row">
    <div class="col-md-5">
      <span class="hamburger" ng-click="main.navRevealed=true" ng-show="!main.navRevealed"><i class="icon-hamburger_menu"></i></span>
      <h1>{{pageTitle}}</h1>
    </div>
    <div class="col-md-2"><button class="btn btn-primary" ng-click="main.go('.createMenu')">+ New Food Menu</button></div>
    <div class="col-md-5"></div>
    <div class="invisible-layer" ng-show="invisibleLayer" ng-click="toggleFilter('');pickColumns=false;invisibleLayer=false;">&nbsp;</div>
  </div>
</header>


<div class="menu">
  <header>
    <div class="tab-group">
      <a ng-click="" ng-repeat="menu in menus"><div class="tab" ng-class="{active: menu.active}">{{menu.name}}</div></a>
    </div>
    <a href="/food-menus/menu/1/edit">Edit</a>
    <a href="/food-menus/menu/1/remove">Delete</a>
    <a href="/food-menus/menu/1/duplicate">Duplicate</a>
    <a href="/food-menus/menu/1/export">Export</a>
  </header>

  <div class="col-md-12 shadowed-container">

    <div class="row shadowed-subcontainer" ng-repeat="cat in categories">
      <div class="col-md-12">
        <header>
          <h3>{{cat.name}}</h3>
          <a href="/food-menus/category/{{cat._id}}" class="pull-right">Edit</a>
        </header>
      </div>
      <div class="col-md-12">
        <div class="table">
          <div class="tbody">
            <div class="tr" ng-repeat="item in foodItems">
              <div class="td"><a href="/food-menus/food/{{food._id}}">{{item.name}}</a></div>
              <div class="td">{{item.description}}</div>
              <div class="td text-right">{{item.priceSingle | currency}}</div>
            </div>
          </div>
        </div><!-- END .table -->
      </div>
      <div class="col-md-12  border-top">
        <div class="btn-group" uib-dropdown>
          <button type="button" class="btn btn-add-food" uib-dropdown-toggle>
            + Add Food Item <span class="caret"></span>
          </button>
          <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a ng-click="main.go('.createFood')">New Food Item</a></li>
            <li role="menuitem"><a ng-click="main.go('.addFood')">Existing Food Item</a></li>
          </ul>
        </div>
      </div>
    </div><!-- END .shadowed-subcontainer -->

    <div class="row shadowed-subcontainer">
      <div class="col-md-12">
        <a ng-click="main.go('.createCategory')" class="add-something">+ Add Category</a>
      </div>
    </div><!-- END .shadowed-subcontainer -->
  </div><!-- END .shadowed-container -->
</div><!-- END .menu -->
