<button class="dismiss" ng-click="$dismiss()"><i class="icon-close"></i></button>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2" ng-show="action === 'view'">
      <form class="custom-form">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Vietnamese Pad Thai</h1>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-4 column">
            <img class="image" src="http://cdn3.volusion.com/jwxkn.khzdw/v/vspfiles/photos/6oz.%20Filet%20Mignon-2.jpg?1345750845" alt="Vietnamese Pad Thai"/>
          </div>
          <div class="col-md-8 column">
            <div class="row">
              <div class="col-md-6">
                <p>No rice. Stir-fried rice noodles with shredded vegetables, egg and crushed peanut, served with nuoc cham sauce on side.</p>
                <p><strong>$8.50</strong></p>
              </div>
              <div class="col-md-6">
                <p class="extra-margin"><strong>Food Menu</strong><br/>
                  My Menu</p>
                <p><strong>Category</strong><br/>
                  Appetizers</p>
              </div>
            </div><!-- END .row -->
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-4 column">
            <div class="row">
              <div class="col-md-12">
                <h4 class="table-title">Varieties</h4>
                <div class="table food-item-table">
                  <div class="tbody">
                    <div class="tr">
                      <div class="td"><strong>Small Plate</strong></div>
                      <div class="td text-right">$6.00</div>
                    </div>
                    <div class="tr">
                      <div class="td"><strong>Large Plate</strong></div>
                      <div class="td text-right">$8.00</div>
                    </div>
                  </div>
                </div><!-- END .table -->
              </div>
            </div><!-- END .row -->

            <div class="row">
              <div class="col-md-12">
                <h4 class="table-title">Options</h4>
                <div class="table food-item-table">
                  <div class="tbody">
                    <div class="tr">
                      <div class="td"><strong>Extra Protein</strong></div>
                      <div class="td text-right">$3.50</div>
                    </div>
                  </div>
                </div><!-- END .table -->
              </div>
            </div><!-- END .row -->
          </div>

          <div class="col-md-8 column">
            <h4 class="table-title">Choices</h4>
            <div class="table food-item-table">
              <div class="tbody">
                <div class="tr">
                  <div class="td"><strong>Protein</strong></div>
                  <div class="td">Chicken, Beef, Shrimp, Tofu</div>
                </div>
                <div class="tr">
                  <div class="td"><strong>Noodles</strong></div>
                  <div class="td">Rice, Egg, Potato</div>
                </div>
              </div>
            </div><!-- END .table -->
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12 resetsave text-center">
            <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
            <button class="btn btn-danger" ng-click="action = 'remove'">Remove</button>
            <button class="btn btn-primary" ng-click="action = 'edit'">Edit</button>
          </div>
        </div><!-- END .row -->
      </form>
    </div><!-- END .col-md-8 -->

    <div class="col-md-8 col-md-offset-2" ng-show="action === 'edit'">
      <form name="editFoodItemForm" class="custom-form food-item">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Edit Food Item</h1>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Category</label> <span class="mandatory">*</span>
              <fieldset>
                <select name="category" class="form-control" ng-options="cat._id as cat.name for cat in categories" ng-model="object.foodCategories" required>
                  <option value="">Pick one</option>
                </select>
              </fieldset>
              <p ng-show="editFoodItemForm.category.$error.required && editFoodItemForm.category.$touched" class="help-block">This is a required field.</p>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label class="control-label">Name</label> <span class="mandatory">*</span>
              <input name="name" type="text" class="form-control" ng-model="object.name" required>
              <p ng-show="editFoodItemForm.name.$error.required && editFoodItemForm.name.$touched" class="help-block">This is a required field.</p>
            </div>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label">Picture</label>
              <img class="image" src="http://lorempixel.com/230/170/food/" alt="Vietnamese Pad Thai"/>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label class="control-label">Description</label>
              <textarea class="form-control" ng-model="object.description"></textarea>
            </div>
          </div>
        </div><!-- END .row -->

        <div class="shadowed-container">
          <div class="row price-type">
            <div class="col-md-6">
              <div>
                <label class="control-label">Price Type</label>
              </div>
              <div class="price-radio">
                <label class="radio-inline"><input type="radio" name="priceType" ng-model="object.priceType" value="single"> Single <span></span></label>
                <label class="radio-inline"><input type="radio" name="priceType" ng-model="object.priceType" value="variety"> Variety <span></span></label>
              </div>
            </div>

            <div class="col-md-5" ng-show="object.priceType === 'single'">
              <div class="form-group">
                <label class="control-label">Value</label> <span class="mandatory">*</span>
                <input name="priceSingle" type="text" class="form-control" ng-model="object.priceSingle" ng-required="object.priceType === 'single'">
                <p ng-show="editFoodItemForm.priceSingle.$error.required && editFoodItemForm.priceSingle.$touched" class="help-block">This is a required field.</p>
              </div>
            </div><!-- END .col-md-5 -->
          </div><!-- END .row.price-single -->

          <div ng-show="object.priceType === 'variety' && object.varieties.length < 1">
            <a ng-click="addVar()" class="add-something">Create Varieties</a>
          </div>
          <div class="row" ng-show="object.priceType === 'variety' && object.varieties.length > 0">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <label class="control-label">Variety Name</label> <span class="mandatory">*</span> <span class="optional">(ex: Small Plate)</span>
                </div>
                <div class="col-md-5">
                  <label class="control-label">Price</label> <span class="mandatory">*</span>
                </div>
              </div><!-- END .row -->

              <div class="row option-line" ng-repeat="var in object.varieties">
                <div class="col-md-6">
                  <input name="varname{{$index}}" type="text" class="form-control" ng-model="var.name" ng-required="object.priceType === 'variety'"/>
                  <p ng-show="editFoodItemForm.varname{{$index}}.$error.required && editFoodItemForm.varname{{$index}}.$touched" class="help-block">This is a required field.</p>
                </div>
                <div class="col-md-5">
                  <input name="varprice{{$index}}" type="text" class="form-control" ng-model="var.price" ng-required="object.priceType === 'variety'"/>
                  <p ng-show="editFoodItemForm.varprice{{$index}}.$error.required && editFoodItemForm.varprice{{$index}}.$touched" class="help-block">This is a required field.</p>
                </div>
                <div class="col-md-1">
                  <i class="icon-close" ng-click="removeVar($index)"></i>
                </div>
              </div><!-- END .row -->
            </div>

            <div class="col-md-12">
              <a class="add-something" ng-click="addVar()">+ Add Variety</a>
            </div>
          </div><!-- END .row -->
        </div><!-- END .shadowed -->


        <div class="shadowed-container">
          <div ng-show="object.options.length < 1">
            <a ng-click="addOption()" class="add-something">Create Options</a>
          </div>

          <div class="row" ng-show="object.options.length > 0">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <label class="control-label">Option Name</label> <span class="mandatory">*</span> <span class="optional">(ex: Extra Protein)</span>
                </div>
                <div class="col-md-5">
                  <label class="control-label">Price</label> <span class="mandatory">*</span>
                </div>
              </div><!-- END .row -->

              <div class="row option-line" ng-repeat="opt in object.options">
                <div class="col-md-6">
                  <input name="optname{{$index}}" type="text" class="form-control" ng-model="opt.name" required />
                  <p ng-show="editFoodItemForm.optname{{$index}}.$error.required && editFoodItemForm.optname{{$index}}.$touched" class="help-block">This is a required field.</p>
                </div>
                <div class="col-md-5">
                  <input name="optprice{{$index}}" type="text" class="form-control" ng-model="opt.price" required />
                  <p ng-show="editFoodItemForm.optprice{{$index}}.$error.required && editFoodItemForm.optprice{{$index}}.$touched" class="help-block">This is a required field.</p>
                </div>
                <div class="col-md-1">
                  <i class="icon-close" ng-click="removeOption($index)"></i>
                </div>
              </div><!-- END .row -->
            </div>

            <div class="col-md-12">
              <a class="add-something" ng-click="addOption()">+ Add Option</a>
            </div>
          </div><!-- END .row -->
        </div><!-- END .shadowed -->


        <div class="shadowed-container">
          <div ng-show="object.choices.length < 1">
            <a ng-click="addChoice()" class="add-something">Create Choices</a>
          </div>

          <div class="row" ng-show="object.choices.length > 0">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <label class="control-label">Choice Type Name</label> <span class="mandatory">*</span> <span class="optional">(ex: Protein)</span>
                </div>
                <div class="col-md-7">
                  <label class="control-label">Choices</label> <span class="mandatory">*</span> <span class="optional">(ex: Chicken, Beef) (separate with commas)</span>
                </div>
              </div><!-- END .row -->

              <div class="row option-line" ng-repeat="choice in object.choices">
                <div class="col-md-4">
                  <input name="choicename{{$index}}" type="text" class="form-control" ng-model="choice.name" required />
                  <p ng-show="editFoodItemForm.choicename{{$index}}.$error.required && editFoodItemForm.choicename{{$index}}.$touched" class="help-block">This is a required field.</p>
                </div>
                <div class="col-md-7">
                  <input name="choicechoices{{$index}}" type="text" class="form-control" ng-model="choice.choices" required />
                  <p ng-show="editFoodItemForm.choicechoices{{$index}}.$error.required && editFoodItemForm.choicechoices{{$index}}.$touched" class="help-block">This is a required field.</p>
                </div>
                <div class="col-md-1">
                  <i class="icon-close" ng-click="removeChoice($index)"></i>
                </div>
              </div><!-- END .row -->
            </div>

            <div class="col-md-12">
              <a class="add-something" ng-click="addChoice()">+ Add Choice</a>
            </div>
          </div><!-- END .row -->
        </div><!-- END .shadowed -->

        <div class="row">
          <div class="col-md-12 resetsave text-center">
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="save()" ng-disabled="editFoodItemForm.$invalid">Save</button>
          </div>
        </div><!-- END .row -->
      </form>
    </div><!-- END .col-md-8 -->

    <div class="col-md-8 col-md-offset-2" ng-show="action === 'remove'">
      <form class="custom-form">
        <div class="row text-center">
          <div class="col-md-12">
            <h1>Remove Food Item</h1>
            <p><strong>Are you sure that you want to remove this Food Item?</strong></p>
            <p>Vietnamese Pad Thai</p>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12 resetsave text-center">
            <button class="btn btn-default" ng-click="action = 'view'">Cancel</button>
            <button class="btn btn-danger" ng-click="delete()">Confirm</button>
          </div>
        </div><!-- END .row -->
      </form>
    </div><!-- END .col-md-8 -->
  </div><!-- END .row -->
</div><!-- END .container -->
