.menu                             { padding: 30px;
  .shadowed-container             { padding: 20px 35px;
    header                        { margin-left: -15px; margin-right: -15px; }
    h2                            { font: 500 18px $sans-font; }
    .table                        { width: 100%;
      .td                         { white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
        &:nth-child(1)            { width: 20%; }
        &:nth-child(2)            { width: 70%; }
        &:nth-child(3)            { width: 10%; }
      }
    }
    .btn-group                    { margin: 10px 0 10px -8px; }
  }
}
