.menu                             { padding: 30px;
  > header                        { margin-bottom: 20px;
    .tab-group                    {
      & ~ a                       { line-height: 35px; margin-left: 20px; }
    }
  }
  .shadowed-container             { padding: 20px 35px;
    .shadowed-subcontainer        {
      &:first-child               { margin-top: 0; }
    }
    h2                            { font: 500 18px $sans-font; }
    .table                        { width: 100%;
      .td                         { height: 65px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
        &:nth-child(1)            { width: 20%; }
        &:nth-child(2)            { width: 70%; }
        &:nth-child(3)            { width: 10%; }
      }
    }
    .border-top                   { height: 65px; }
    .btn-group                    { margin: 15px 0 0 -8px; }
  }
}
