<button class="dismiss" ng-click="$dismiss()"><i class="icon-close"></i></button>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" ng-show="action === 'edit'">
      <form class="custom-form">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>Edit Category</h1>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Name</label>
              <input type="text" class="form-control" value="Appetizers">
            </div>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12">
            <label class="control-label">Food Item Order</label> <span class="optional">(drag to edit)</span>
            <div class="shadowed-container">
              <ul class="dragable">
                <li>Vietnamese Pad Thai
                  <span class="handle fa fa-ellipsis-v"></span>
                </li>
                <li>Duck Dumplings
                  <span class="handle fa fa-ellipsis-v"></span>
                </li>
                <li>Vegetable Spring Rolls
                  <span class="handle fa fa-ellipsis-v"></span>
                </li>
              </ul>
            </div>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12 resetsave text-center">
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button class="btn btn-danger" ng-click="action = 'remove'">Remove</button>
            <button class="btn btn-primary" ng-click="save()">Save</button>
          </div>
        </div><!-- END .row -->
      </form>
    </div><!-- END .col-md-6 -->

    <div class="col-md-6 col-md-offset-3" ng-show="action === 'remove'">
      <form class="custom-form">
        <div class="row text-center">
          <div class="col-md-12">
            <h1>Remove Category</h1>
            <p><strong>Are you sure that you want to remove this Category?</strong></p>
            <p><strong>All its food items will be removed too.</strong></p>
            <p>Appetizers</p>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12 resetsave text-center">
            <button class="btn btn-default" ng-click="action = 'edit'">Cancel</button>
            <button class="btn btn-danger" ng-click="delete()">Confirm</button>
          </div>
        </div><!-- END .row -->
      </form>
    </div><!-- END .col-md-6 -->
  </div><!-- END .row -->
</div><!-- END .container -->
