<div class="flyout">
  <button class="close" ng-click="$dismiss()"><i class="icon-close"></i></button>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form class="custom-form">
          <div class="row text-center">
            <div class="col-md-12">
              <h1>Remove Food Item</h1>
              <p><strong>Are you sure that you want to remove this Food Item?</strong></p>
              <p>Vietnamese Pad Thai</p>
            </div>
          </div><!-- END .row -->

          <div class="row">
            <div class="col-md-12 resetsave text-center">
              <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
              <button class="btn btn-danger" ng-click="$dismiss()">Confirm</button>
            </div>
          </div><!-- END .row -->
        </form>
      </div><!-- END .col-md-6 -->
    </div><!-- END .row -->
  </div><!-- END .container -->
</div><!-- END .flyout -->

