<form class="custom-form">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>Remove Category</h1>
      <p><strong>Are you sure that you want to remove this Category?</strong></p>
      <p><strong>All its food items will be removed too.</strong></p>
      <p>Appetizers</p>
    </div>
  </div><!-- END .row -->

  <div class="row">
    <div class="col-md-12 resetsave text-center">
      <button class="btn btn-default" ng-click="main.go('^.edit')">Cancel</button>
      <button class="btn btn-danger" ng-click="main.go('main.food-menus')">Confirm</button>
    </div>
  </div><!-- END .row -->
</form>
