<form class="custom-form">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>Remove Food Item</h1>
      <p><strong>Are you sure that you want to remove this Food Item?</strong></p>
      <p>Vietnamese Pad Thai</p>
    </div>
  </div><!-- END .row -->

  <div class="row">
    <div class="col-md-12 resetsave text-center">
      <button class="btn btn-default" ng-click="modal.object.delete = !modal.object.delete">Cancel</button>
      <button class="btn btn-danger" ng-click="modal.object.delete = !modal.object.delete">Confirm</button>
    </div>
  </div><!-- END .row -->
</form>
