<form class="custom-form">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Vietnamese Pad Thai</h1>
    </div>
  </div><!-- END .row -->

  <div class="row">
    <div class="col-md-4">
      <img class="image" src="http://cdn3.volusion.com/jwxkn.khzdw/v/vspfiles/photos/6oz.%20Filet%20Mignon-2.jpg?1345750845" alt="Vietnamese Pad Thai"/>
    </div>
    <div class="col-md-4">
      <p>No rice. Stir-fried rice noodles with shredded vegetables, egg and crushed peanut, served with nuoc cham sauce on side.</p>
      <p><strong>$8.50</strong></p>
    </div>
    <div class="col-md-4">
      <p>
        <strong>Food Menu</strong><br/>
        My Menu
      </p>
      <p>
        <strong>Category</strong><br/>
        Appetizers
      </p>
    </div>
  </div><!-- END .row -->

  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <div class="table">
            <div class="thead">
              <div class="tr">
                <div class="th">Varieties</div>
              </div>
            </div>
            <div class="tbody">
              <div class="tr">
                <td><strong>Small Plate</strong></td>
                <td class="text-right">$6.00</td>
              </div>
              <div class="tr">
                <td><strong>Large Plate</strong></td>
                <td class="text-right">$8.00</td>
              </div>
            </div>
          </div><!-- END .table -->
        </div>
      </div><!-- END .row -->

      <div class="row">
        <div class="col-md-12">
          <div class="table">
            <div class="thead">
              <div class="tr">
                <div class="th">Options</div>
              </div>
            </div>
            <div class="tbody">
              <div class="tr">
                <td><strong>Extra Protein</strong></td>
                <td class="text-right">$3.50</td>
              </div>
            </div>
          </div><!-- END .table -->
        </div>
      </div><!-- END .row -->
    </div>

    <div class="col-md-8">
      <div class="table">
        <div class="thead">
          <div class="tr">
            <div class="th">Choices</div>
          </div>
        </div>
        <div class="tbody">
          <div class="tr">
            <td><strong>Protein</strong></td>
            <td>Chicken, Beef, Shrimp, Tofu</td>
          </div>
          <div class="tr">
            <td><strong>Noodles</strong></td>
            <td>Rice, Egg, Potato</td>
          </div>
        </div>
      </div><!-- END .table -->
    </div>
  </div><!-- END .row -->

  <div class="row">
    <div class="col-md-12 resetsave text-center">
      <button class="btn btn-default" ng-click="main.go('main.food-menus')">Cancel</button>
      <button class="btn btn-danger" ng-click="main.go('^.remove')">Remove</button>
      <button class="btn btn-primary" ng-click="main.go('^.edit')">Edit</button>
    </div>
  </div><!-- END .row -->
</form>
