<div class="flyout">
  <button class="close" ng-click="$dismiss()"><i class="icon-close"></i></button>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form class="custom-form">
          <div class="row">
            <div class="col-md-12">
              <h1 class="text-center">Vietnamese Pad Thai</h1>
            </div>
          </div><!-- END .row -->

          <div class="row">
            <div class="col-md-4 column">
              <img class="image" src="http://cdn3.volusion.com/jwxkn.khzdw/v/vspfiles/photos/6oz.%20Filet%20Mignon-2.jpg?1345750845" alt="Vietnamese Pad Thai"/>
            </div>
            <div class="col-md-8 column">
              <div class="row">
                <div class="col-md-6">
                  <p>No rice. Stir-fried rice noodles with shredded vegetables, egg and crushed peanut, served with nuoc cham sauce on side.</p>
                  <p><strong>$8.50</strong></p>
                </div>
                <div class="col-md-6">
                  <p class="extra-margin"><strong>Food Menu</strong><br/>
                    My Menu</p>
                  <p><strong>Category</strong><br/>
                    Appetizers</p>
                </div>
              </div><!-- END .row -->
            </div>
          </div><!-- END .row -->

          <div class="row">
            <div class="col-md-4 column">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="table-title">Varieties</h4>
                  <div class="table food-item-table">
                    <div class="tbody">
                      <div class="tr">
                        <div class="td"><strong>Small Plate</strong></div>
                        <div class="td text-right">$6.00</div>
                      </div>
                      <div class="tr">
                        <div class="td"><strong>Large Plate</strong></div>
                        <div class="td text-right">$8.00</div>
                      </div>
                    </div>
                  </div><!-- END .table -->
                </div>
              </div><!-- END .row -->

              <div class="row">
                <div class="col-md-12">
                  <h4 class="table-title">Options</h4>
                  <div class="table food-item-table">
                    <div class="tbody">
                      <div class="tr">
                        <div class="td"><strong>Extra Protein</strong></div>
                        <div class="td text-right">$3.50</div>
                      </div>
                    </div>
                  </div><!-- END .table -->
                </div>
              </div><!-- END .row -->
            </div>

            <div class="col-md-8 column">
              <h4 class="table-title">Choices</h4>
              <div class="table food-item-table">
                <div class="tbody">
                  <div class="tr">
                    <div class="td"><strong>Protein</strong></div>
                    <div class="td">Chicken, Beef, Shrimp, Tofu</div>
                  </div>
                  <div class="tr">
                    <div class="td"><strong>Noodles</strong></div>
                    <div class="td">Rice, Egg, Potato</div>
                  </div>
                </div>
              </div><!-- END .table -->
            </div>
          </div><!-- END .row -->

          <div class="row">
            <div class="col-md-12 resetsave text-center">
              <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
              <button class="btn btn-danger" ng-click="main.go('^.remove')">Remove</button>
              <button class="btn btn-primary" ng-click="main.go('^.edit')">Edit</button>
            </div>
          </div><!-- END .row -->
        </form>
      </div><!-- END .col-md-6 -->
    </div><!-- END .row -->
  </div><!-- END .container -->
</div><!-- END .flyout -->
