<div class="flyout">
  <button class="close" ng-click="main.go()"><i class="icon-close"></i></button>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form name="orderForm" class="custom-form" novalidate>
          <div class="row">
            <div class="col-md-12 text-center">
              <h1>New Order</h1>
            </div>
          </div><!-- END .row -->

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Customer</label>
                <fieldset>
                  <select name="customer" class="form-control" ng-model="modal.object.owner" required ng-options="customer._id as (customer.fname + ' ' +customer.lname) for customer in customers">
                    <option value="">+ New Customer</option>
                  </select>
                </fieldset>
                <p ng-show="orderForm.customer.$error.required && orderForm.customer.$touched" class="help-block">This is a required field.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Type</label>
                <fieldset>
                  <select name="type" class="form-control" ng-model="modal.object.type" required>
                    <option value="">Pick one</option>
                    <option value="pickup">Pickup</option>
                    <option value="delivery">Delivery</option>
                  </select>
                </fieldset>
                <p ng-show="orderForm.type.$error.required && orderForm.type.$touched" class="help-block">This is a required field.</p>
              </div>
            </div>
          </div><!-- END .row -->

          <div ng-show="!modal.object.owner">
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label class="control-label">First Name</label> <span class="mandatory">*</span>
                  <input name="fname" type="text" ng-model="newCustomer.fname" class="form-control" ng-required="!modal.object.owner">
                  <p ng-show="orderForm.fname.$error.required && orderForm.fname.$touched" class="help-block">This is a required field.</p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label class="control-label">MI</label>
                  <input name="mname" type="text" ng-model="newCustomer.mname" class="form-control" maxlength="1">
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label class="control-label">Last Name</label> <span class="mandatory">*</span>
                  <input name="lname" type="text" ng-model="newCustomer.lname" class="form-control" ng-required="!modal.object.owner">
                  <p ng-show="orderForm.lname.$error.required && orderForm.lname.$touched" class="help-block">This is a required field.</p>
                </div>
              </div>
            </div><!-- END .row -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Home Phone</label> <span class="mandatory">*</span>
                  <input name="homePhone" type="tel" ng-model="newCustomer.homePhone" class="form-control" ng-required="!modal.object.owner" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_">
                  <p ng-show="orderForm.homePhone.$error.required && orderForm.homePhone.$touched" class="help-block">This is a required field.</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Mobile Phone</label> <span class="mandatory">*</span>
                  <input name="mobilePhone" type="tel" ng-model="newCustomer.mobilePhone" class="form-control" ng-required="!modal.object.owner" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_">
                  <p ng-show="orderForm.mobilePhone.$error.required && orderForm.mobilePhone.$touched" class="help-block">This is a required field.</p>
                </div>
              </div>
            </div><!-- END .row -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Personal Email</label> <span class="mandatory">*</span>
                  <input name="email" type="email" ng-model="newCustomer.email" class="form-control" ng-required="!modal.object.owner">
                  <p ng-show="orderForm.email.$error.required && orderForm.email.$touched" class="help-block">This is a required field.</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Work Email</label> <span class="mandatory">*</span>
                  <input name="workEmail" type="email" ng-model="newCustomer.workEmail" class="form-control" ng-required="!modal.object.owner">
                  <p ng-show="orderForm.workEmail.$error.required && orderForm.workEmail.$touched" class="help-block">This is a required field.</p>
                </div>
              </div>
            </div><!-- END .row -->
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Street Address</label> <span class="mandatory">*</span>
                  <input name="addr" type="text" ng-model="newCustomer.addr" class="form-control" ng-required="!modal.object.owner">
                  <p ng-show="orderForm.addr.$error.required && orderForm.addr.$touched" class="help-block">This is a required field.</p>
                </div>
              </div>
            </div><!-- END .row -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">City</label> <span class="mandatory">*</span>
                  <input name="city" type="text" ng-model="newCustomer.city" class="form-control" ng-required="!modal.object.owner">
                  <p ng-show="orderForm.city.$error.required && orderForm.city.$touched" class="help-block">This is a required field.</p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label class="control-label">State</label> <span class="mandatory">*</span>
                  <fieldset>
                    <select name="state" ng-model="newCustomer.state" class="form-control" ng-required="!modal.object.owner">
                      <option value="">Pick</option>
                      <option value="ca">CA</option>
                      <option value="fl">FL</option>
                      <option value="ny">NY</option>
                    </select>
                  </fieldset>
                  <p ng-show="orderForm.state.$error.required && orderForm.state.$touched" class="help-block">This is a required field.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Zip</label> <span class="mandatory">*</span>
                  <input name="zip" type="number" ng-model="newCustomer.zip" class="form-control" ng-required="!modal.object.owner">
                  <p ng-show="orderForm.zip.$error.required && orderForm.zip.$touched" class="help-block">This is a required field.</p>
                </div>
              </div>
            </div><!-- END .row -->
          </div><!-- END newCustomer -->

          <div class="row">
            <div class="col-md-12">
              <div class="table table-default table-edit-order">
                <div class="thead">
                  <div class="tr">
                    <div class="th">Food Item</div>
                    <div class="th">Category</div>
                    <div class="th">Quantity</div>
                    <div class="th">Price</div>
                    <div class="th"></div>
                  </div>
                </div><!-- END .thead -->

                <div class="tbody">
                  <div class="tr" ng-repeat="item in object.items">
                    <div class="td">
                      <div class="form-group">
                        <fieldset>
                          <select name="item" ng-model="item._id" class="form-control" ng-options="item._id as item.name for item in foodItems">
                            <option value="">Pick one</option>
                          </select>
                        </fieldset>
                      </div>
                    </div>
                    <div class="td">{{item.category}}</div>
                    <div class="td">
                      <div class="form-group">
                        <input type="number" ng-model="item.qty" class="form-control" min="1">
                      </div>
                    </div>
                    <div class="td">{{item.qty ? item.qty + ' &times; ' + item.price : ''}}</div>
                    <div class="td"><i class="icon-close" ng-click="object.items.splice($index,1)"></i></div>
                  </div><!-- END .tr -->
                </div><!-- END .tbody -->
              </div><!-- END .table -->

              <div class="pull-left"><a ng-click="object.items.push({qty: 1})">+ Add Item</a></div>
              <div class="pull-right">Total amount: <strong>{{object.total | currency}}</strong></div>
            </div>
          </div><!-- END .row -->

          <div class="row">
            <div class="col-md-12">
              <div class="resetsave text-center">
                <button class="btn btn-default" ng-click="main.go()">Cancel</button>
                <button class="btn btn-primary" ng-disabled="orderForm.$invalid" ng-click="main.go()">Save</button>
              </div>
            </div>
          </div><!-- END .row -->
        </form>

      </div><!-- END .col-md-6 -->
    </div><!-- END .row -->
  </div><!-- END .container -->
</div><!-- END .flyout -->
