.orders                           {
  &.table                         {
    .tr                           {
      .status                     {
        span                      {
          &.new                   { color: $green1; }
          &.inprogress            { color: $orange; }
          &.cancelled             { color: $red; }
          &.fulfilled             { color: $lightgray; }
        }
      }
      .td                         { padding: 15px 8px; }
    }
  }
  .order-details                  { margin-top: 80px;
    .order-summary                { margin-bottom: 20px; }
  }
}
