.orders                           {
  &.table                         {
    .tr                           {
      &.new                       {
        .status                   { color: $green1; }
      }
      &.inprogress                {
        .status                   { color: $orange; }
      }
      &.cancelled                 {
        .status                   { color: $red; }
      }
      &.fulfilled                 { color: $lightgray; }
      .td                         { padding: 15px 8px; }
    }
  }
  .order-details                  { margin-top: 80px;
    .order-summary                { margin-bottom: 20px; }
  }
}
