<form class="custom-form" name="userForm">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Edit User</h1>
    </div>
  </div><!-- END .row -->

  <div class="row">
    <div class="col-md-5 form-group">
      <label class="control-label">First Name</label> <span class="mandatory">*</span>
      <input type="text" name="fname" class="form-control" ng-model="getData(userId).fname" required>
      <p ng-show="userForm.fname.$error.required && userForm.fname.$touched" class="help-block">This is a required field.</p>
    </div>
    <div class="col-md-2 form-group">
      <label class="control-label">MI</label>
      <input type="text" class="form-control" ng-model="getData(userId).mname" maxlength="1">
    </div>
    <div class="col-md-5 form-group">
      <label class="control-label">Last Name</label> <span class="mandatory">*</span>
      <input type="text" name="lname" class="form-control" ng-model="getData(userId).lname" required>
      <p ng-show="userForm.lname.$error.required && userForm.lname.$touched" class="help-block">This is a required field.</p>
    </div>
  </div><!-- END .row -->

  <div class="row">
    <div class="col-md-6 form-group">
      <label class="control-label">Role</label> <span class="mandatory">*</span>
      <fieldset>
        <select name="role" class="form-control" ng-model="getData(userId).role" required>
          <option value="0">Role 1</option>
          <option value="1">Role 2</option>
          <option value="2">Role 3</option>
        </select>
      </fieldset>
      <p ng-show="userForm.role.$error.required && userForm.role.$touched" class="help-block">This is a required field.</p>
    </div>
    <div class="col-md-6 form-group">
      <label class="control-label">Phone</label> <span class="mandatory">*</span>
      <input type="text" name="phone" class="form-control" ng-model="getData(userId).phone" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" required>
      <p ng-show="userForm.phone.$error.required && userForm.phone.$touched" class="help-block">This is a required field.</p>
    </div>
  </div><!-- END .row -->

  <div class="row">
    <div class="col-md-12 form-group">
      <label class="control-label">Email</label> <span class="mandatory">*</span>
      <input type="email" name="email" class="form-control" ng-model="getData(userId).email" required>
      <p ng-show="userForm.email.$error.required && userForm.email.$touched" class="help-block">This is a required field.</p>
      <p ng-show="addUserForm.email.$error.email" class="help-block">This is not a valid email.</p>
    </div>
  </div><!-- END .row -->

  <div class="row">
    <div class="col-md-12 resetsave text-center">
      <button class="btn btn-default" ng-click="main.go('^.view')">Cancel</button>
      <button class="btn btn-primary" ng-click="main.go('main.users')" ng-disabled="userForm.$invalid">Save</button>
    </div>
  </div><!-- END .row -->
</form>
