<form class="custom-form">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="row">
        <div class="col-md-12">
          <h1>Remove User</h1>
          <p><strong>Are you sure that you want to remove this User?</strong></p>
          <p>{{getData(userId).fname + ' ' + getData(userId).lname}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 resetsave text-center">
          <button class="btn btn-default" ng-click="main.go('^.view')">Cancel</button>
          <button class="btn btn-danger" ng-click="main.go('main.users')">Confirm</button>
        </div>
      </div><!-- END .row -->
    </div>
  </div><!-- END .row -->
</form>
