<header class="top clearfix" ng-class="{expanded: !navRevealed}">
  <div class="row">
    <div class="col-md-5">
      <span class="hamburger" ng-click="$parent.$parent.navRevealed=true" ng-show="!navRevealed"><i class="icon-hamburger_menu"></i></span>
      <h1>{{pageTitle}}</h1>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" ng-click="customModal('addUserModal.html')">+ New User</button>
    </div>
    <div class="col-md-5">
      <div class="actions-right" ng-init="pickColumns=false">
        <i class="icon-export_data"></i>
        <i class="icon-grid" ng-click="showColumnPicker()"></i>
        <ul ng-show="pickColumns">
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.name"> Name</label></li>
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.role"> Role</label></li>
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.phone"> Phone</label></li>
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.email"> Email</label></li>
        </ul>
      </div>
    </div>
    <div
      class="invisible-layer"
      ng-show="invisibleLayer"
      ng-click="toggleFilter('');pickColumns=false;invisibleLayer=false;">
      &nbsp;
    </div>
  </div>
</header>

<div class="col-md-12 main">
  <div class="table userroles">
    <div class="thead">
      <div class="tr">

        <div class="th" ng-show="displayColumns.name">
          <div class="filter">
            <i class="icon-filter" ng-click="toggleFilter('name')"></i>
            <div ng-show="openFilter.name">
              <input type="text" ng-model="usersFilter.name">
            </div>
          </div>
          <span ng-click="clickedHeader='name'; reverse = !reverse">Name
            <i class="sortorder fa" ng-show="clickedHeader === 'name'" ng-class="{'fa-sort-desc':reverse, 'fa-sort-asc':!reverse}"></i>
            <i class="sortorder fa fa-sort" ng-hide="clickedHeader === 'name'"></i>
          </span>
        </div>

        <div class="th" ng-show="displayColumns.role">
          <div class="filter">
            <i class="icon-filter" ng-click="toggleFilter('role')"></i>
            <div ng-show="openFilter.role">
              <input type="text" ng-model="usersFilter.role">
            </div>
          </div>
          <span ng-click="clickedHeader='role'; reverse = !reverse">Role
            <i class="sortorder fa" ng-show="clickedHeader === 'role'" ng-class="{'fa-sort-desc':reverse, 'fa-sort-asc':!reverse}"></i>
            <i class="sortorder fa fa-sort" ng-hide="clickedHeader === 'role'"></i>
          </span>
        </div>

        <div class="th" ng-show="displayColumns.phone">
          <div class="filter">
            <i class="icon-filter" ng-click="toggleFilter('phone')"></i>
            <div ng-show="openFilter.phone">
              <input type="text" ng-model="usersFilter.phone">
            </div>
          </div>
          <span ng-click="clickedHeader='phone'; reverse = !reverse">Phone
            <i class="sortorder fa" ng-show="clickedHeader === 'phone'" ng-class="{'fa-sort-desc':reverse, 'fa-sort-asc':!reverse}"></i>
            <i class="sortorder fa fa-sort" ng-hide="clickedHeader === 'phone'"></i>
          </span>
        </div>

        <div class="th" ng-show="displayColumns.email">
          <div class="filter">
            <i class="icon-filter" ng-click="toggleFilter('email')"></i>
            <div ng-show="openFilter.email">
              <input type="text" ng-model="usersFilter.email">
            </div>
          </div>
          <span ng-click="clickedHeader='email'; reverse = !reverse">Email
            <i class="sortorder fa" ng-show="clickedHeader === 'email'" ng-class="{'fa-sort-desc':reverse, 'fa-sort-asc':!reverse}"></i>
            <i class="sortorder fa fa-sort" ng-hide="clickedHeader === 'email'"></i>
          </span>
        </div>
      </div><!-- END .tr -->
    </div><!-- END .thead -->

    <div class="tbody">
      <div
        class="tr"
        ng-repeat="user in users | filter:usersFilter | orderBy:clickedHeader:reverse | limitTo:displayingUsers
      ">
        <div class="td" ng-show="displayColumns.name"><a ng-click="customModal('userModal.html')">{{user.fname + ' ' + user.lname}}</a></div>
        <div class="td" ng-show="displayColumns.role">{{user.role}}</div>
        <div class="td" ng-show="displayColumns.phone">{{user.phone}}</div>
        <div class="td" ng-show="displayColumns.email">{{user.email}}</div>
      </div><!-- END .tr -->
    </div><!-- END .tbody -->
  </div><!-- END .table -->
  <button class="btn btn-flat center-block" ng-hide="!loadMore" ng-click="loadMore()">Load More</button>
</div><!-- END .col-md-12 -->




<script type="text/ng-template" id="addUserModal.html">
  <form class="container custom-form text-input" ng-hide="modal.object.delete">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Add User</h1>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-5 form-group">
            <label class="control-label">First Name</label>
            <input type="text" class="form-control" ng-model="modal.object.fname">
          </div>
          <div class="col-md-2 form-group">
            <label class="control-label">MI</label>
            <input type="text" class="form-control" ng-model="modal.object.mname">
          </div>
          <div class="col-md-5 form-group">
            <label class="control-label">Last Name</label>
            <input type="text" class="form-control" ng-model="modal.object.lname">
          </div>
        </div><!-- END .row -->
          
        <div class="row">
          <div class="col-md-6 form-group">
            <label class="control-label">Role</label>
            <!-- TODO: make this input a select with available roles -->
            <input type="text" class="form-control" ng-model="modal.object.role">
          </div>
          <div class="col-md-6 form-group">
            <label class="control-label">Phone</label>
            <input type="text" class="form-control" ng-model="modal.object.phone">
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12 form-group">
            <label class="control-label">Email</label>
            <input type="text" class="form-control" ng-model="modal.object.email">
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12 resetsave text-center">
            <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
            <button class="btn btn-primary" ng-click="$dismiss()">Save</button>
          </div>
        </div><!-- END .row -->
      </div><!-- END .col-md-6 -->
    </div><!-- END .row -->
  </form><!-- END .container -->
</script>

<script type="text/ng-template" id="userModal.html">
  <form class="container custom-form" ng-show="modal.object.delete">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <div class="row">
          <div class="col-md-12">
            <h1>Remove User</h1>
            <p><strong>Are you sure that you want to remove this User?</strong></p>
            <p>{{modal.object.fname + ' ' + modal.object.lname}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 resetsave text-center">
            <button class="btn btn-default" ng-click="modal.object.delete = !modal.object.delete">Cancel</button>
            <button class="btn btn-danger" ng-click="modal.object.delete = !modal.object.delete">Confirm</button>
          </div>
        </div><!-- END .row -->
      </div>
    </div><!-- END .row -->
  </form>

  <form class="container custom-form text-input" ng-hide="modal.object.delete" ng-init="modal.object = { edit: false, fname: 'Blake', mname: '', lname: 'Liveley', role: 'Owner', phone: 9173452680, email: 'bively@gmail.com' }">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center" ng-show="!modal.object.edit">{{modal.object.fname + ' ' + modal.object.lname}}</h1>
            <h1 class="text-center" ng-show="modal.object.edit">Edit User</h1>
          </div>
        </div><!-- END .row -->

        <div class="row" ng-hide="modal.object.edit">
          <div class="col-md-6">
            <p><strong>Role</strong><br>
               {{modal.object.role}}</p>
          </div>
          <div class="col-md-6">
            <p><strong>Phone</strong><br>
               {{modal.object.phone}}</p>
          </div>
        </div><!-- END .row -->
        <div class="row" ng-hide="modal.object.edit">
          <div class="col-md-6">
            <p><strong>Email</strong><br>
               {{modal.object.email}}</p>
          </div>
        </div><!-- END .row -->

        <div class="row" ng-show="modal.object.edit">
          <div class="col-md-5 form-group">
            <label class="control-label">First Name</label>
            <input type="text" class="form-control" ng-model="modal.object.fname">
          </div>
          <div class="col-md-2 form-group">
            <label class="control-label">MI</label>
            <input type="text" class="form-control" ng-model="modal.object.mname">
          </div>
          <div class="col-md-5 form-group">
            <label class="control-label">Last Name</label>
            <input type="text" class="form-control" ng-model="modal.object.lname">
          </div>
        </div><!-- END .row -->
          
        <div class="row" ng-show="modal.object.edit">
          <div class="col-md-6 form-group">
            <label class="control-label">Role</label>
            <!-- TODO: make this input a select with available roles -->
            <input type="text" class="form-control" ng-model="modal.object.role">
          </div>
          <div class="col-md-6 form-group">
            <label class="control-label">Phone</label>
            <input type="text" class="form-control" ng-model="modal.object.phone">
          </div>
        </div><!-- END .row -->

        <div class="row" ng-show="modal.object.edit">
          <div class="col-md-12 form-group">
            <label class="control-label">Email</label>
            <input type="text" class="form-control" ng-model="modal.object.email">
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12 resetsave text-center" ng-hide="modal.object.edit">
            <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
            <button class="btn btn-danger" ng-click="modal.object.delete = !modal.object.delete">Remove</button>
            <button class="btn btn-primary" ng-click="modal.object.edit = !modal.object.edit">Edit</button>
          </div>
        </div><!-- END .row -->
        <div class="row">
          <div class="col-md-12 resetsave text-center" ng-show="modal.object.edit">
            <button class="btn btn-default" ng-click="modal.object.edit = !modal.object.edit">Cancel</button>
            <button class="btn btn-primary" ng-click="modal.object.edit = !modal.object.edit">Save</button>
          </div>
        </div><!-- END .row -->
      </div><!-- END .col-md-6 -->
    </div><!-- END .row -->
  </form><!-- END .container -->
</script>