<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">{{getData(userId).fname + ' ' + getData(userId).lname}}</h1>
  </div>
</div><!-- END .row -->

<div class="row">
  <div class="col-md-6">
    <p><strong>Role</strong><br>
       {{userRole(getData(userId).role)}}</p>
  </div>
  <div class="col-md-6">
    <p><strong>Phone</strong><br>
       {{getData(userId).phone | phone}}</p>
  </div>
</div><!-- END .row -->

<div class="row">
  <div class="col-md-6">
    <p><strong>Email</strong><br>
       {{getData(userId).email}}</p>
    </div>
  </div><!-- END .row -->
</div>

<div class="row">
  <div class="col-md-12 resetsave text-center">
    <button class="btn btn-default" ng-click="main.go('main.users')">Cancel</button>
    <button class="btn btn-danger" ng-click="main.go('^.remove')">Remove</button>
    <button class="btn btn-primary" ng-click="main.go('^.edit')">Edit</button>
  </div>
</div><!-- END .row -->
