<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">{{modal.object.fname + ' ' + modal.object.lname}}</h1>
  </div>
</div><!-- END .row -->

<div class="row">
  <div class="col-md-6">
    <p><strong>Role</strong><br>
       {{modal.object.role}}</p>
  </div>
  <div class="col-md-6">
    <p><strong>Phone</strong><br>
       {{modal.object.phone}}</p>
  </div>
</div><!-- END .row -->

<div class="row">
  <div class="col-md-6">
    <p><strong>Email</strong><br>
       {{modal.object.email}}</p>
    </div>
  </div><!-- END .row -->
</div>

<div class="row">
  <div class="col-md-12 resetsave text-center">
    <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
    <button class="btn btn-danger" ng-click="modal.object.delete = !modal.object.delete">Remove</button>
    <button class="btn btn-primary" ng-click="modal.object.edit = !modal.object.edit">Edit</button>
  </div>
</div><!-- END .row -->
