<header class="top clearfix" ng-class="{expanded: !navRevealed}">
  <div class="row">
    <div class="col-md-5">
      <span class="hamburger" ng-click="$parent.navRevealed=true" ng-show="!navRevealed"><i class="icon-hamburger_menu"></i></span>
      <h1>{{pageTitle}}</h1>
      <time datetime="{{currentDate.now() | date: 'yyyy-MM-dd hh:mm'}}">{{currentDate.now() | date: 'MMMM d, yyyy, h:mm'}} {{(currentDate.now() | date: 'a').toLowerCase()}}</time>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <div class="actions-right" ng-init="pickColumns=false">
        <i class="icon-export_data"></i>
        <i class="icon-grid" ng-click="showColumnPicker()"></i>
        <ul ng-show="pickColumns">
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.orders">Recent Orders</label></li>
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.reservations">Recent Reservations</label></li>
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.campaigns">Current Campaign</label></li>
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.updates">Settings Updates</label></li>
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.trends">Trends</label></li>
          <button class="btn btn-default">Change Positions</button>
        </ul>
      </div>
    </div>
    <div
      class="invisible-layer"
      ng-show="invisibleLayer"
      ng-click="toggleFilter('');pickColumns=false;invisibleLayer=false;">
      &nbsp;
    </div>
  </div>
</header>

<div class="container-fluid dashboard">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6" ng-show="displayColumns.orders">
          <div class="shadowed-container">
            <header>
              <h2>Recent Orders</h2>
              <i class="fa pull-right" ng-class="{'fa-chevron-up': !collapsed, 'fa-chevron-down': collapsed}" ng-click="collapsed = !collapsed"></i>
            </header>
            <div class="collapsable" ng-show="!collapsed">
              <div class="row shadowed-subcontainer">
                <div class="table">
                  <div class="thead">
                    <div class="tr">
                      <div class="th">Order No</div>
                      <div class="th">Time</div>
                      <div class="th">Type</div>
                      <div class="th">Status</div>
                    </div>
                  </div>
                  <div class="tbody">
                    <div class="tr">
                      <div class="td"><a href="javascript:void(0)">037565</a></div>
                      <div class="td">10:25 PM</div>
                      <div class="td">Pickup</div>
                      <div class="td status new">New</div>
                    </div>
                    <div class="tr">
                      <div class="td"><a href="javascript:void(0)">037565</a></div>
                      <div class="td">10:25 PM</div>
                      <div class="td">Delivery</div>
                      <div class="td status inprogress">In Progress</div>
                    </div>
                    <div class="tr">
                      <div class="td"><a href="javascript:void(0)">037565</a></div>
                      <div class="td">10:25 PM</div>
                      <div class="td">Delivery</div>
                      <div class="td status inprogress">In Progress</div>
                    </div>
                    <div class="tr">
                      <div class="td"><a href="javascript:void(0)">037565</a></div>
                      <div class="td">10:25 PM</div>
                      <div class="td">Pickup</div>
                      <div class="td status cancelled">Cancelled</div>
                    </div>
                  </div>
                </div><!-- END .table -->
              </div><!-- END .row -->

              <div class="row bottom-link">
                <div class="col-md-4 col-md-offset-8 text-right">
                  <a href="/orders">All Orders ›</a>
                </div>
              </div><!-- .row -->

            </div><!-- END .collapsable -->
          </div><!-- END .shadowed-container -->
        </div>

        <div class="col-md-6" ng-show="displayColumns.reservations">
          <div class="shadowed-container">
            <header>
              <h2>Recent Reservations</h2>
              <i class="fa pull-right" ng-class="{'fa-chevron-up': !collapsed, 'fa-chevron-down': collapsed}" ng-click="collapsed = !collapsed"></i>
            </header>
            <div class="collapsable" ng-show="!collapsed">
              <div class="row shadowed-subcontainer">
                <div class="calendar-overflow">
                  <div class="calendar-widget">
                    <ul class="cal-row">
                      <li ng-repeat="quarter in quarters track by $index">{{quarter}}</li>
                    </ul>
                    <div class="cal-row">
                      <div class="booked pending" style="left: 550px; width: 500px;"><span>Table for 4</span></div>
                    </div>
                    <div class="cal-row">
                      <div class="booked active" style="left: 300px; width: 600px;"><span>Table for 6</span></div>
                    </div>
                    <div class="cal-row">
                      <div class="booked closed" style="left: 0px; width: 400px;"><span>Table for 4</span></div>
                      <div class="booked pending" style="left: 500px; width: 450px;"><span>Table for 4</span></div>
                    </div>
                    <div class="cal-row">
                      <div class="booked active" style="left: 250px; width: 350px;"><span>Table for 4</span></div>
                    </div>
                    <div class="cal-row">
                      <div class="booked active" style="left: 150px; width: 450px;"><span>Table for 4</span></div>
                    </div>
                    <div class="cal-row">
                      <div class="booked pending" style="left: 475px; width: 400px;"><span>Table for 4</span></div>
                    </div>
                  </div><!-- END .calendar-widget -->
                </div>
              </div><!-- END .row -->

              <div class="row bottom-link">
                <div class="col-md-4 col-md-offset-8 text-right">
                  <a href="/reservations">All Reservations ›</a>
                </div>
              </div><!-- .row -->

            </div><!-- END .collapsable -->
          </div><!-- END .shadowed-container -->
        </div>

        <div class="col-md-6" ng-show="displayColumns.campaigns">
          <div class="shadowed-container">
            <header>
              <h2>Current Campaigns</h2>
              <i class="fa pull-right" ng-class="{'fa-chevron-up': !collapsed, 'fa-chevron-down': collapsed}" ng-click="collapsed = !collapsed"></i>
            </header>
            <div class="collapsable" ng-show="!collapsed">
              <div class="row shadowed-subcontainer">
                <div class="table">
                  <div class="thead">
                    <div class="tr">
                      <div class="th">Campaign</div>
                      <div class="th">Enabled Channels</div>
                      <div class="th">Expiry Date</div>
                    </div>
                  </div>
                  <div class="tbody">
                    <div class="tr">
                      <div class="td">Children Eat Free</div>
                      <div class="td">
                        <a href="javascript:void(0)"><i class="icon-Facebook"></i></a>
                        <a href="javascript:void(0)"><i class="icon-Twitter"></i></a>
                        <a href="javascript:void(0)"><i class="icon-GooglePlus"></i></a>
                        <a href="javascript:void(0)"><i class="icon-Newsletter"></i></a>
                        <a href="javascript:void(0)"><i class="icon-Banner"></i></a>
                      </div>
                      <div class="td status expiring">Expiring Tomorrow</div>
                    </div>
                    <div class="tr">
                      <div class="td">Lunch Special - 20% Off</div>
                      <div class="td">
                        <a href="javascript:void(0)"><i class="icon-Facebook"></i></a>
                        <a href="javascript:void(0)"><i class="icon-Twitter"></i></a>
                        <a href="javascript:void(0)"><i class="icon-Newsletter"></i></a>
                      </div>
                      <div class="td status expiring">Expiring 01/20/2016</div>
                    </div>
                    <div class="tr">
                      <div class="td">Free Cofee with Breakfast</div>
                      <div class="td">
                        <a href="javascript:void(0)"><i class="icon-Facebook"></i></a>
                        <a href="javascript:void(0)"><i class="icon-GooglePlus"></i></a>
                        <a href="javascript:void(0)"><i class="icon-Banner"></i></a>
                      </div>
                      <div class="td status">02/20/2016</div>
                    </div>
                    <div class="tr">
                      <div class="td">Dinner Specials</div>
                      <div class="td">
                        <a href="javascript:void(0)"><i class="icon-Facebook"></i></a>
                        <a href="javascript:void(0)"><i class="icon-Twitter"></i></a>
                        <a href="javascript:void(0)"><i class="icon-Newsletter"></i></a>
                        <a href="javascript:void(0)"><i class="icon-Banner"></i></a>
                      </div>
                      <div class="td status">02/20/2016</div>
                    </div>
                  </div>
                </div><!-- END .table -->
              </div><!-- END .row -->

              <div class="row bottom-link">
                <div class="col-md-4 col-md-offset-8 text-right">
                  <a href="/marketing">All Campaigns ›</a>
                </div>
              </div><!-- .row -->

            </div><!-- END .collapsable -->
          </div><!-- END .shadowed-container -->
        </div>

        <div class="col-md-6" ng-show="displayColumns.updates">
          <div class="shadowed-container">
            <header>
              <h2>Settings Updates</h2>
              <i class="fa pull-right" ng-class="{'fa-chevron-up': !collapsed, 'fa-chevron-down': collapsed}" ng-click="collapsed = !collapsed"></i>
            </header>
            <div class="collapsable" ng-show="!collapsed">
              <div class="row shadowed-subcontainer">
                <div class="table">
                  <div class="thead">
                    <div class="tr">
                      <div class="th">Section</div>
                      <div class="th">Action</div>
                    </div>
                  </div>
                  <div class="tbody">
                    <div class="tr">
                      <div class="td"><a href="javscript:void(0)">Roles</a></div>
                      <div class="td"><strong>Blake Lively</strong> changed the role of <strong>Adam Greenberg</strong> to <strong>Cook</strong></div>
                    </div>
                    <div class="tr">
                      <div class="td"><a href="javscript:void(0)">Payments</a></div>
                      <div class="td"><strong>Blake Lively</strong> edited <strong>Bank Info</strong></div>
                    </div>
                    <div class="tr">
                      <div class="td"><a href="javscript:void(0)">Business Info</a></div>
                      <div class="td"><strong>Blake Lively</strong> edited <strong>Restaurant Info</strong></div>
                    </div>
                    <div class="tr">
                      <div class="td"><a href="javscript:void(0)">Domain</a></div>
                      <div class="td"><strong>Blake Lively</strong> edited <strong>Subdomain</strong></div>
                    </div>
                  </div>
                </div><!-- END .table -->
              </div><!-- END .row -->

              <div class="row bottom-link">
                <div class="col-md-6 col-md-offset-6 text-right">
                  <a href="javascript:void(0)">All Settings Updates ›</a>
                </div>
              </div><!-- END .row -->

            </div><!-- END .collapsable -->
          </div><!-- END .shadowed-container -->
        </div>

        <div class="col-md-12" ng-show="displayColumns.trends">
          <div class="shadowed-container">
            <header>
              <h2>Order Trends</h2>
              <i class="fa pull-right" ng-class="{'fa-chevron-up': !collapsed, 'fa-chevron-down': collapsed}" ng-click="collapsed = !collapsed"></i>
            </header>
            <div class="collapsable" ng-show="!collapsed">
              <div class="row shadowed-subcontainer">
                <div class="table">
                  <div class="thead">
                    <div class="tr">
                      <div class="th"></div>
                      <div class="th"></div>
                      <div class="th"></div>
                    </div>
                  </div>
                  <div class="tbody">
                    <div class="tr">
                      <div class="td"></div>
                      <div class="td"></div>
                      <div class="td"></div>
                    </div>
                    <div class="tr">
                      <div class="td"></div>
                      <div class="td"></div>
                      <div class="td"></div>
                    </div>
                    <div class="tr">
                      <div class="td"></div>
                      <div class="td"></div>
                      <div class="td"></div>
                    </div>
                  </div>
                </div><!-- END .table -->
              </div><!-- END .row -->

            </div><!-- END .collapsable -->
          </div><!-- END .shadowed-container -->
        </div>

      </div><!-- END .row -->
    </div>
  </div><!-- END .row -->
</div><!-- END .container-fluid -->
