<header class="top clearfix" ng-class="{expanded: !main.navRevealed}">
  <div class="row">
    <div class="col-md-5">
      <span class="hamburger" ng-click="main.navRevealed=true" ng-show="!main.navRevealed"><i class="icon-hamburger_menu"></i></span>
      <h1>{{pageTitle}}</h1>
      <time datetime="{{currentDate.now() | date: 'yyyy-MM-dd hh:mm'}}">{{currentDate.now() | date: 'MMMM d, yyyy, h:mm'}} {{(currentDate.now() | date: 'a').toLowerCase()}}</time>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <div class="actions-right" ng-init="pickColumns=false">
        <i class="icon-export_data"></i>
        <i class="icon-grid" ng-click="showColumnPicker()"></i>
        <ul ng-show="pickColumns">
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.orders">Recent Orders</label></li>
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.reservations">Recent Reservations</label></li>
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.campaigns">Current Campaign</label></li>
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.updates">Settings Updates</label></li>
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.orderTrends">Order Trends</label></li>
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.reservationTrends">ReservationTrends</label></li>
          <button class="btn btn-default" ng-click="rearranging=!rearranging">Change Positions</button>
        </ul>
      </div>
    </div>
    <div
      class="invisible-layer"
      ng-show="invisibleLayer"
      ng-click="toggleFilter('');pickColumns=false;invisibleLayer=false;">
      &nbsp;
    </div>
  </div>
</header>

<div class="container-fluid dashboard">

  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"><span ng-bind-html="alert.msg"><span></uib-alert>
  <div class="alert alert-warning" role="alert" ng-show="rearranging">Drag the areas below to change positions.
    <div class="pull-right"><button class="btn btn-primary" ng-click="rearranging=false">Finish And Save</button></div>
  </div>

  <div class="row">
    <div class="masonry-container">
      <div class="col-md-6 masonry-item" ng-show="displayColumns.orders">
        <div class="shadowed-container">
          <div class="grayout" ng-show="rearranging"></div>
          <header>
            <h2>Recent Orders</h2>
            <i class="fa pull-right" ng-class="{'fa-chevron-up': !collapsed.orders, 'fa-chevron-down': collapsed.orders}" ng-click="collapsed.orders = !collapsed.orders;msnry.layout()" ng-show="!rearranging"></i>
            <i class="fa fa-ellipsis-v pull-right" ng-show="rearranging"></i>
          </header>
          <div class="collapsable" ng-show="!collapsed.orders">
            <div class="shadowed-subcontainer">
              <div class="table">
                <div class="thead">
                  <div class="tr">
                    <div class="th">Order No</div>
                    <div class="th">Time</div>
                    <div class="th">Type</div>
                    <div class="th">Status</div>
                  </div>
                </div>
                <div class="tbody">
                  <div class="tr">
                    <div class="td"><a href="javascript:void(0)">037565</a></div>
                    <div class="td">10:25 PM</div>
                    <div class="td">Pickup</div>
                    <div class="td status new">New</div>
                  </div>
                  <div class="tr">
                    <div class="td"><a href="javascript:void(0)">037565</a></div>
                    <div class="td">10:25 PM</div>
                    <div class="td">Delivery</div>
                    <div class="td status inprogress">In Progress</div>
                  </div>
                  <div class="tr">
                    <div class="td"><a href="javascript:void(0)">037565</a></div>
                    <div class="td">10:25 PM</div>
                    <div class="td">Delivery</div>
                    <div class="td status inprogress">In Progress</div>
                  </div>
                  <div class="tr">
                    <div class="td"><a href="javascript:void(0)">037565</a></div>
                    <div class="td">10:25 PM</div>
                    <div class="td">Pickup</div>
                    <div class="td status cancelled">Cancelled</div>
                  </div>
                </div>
              </div><!-- END .table -->
            </div><!-- END .row -->
            <div class="bottom-link text-right">
              <a href="/orders">All Orders ›</a>
            </div><!-- .row -->
          </div><!-- END .collapsable -->
        </div><!-- END .shadowed-container -->
      </div>

      <div class="col-md-6 masonry-item" ng-show="displayColumns.reservations">
        <div class="shadowed-container">
          <div class="grayout" ng-show="rearranging"></div>
          <header>
            <h2>Recent Reservations</h2>
            <i class="fa pull-right" ng-class="{'fa-chevron-up': !collapsed.reservations, 'fa-chevron-down': collapsed.reservations}" ng-click="collapsed.reservations = !collapsed.reservations;msnry.layout()" ng-show="!rearranging"></i>
            <i class="fa fa-ellipsis-v pull-right" ng-show="rearranging"></i>
          </header>
          <div class="collapsable" ng-show="!collapsed.reservations">
            <div class="shadowed-subcontainer">
              <div class="calendar-overflow">
                <div class="calendar-widget">
                  <ul class="cal-row">
                    <li ng-repeat="quarter in quarters track by $index">{{quarter}}</li>
                  </ul>
                  <div class="cal-row">
                    <div class="booked pending" ng-click="main.customModal('tableModal.html')" style="left: 550px; width: 500px;"><span>Table for 4</span></div>
                  </div>
                  <div class="cal-row">
                    <div class="booked active" ng-click="main.customModal('tableModal.html')" style="left: 300px; width: 600px;"><span>Table for 6</span></div>
                  </div>
                  <div class="cal-row">
                    <div class="booked closed" ng-click="main.customModal('tableModal.html')" style="left: 0px; width: 400px;"><span>Table for 4</span></div>
                    <div class="booked pending" ng-click="main.customModal('tableModal.html')" style="left: 500px; width: 450px;"><span>Table for 4</span></div>
                  </div>
                  <div class="cal-row">
                    <div class="booked active" ng-click="main.customModal('tableModal.html')" style="left: 250px; width: 350px;"><span>Table for 4</span></div>
                  </div>
                  <div class="cal-row">
                    <div class="booked active" ng-click="main.customModal('tableModal.html')" style="left: 150px; width: 450px;"><span>Table for 4</span></div>
                  </div>
                  <div class="cal-row">
                    <div class="booked pending" ng-click="main.customModal('tableModal.html')" style="left: 475px; width: 400px;"><span>Table for 4</span></div>
                  </div>
                </div><!-- END .calendar-widget -->
              </div>
            </div><!-- END .row -->
            <div class="bottom-link text-right">
              <a href="/reservations">All Reservations ›</a>
            </div><!-- .row -->
          </div><!-- END .collapsable -->
        </div><!-- END .shadowed-container -->
      </div>

      <div class="col-md-6 masonry-item" ng-show="displayColumns.campaigns">
        <div class="shadowed-container">
          <div class="grayout" ng-show="rearranging"></div>
          <header>
            <h2>Current Campaigns</h2>
            <i class="fa pull-right" ng-class="{'fa-chevron-up': !collapsed.campaigns, 'fa-chevron-down': collapsed.campaigns}" ng-click="collapsed.campaigns = !collapsed.campaigns;msnry.layout()" ng-show="!rearranging"></i>
            <i class="fa fa-ellipsis-v pull-right" ng-show="rearranging"></i>
          </header>
          <div class="collapsable" ng-show="!collapsed.campaigns">
            <div class="shadowed-subcontainer">
              <div class="table">
                <div class="thead">
                  <div class="tr">
                    <div class="th">Campaign</div>
                    <div class="th">Enabled Channels</div>
                    <div class="th">Expiry Date</div>
                  </div>
                </div>
                <div class="tbody">
                  <div class="tr">
                    <div class="td">Children Eat Free</div>
                    <div class="td">
                      <a href="javascript:void(0)"><i class="icon-Facebook"></i></a>
                      <a href="javascript:void(0)"><i class="icon-Twitter"></i></a>
                      <a href="javascript:void(0)"><i class="icon-GooglePlus"></i></a>
                      <a href="javascript:void(0)"><i class="icon-Newsletter"></i></a>
                      <a href="javascript:void(0)"><i class="icon-Banner"></i></a>
                    </div>
                    <div class="td status expiring">Expiring Tomorrow</div>
                  </div>
                  <div class="tr">
                    <div class="td">Lunch Special - 20% Off</div>
                    <div class="td">
                      <a href="javascript:void(0)"><i class="icon-Facebook"></i></a>
                      <a href="javascript:void(0)"><i class="icon-Twitter"></i></a>
                      <a href="javascript:void(0)"><i class="icon-Newsletter"></i></a>
                    </div>
                    <div class="td status expiring">Expiring 01/20/2016</div>
                  </div>
                  <div class="tr">
                    <div class="td">Free Cofee with Breakfast</div>
                    <div class="td">
                      <a href="javascript:void(0)"><i class="icon-Facebook"></i></a>
                      <a href="javascript:void(0)"><i class="icon-GooglePlus"></i></a>
                      <a href="javascript:void(0)"><i class="icon-Banner"></i></a>
                    </div>
                    <div class="td status">02/20/2016</div>
                  </div>
                  <div class="tr">
                    <div class="td">Dinner Specials</div>
                    <div class="td">
                      <a href="javascript:void(0)"><i class="icon-Facebook"></i></a>
                      <a href="javascript:void(0)"><i class="icon-Twitter"></i></a>
                      <a href="javascript:void(0)"><i class="icon-Newsletter"></i></a>
                      <a href="javascript:void(0)"><i class="icon-Banner"></i></a>
                    </div>
                    <div class="td status">02/20/2016</div>
                  </div>
                </div>
              </div><!-- END .table -->
            </div><!-- END .row -->
            <div class="bottom-link text-right">
              <a href="/marketing">All Campaigns ›</a>
            </div><!-- .row -->
          </div><!-- END .collapsable -->
        </div><!-- END .shadowed-container -->
      </div>

      <div class="col-md-6 masonry-item" ng-show="displayColumns.updates">
        <div class="shadowed-container">
          <div class="grayout" ng-show="rearranging"></div>
          <header>
            <h2>Settings Updates</h2>
            <i class="fa pull-right" ng-class="{'fa-chevron-up': !collapsed.updates, 'fa-chevron-down': collapsed.updates}" ng-click="collapsed.updates = !collapsed.updates;msnry.layout()" ng-show="!rearranging"></i>
            <i class="fa fa-ellipsis-v pull-right" ng-show="rearranging"></i>
          </header>
          <div class="collapsable" ng-show="!collapsed.updates">
            <div class="shadowed-subcontainer">
              <div class="table">
                <div class="thead">
                  <div class="tr">
                    <div class="th">Section</div>
                    <div class="th">Action</div>
                  </div>
                </div>
                <div class="tbody">
                  <div class="tr">
                    <div class="td"><a href="javscript:void(0)">Roles</a></div>
                    <div class="td"><strong>Blake Lively</strong> changed the role of <strong>Adam Greenberg</strong> to <strong>Cook</strong></div>
                  </div>
                  <div class="tr">
                    <div class="td"><a href="javscript:void(0)">Payments</a></div>
                    <div class="td"><strong>Blake Lively</strong> edited <strong>Bank Info</strong></div>
                  </div>
                  <div class="tr">
                    <div class="td"><a href="javscript:void(0)">Business Info</a></div>
                    <div class="td"><strong>Blake Lively</strong> edited <strong>Restaurant Info</strong></div>
                  </div>
                  <div class="tr">
                    <div class="td"><a href="javscript:void(0)">Domain</a></div>
                    <div class="td"><strong>Blake Lively</strong> edited <strong>Subdomain</strong></div>
                  </div>
                </div>
              </div><!-- END .table -->
            </div><!-- END .row -->
            <div class="bottom-link text-right">
              <a ng-click="main.customModal('updatesModal.html')">All Settings Updates ›</a>
            </div><!-- END .row -->
          </div><!-- END .collapsable -->
        </div><!-- END .shadowed-container -->
      </div>

      <div class="col-md-6 masonry-item" ng-show="displayColumns.orderTrends">
        <div class="shadowed-container">
          <div class="grayout" ng-show="rearranging"></div>
          <header>
            <h2>Order Trends</h2>
            <i class="fa pull-right" ng-class="{'fa-chevron-up': !collapsed.orderTrends, 'fa-chevron-down': collapsed.orderTrends}" ng-click="collapsed.orderTrends = !collapsed.orderTrends;msnry.layout()" ng-show="!rearranging"></i>
            <i class="fa fa-ellipsis-v pull-right" ng-show="rearranging"></i>
          </header>
          <div class="collapsable" ng-show="!collapsed.orderTrends">
            <div class="shadowed-subcontainer">
              <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-legend="true" chart-click="onClick" chart-options="chartOptions"></canvas>
            </div><!-- END .shadowed-subcontainer -->
          </div><!-- END .collapsable -->
        </div><!-- END .shadowed-container -->
      </div>

      <div class="col-md-6 masonry-item" ng-show="displayColumns.reservationTrends">
        <div class="shadowed-container">
          <div class="grayout" ng-show="rearranging"></div>
          <header>
            <h2>Reservation Trends</h2>
            <i class="fa pull-right" ng-class="{'fa-chevron-up': !collapsed.reservationTrends, 'fa-chevron-down': collapsed.reservationTrends}" ng-click="collapsed.reservationTrends = !collapsed.reservationTrends;msnry.layout()" ng-show="!rearranging"></i>
            <i class="fa fa-ellipsis-v pull-right" ng-show="rearranging"></i>
          </header>
          <div class="collapsable" ng-show="!collapsed.reservationTrends">
            <div class="shadowed-subcontainer">
              <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-legend="true" chart-click="onClick" chart-options="chartOptions"></canvas>
            </div><!-- END .shadowed-subcontainer -->
          </div><!-- END .collapsable -->
        </div><!-- END .shadowed-container -->
      </div>
    </div><!-- END .masonry-container -->
  </div><!-- END .row -->
</div><!-- END .container-fluid -->
