<button class="close" ng-click="$dismiss()"><i class="icon-close"></i></button>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form class="custom-form text-input">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Settings Updates</h1>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12">
            <div class="table">
              <div class="thead">
                <div class="tr">
                  <div class="th">Section</div>
                  <div class="th">Action</div>
                  <div class="th">Date</div>
                </div>
              </div>
              <div class="tbody">
                <div class="tr">
                  <div class="td"><a href="/settings/roles">Roles</a></div>
                  <div class="td"><strong>Black Lively</strong> changed the role of <strong>Adam Greenberg</strong> to <strong>Cook</strong></div>
                  <div class="td">January 17, 2016, 10:41 AM</div>
                </div>
                <div class="tr">
                  <div class="td"><a href="/settings/roles">Roles</a></div>
                  <div class="td"><strong>Black Lively</strong> changed the role of <strong>Adam Greenberg</strong> to <strong>Cook</strong></div>
                  <div class="td">January 17, 2016, 10:41 AM</div>
                </div>
                <div class="tr">
                  <div class="td"><a href="/settings/roles">Roles</a></div>
                  <div class="td"><strong>Black Lively</strong> changed the role of <strong>Adam Greenberg</strong> to <strong>Cook</strong></div>
                  <div class="td">January 17, 2016, 10:41 AM</div>
                </div>
                <div class="tr">
                  <div class="td"><a href="/settings/roles">Roles</a></div>
                  <div class="td"><strong>Black Lively</strong> changed the role of <strong>Adam Greenberg</strong> to <strong>Cook</strong></div>
                  <div class="td">January 17, 2016, 10:41 AM</div>
                </div>
                <div class="tr">
                  <div class="td"><a href="/settings/roles">Roles</a></div>
                  <div class="td"><strong>Black Lively</strong> changed the role of <strong>Adam Greenberg</strong> to <strong>Cook</strong></div>
                  <div class="td">January 17, 2016, 10:41 AM</div>
                </div>
                <div class="tr">
                  <div class="td"><a href="/settings/roles">Roles</a></div>
                  <div class="td"><strong>Black Lively</strong> changed the role of <strong>Adam Greenberg</strong> to <strong>Cook</strong></div>
                  <div class="td">January 17, 2016, 10:41 AM</div>
                </div>
                <div class="tr">
                  <div class="td"><a href="/settings/roles">Roles</a></div>
                  <div class="td"><strong>Black Lively</strong> changed the role of <strong>Adam Greenberg</strong> to <strong>Cook</strong></div>
                  <div class="td">January 17, 2016, 10:41 AM</div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12 resetsave text-center">
            <button class="btn btn-default" ng-click="main.go()">Back</button>
          </div>
        </div><!-- END .row -->
      </form>
    </div>
  </div><!-- END .row -->
</div><!-- END .container -->
