<div class="flyout">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form class="custom-form text-input">
          <div class="row">
            <div class="col-md-12">
              <h1 class="text-center">Table for 2</h1>
            </div>
          </div><!-- END .row -->
          <div class="row">
            <div class="col-md-6">
              <p><strong>Date</strong><br>
                Tuesday, Nov 11, 5pm to 6pm</p>
            </div>
            <div class="col-md-6">
              <p><strong>Status</strong><br>
                <span class="status pending">Pending</span></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p><strong>Name</strong><br>
                Jarret Leto</p>
            </div>
            <div class="col-md-6">
              <p><strong>Phone</strong><br>
                (347) 578-9001</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p><strong>Notes</strong><br>
                would like a table by the window, gluten free, payes with Discovery</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 resetsave text-center">
              <button class="btn btn-default" ng-click="main.go()">Cancel</button>
              <button class="btn btn-primary" ng-click="main.go('main.reservations')">Edit</button>
            </div>
          </div><!-- END .row -->
        </form>
      </div>
    </div><!-- END .row -->
  </div><!-- END .container -->
</div><!-- END .flyout -->
