<!-- Accounts are reset on server restart from server/config/seed.js. Default account is test@test.com / test
Admin account is admin@admin.com / admin
 -->


<form id="login-form" class="form" name="form" ng-submit="login(form)" novalidate>
  <div class="main-container">
    <div class="logo-container">
      <img src="/assets/images/bruno_logo.svg" width="200" height="200">
    </div>
    <div class="form-group">
      <label>Email</label>

      <input type="email" name="email" class="form-control text-input" ng-model="user.email" required>
    </div>

    <div class="form-group">
      <label>Password</label>

      <input type="password" name="password" class="form-control text-input" ng-model="user.password" required>
    </div>
    <div>
      <button class="btn btn-inverse btn-lg btn-login" type="submit">
        Login
      </button>
    </div>

    <div>
      <div><a href="">Forgot Password?</a></div>
    </div>

  <!--         <div class="form-group has-error">
      <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
         Please enter your email and password.
      </p>
      <p class="help-block" ng-show="form.email.$error.email && submitted">
         Please enter a valid email.
      </p>

      <p class="help-block">{{ errors.other }}</p>
    </div> -->

    <div class="form-group">
      <a class="btn btn-default btn-lg btn-register" href="/register">
        Create an account
      </a>
    </div>
  </div>
</form>
