$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// shades of gray
$white:                           #FFFFFF;
$beige:                           #F4F4E7;
$lightgray1:                      #EAEAEA;
$lightgray:                       #D5D5D5;
$lightgray2:                      #C1C1C1;
$darkgray:                        #535353;
$darkgray1:                       #464646;
$darkgray2:                       #343434;
$darkergray:                      #191919;
$black:                           #050505;

// colors
$blue:                            #428BCA;
$buttonblue:                      #0D5CD0;
$green:                           #1CD729;
$green1:                          #00AB2E;
$orange:                          #FD9B26;
$red:                             #E30A11;

$title-font:                      Museo, "Open Sans", sans-serif;
$serif-font:                      Museo, Oswald, serif;
$sans-font:                       "Helvetica Neue", HelveticaNeue, Roboto, "Open Sans", sans;

@mixin desaturate($amount)        {-webkit-filter: grayscale($amount); -moz-filter: grayscale($amount); -ms-filter: grayscale($amount); -o-filter: grayscale($amount);}



// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'account/register/register.scss';
@import 'admin/admin.scss';
@import 'main/admin/admin.scss';
@import 'main/customers/customers.scss';
@import 'main/dashboard/dashboard.scss';
@import 'main/food-menus/food-menus.scss';
@import 'main/main.scss';
@import 'main/marketing/marketing.scss';
@import 'main/orders/orders.scss';
@import 'main/reservations/reservations.scss';
@import 'main/settings/business-info/business-info.scss';
@import 'main/settings/delivery/delivery.scss';
@import 'main/settings/domain/domain.scss';
@import 'main/settings/integration/integration.scss';
@import 'main/settings/payments/payments.scss';
@import 'main/settings/reservations/reservations.scss';
@import 'main/settings/roles/roles.scss';
@import 'main/settings/settings.scss';
@import 'main/settings/users/users.scss';
@import 'main/setup/business/business.scss';
@import 'main/setup/owner/owner.scss';
@import 'main/statistics/statistics.scss';
@import '../components/modal/modal.scss';
// endinjector

/**
 * Museo Font
 */

@font-face {
  font-family: 'Museo';
  src: url('/assets/fonts/Museo-300.eot');
  src: url('/assets/fonts/Museo-300.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Museo-300.woff2') format('woff2'),
       url('/assets/fonts/Museo-300.woff') format('woff'),
       url('/assets/fonts/Museo-300.ttf') format('truetype'),
       url('/assets/fonts/Museo-300.svg#Museo-300') format('svg');
  font-weight: 300;
}
@font-face {
  font-family: 'Museo';
  src: url('/assets/fonts/Museo-500.eot');
  src: url('/assets/fonts/Museo-500.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Museo-500.woff2') format('woff2'),
       url('/assets/fonts/Museo-500.woff') format('woff'),
       url('/assets/fonts/Museo-500.ttf') format('truetype'),
       url('/assets/fonts/Museo-500.svg#Museo-500') format('svg');
  font-weight: 500;
}
@font-face {
  font-family: 'Museo';
  src: url('/assets/fonts/Museo-700.eot');
  src: url('/assets/fonts/Museo-700.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Museo-700.woff2') format('woff2'),
       url('/assets/fonts/Museo-700.woff') format('woff'),
       url('/assets/fonts/Museo-700.ttf') format('truetype'),
       url('/assets/fonts/Museo-700.svg#Museo-700') format('svg');
  font-weight: 700;
}

/**
 *Font Awesome Fonts
 */

@font-face {
    font-family: 'FontAwesome';
    src: url('/bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('/bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
         url('/bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
         url('/bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
         url('/bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
 * Bruno Fonts
 */

@font-face {
    font-family: 'BrunoSocial';
    src: url('/assets/fonts/bruno-social.eot?wzed0l');
    src: url('/assets/fonts/bruno-social.eot?wzed0l#iefix') format('embedded-opentype'),
         url('/assets/fonts/bruno-social.ttf?wzed0l') format('truetype'),
         url('/assets/fonts/bruno-social.woff?wzed0l') format('woff'),
         url('/assets/fonts/bruno-social.svg?wzed0l#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrunoIcons';
    src: url('/assets/fonts/bruno-icons.eot?wzed0l');
    src: url('/assets/fonts/bruno-icons.eot?wzed0l#iefix') format('embedded-opentype'),
         url('/assets/fonts/bruno-icons.ttf?wzed0l') format('truetype'),
         url('/assets/fonts/bruno-icons.woff?wzed0l') format('woff'),
         url('/assets/fonts/bruno-icons.svg?wzed0l#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"]                 { font-family: 'BrunoIcons' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; moz-osx-font-smoothing: grayscale; }
.icon-search:before               { content: "\e905"; }
.icon-hamburger_menu:before       { content: "\e900"; }
.icon-chevron_right:before        { content: "\e901"; }
.icon-chevron_down:before         { content: "\e902"; }
.icon-export:before               { content: "\e903"; }
.icon-link_out:before             { content: "\e904"; }
.icon-close:before                { content: "\e906"; }
.icon-edit_pencil:before          { content: "\e907"; }
.icon-Facebook:before             { content: "\e908"; }
.icon-Twitter:before              { content: "\e909"; }
.icon-GooglePlus:before           { content: "\e90a"; }
.icon-Newsletter:before           { content: "\e90b"; }
.icon-Banner:before               { content: "\e90c"; }
.icon-grid:before                 { content: "\e90d"; }
.icon-filter:before               { content: "\e90e"; }
.icon-preview_eye:before          { content: "\e90f"; }
.icon-sort_triangles:before       { content: "\e910"; }
.icon-triangle_down:before        { content: "\e911"; }
.icon-triangle_up:before          { content: "\e912"; }
.icon-triangle_right:before       { content: "\e913"; }




/**
 * App-wide Styles
 */

//
html, body                        { font-family: $sans-font; height: 100%; position: relative; width: 100%; }

// GLOBAL CLASSES
.bold                             { font-weight: 600; }
.add-something                    { display: inline-block; padding: 15px 0; }
.drag                             { margin-right: 10px; width: 25px;
  .icon-bar                       { border: 2px solid $lightgray; border-radius: 1px; margin-bottom: 3px; }
}
.invisible-layer                  { background: transparent; height: 100%; position: fixed; top: 0; left: 0; width: 100%; z-index: 50; }
.full-height                      { height: 100%; }
.toggle-checkbox                  { background: $lightgray; display: inline-block; padding: 10px 30px; }
.optional                         { color: $lightgray; font:300 1.5rem $sans-font; }
.mandatory                        { color: $red; }

// HEADER
header.top                        { background: $beige; border-bottom: 1px solid $lightgray; height: 50px; padding: 10px 20px; position: fixed; transition: width 0.5s ease; top: 0; width: calc(100% - 240px); z-index: 50;
  &.expanded                      { width: 100%; }
  .row                            { overflow: visible; }
  h1                              { color: $red; font: 500 2.5rem $title-font; display: inline-block; margin: 0; }
  time                            { color: $lightgray2; font: 1.6rem $serif-font; margin-left: 1rem; }
  .hamburger                      { color: $darkgray; float: left; border-right: 1px solid $lightgray; display: table-cell; font-size: 18px; height: 50px; margin: -10px 20px -10px -20px; padding: 10px;
    i                             { vertical-align: middle; }
  }
  .col-md-2                       { text-align: center; }
  form                            { float: right;
    .form-control                 { border-radius: 2px; border: 1px solid $lightgray;
      &:focus                     { box-shadow: none; }
    }
    .form-control-feedback        { color: $darkgray; top: 10px; }
  }
  .actions-right                  { float: right;
    & > i                         { font-size: 18px; line-height: 32px; margin-left: 20px; vertical-align: middle; }
    ul                            { background: $beige; border: 1px solid $lightgray; border-radius: 3px; padding: 10px 20px; position: absolute; right: 15px; top: 40px; width: 200px; z-index: 100;
      li                          { list-style: none; margin: 0; padding: 5px 0; }
    }
  }
}
header.header                     { border-bottom: 2px solid $darkergray; margin-bottom: 15px;
  h1                              { color: $red; font: 300 36px $title-font; }
}

// MAIN
.main                             {
  p                               { margin: 0; }
  h1                              { color: $red; font: 100 40px $title-font; margin-bottom: 10px; text-align: center; }
  h2                              { border-bottom: 2px solid $black; color: $red; font: 300 2rem $title-font; margin: 20px 0 20px; padding-bottom: 5px;
    a.pull-right                  { color: $blue; font: 1.5rem $sans-font; position: relative; top: 5px; }
  }
}
form.custom-form                  {
  label                           { font-size: 16px; font-family: $serif-font; }
  .radio                          {
    label                         { font: inherit; }
  }
  input,
  select,
  textarea                        { /*border: none;*/ border-radius: 0; box-shadow: none; font-size: 16px; }
  input,
  textarea                        { border: 1px solid $lightgray; }
  fieldset                        { border: 1px solid $lightgray;
    select                        { border: none; border-radius: 0;
      &:focus                     { box-shadow: none; }
    }
  }
  .resetsave                      { margin: 30px 0 20px; }
  .taggroup                       { border: 1px solid $lightgray; padding: 6px 12px;
    .newtag                       { border: none; }
  }
  .label                          { background: $lightgray; border-radius: 0; color: $darkgray; font-size: 1.6rem; font-weight: 400; padding: 5px 10px; }
  .form-control-feedback          { top: 10px; }
}
button.btn                        { border: none; border-radius: 3px; font-family: $serif-font; padding: 8px 25px; text-shadow: none;
  &.btn-danger                    { background: $red; }
  &.btn-default                   { background: $lightgray; color: $darkgray; }
  &.btn-primary                   { background: $buttonblue; }
  &.btn-success                   { background: $green1; }
  &.btn-warning                   { background: $orange; }
}
.text-input                       {
  input[readonly],
  fieldset[disabled] select       { background: transparent; box-shadow: none; border: none; cursor: default; color: $darkgray; font-size: 14px; height: auto; margin: 0; padding: 0;
    &::-webkit-input-placeholder  { color: lighten($black, 90%); }
    &::-moz-input-placeholder     { color: lighten($black, 90%); }
    &:-moz-input-placeholder      { color: lighten($black, 90%); }
    &:-ms-input-placeholder       { color: lighten($black, 90%); }
    &:focus                       {
      box-shadow: none;
      outline: none;
    }
    & ~ p                         { display: none; }
  }
  fieldset[disabled]              { border: none;
    select                        { -webkit-appearance: none; -moz-appearance: none; appearance: none; text-indent: 0.01px; text-overflow: ''; }
  }
}
.filter                           { display: inline; position: relative; font-family: $sans-font;
  & > div                         { background: $beige; border: 1px solid $lightgray; border-radius: 3px; padding: 10px; position: absolute; top: 25px; z-index: 50; }
  i.filtered                      { color: $red; }
}
.fa-sort                          { color: $lightgray2; }
.sortorder                        { vertical-align: baseline; }

.shadowed-container               { background: $beige; border: 1px solid $lightgray; margin-bottom: 20px;
  header                          {
    h2                            { color: $blue; display: inline-block; font: 1.8rem $serif-font; margin: 0 10px 0 0; }
    i.pull-right                  { color: $lightgray2; }
  }
}
.shadowed-subcontainer            { background: $white; border: 1px solid $lightgray; margin-bottom: 20px;
  &:first-child                   { margin-top: 20px; }
  &:last-child                    { margin-bottom: 0; }
  header                          { border-bottom: 1px solid $lightgray; margin-left: -15px; margin-right: -15px; padding: 20px 15px;
    h3                            { display: inline-block; font-size: 16px; margin: 0; }
  }
  .table                          { margin: 0;
    .td                           { padding: 15px 8px;
      &:first-child               { padding-left: 0; }
      &:last-child                { padding-right: 0; }
    }
    .tr:last-child                {
      .td                         { border-bottom: none; }
    }
  }
  .border-top                     { border-top: 1px solid $lightgray; }
}

// REPLACES TABLES
.table                            { display: table;
  .thead                          { display: table-header-group; }
  .tbody                          { display: table-row-group; }
  .tfoot                          { display: table-footer-group; }
  .tr                             { display: table-row; }
  .th                             { border-bottom-color: #050505; font-weight: bold; font-family: $serif-font; }
  .td, .th                        { border-bottom: 1px solid #ddd; display: table-cell; padding: 8px; vertical-align: middle; }
}

// MODAL LIKE FLYOUT
.flyout                           { background: $white; height: 100%; overflow: auto; position: fixed; top: 0; left: 0; width: 100%; z-index: 100;
  .close                          { clear: both; color: $darkgray; font-size: 4rem; opacity: 1; }
  h1                              { font: 300 3.6rem $serif-font; margin: 40px 0; position: relative;
    &.channel-heading             { font-size: 2.3rem; text-align: center; }
    button.btn                    { background: none; bottom: 10px; color: $blue; font-size: 2rem; line-height: 3rem; padding: 0; position: absolute; right: 0; }
  }
  h4                              { font: 300 1.8rem $sans-font; margin-top: 30px; }
  .image                          { width: 100%; }
  .close                          { font-size: 18px; padding: 10px; }
  .status                         {
    &.cancelled                   { color: $red; }
    &.expired,
    &.fulfilled                   { color: $lightgray; }
    &.expiring,
    &.inprogress                  { color: $orange; }
    &.current,
    &.new                         { color: $green1; }
  }
  .channel-nav                    { border-bottom: 1px solid $blue; margin-bottom: 20px; }
  .nav-tabs                       { border-bottom: none;
    li                            { text-align: center; width: 20%;
      &.active                    {
        a                         { background: $white; border: 1px solid $blue; }
      }
      a                           { background: $beige; border: 1px solid $lightgray; border-bottom: 1px solid $blue; border-radius: 0; font-size: 3rem; margin: 0; }
    }
  }
  .wider-row                      { margin-left: -45px; margin-right: -45px; }
  .googlemap                      { margin-bottom: 10px; position: relative;
    iframe                        { border: none; height: 350px; width: 100%; }
    .reach                        { right: -220px; position: absolute; top: 0; width: 200px;
      h4                          { color: $lightgray; font-size: 16px; font-weight: bold; margin: 0}
      strong                      { color: $lightgray2; display: block; font-size: 16px; margin: 10px 0; }
      p                           { color: $black; font-size: 13px; }
    }
  }
  .age-range                      { vertical-align: middle;
    select                        { display: inline-block; width: 100px; }
  }
  .campaign-image                 {
    img                           { width: 100%; }
    ul                            { color: $lightgray2; font-size: 1.3rem; margin-top: 20px; padding: 0; }
  }
  form.custom-form                {
    .bottom-text                  { padding-top: 30px;
      small                       { color: $lightgray; }
    }
  }
  .table                          { margin-top: 20px;
    &.customer-orders-table       { position: relative;
      .td                         { position: relative;
        i                         { position: absolute; left: -15px; font-size: 8px; top: 20px;
          &.icon-triangle_up      { font-size: 6px; }
        }
      }
    }
    &.order-table                 {
      .tr                         {
        .th                       { width: 19%;
          &:last-child            { width: 5%; }
        }
        .td                       { padding-right: 10px;
          &:last-child            { padding-right: 0; text-align: center; }
        }
      }
    }
    .tr                           {
      &.no-border                 {
        .th                       { border: none; font: 300 1.8rem $sans-font; }
      }
      // .td, .th                    { padding: 15px 0;
      //   button                    { background: none; border: none; color: $blue; font-size: 2rem; padding: 0; }
      //   .form-group               { margin: 0; }
      // }
      // .th                         { border-bottom: 2px solid $black; padding: 5px 0; }
    }
  }
  .customer-orders                { background: $beige; }
  .integration-image              { margin-bottom: 40px; max-height: 50px; max-width: 200px; }
  .top-instructions               { border-bottom: 1px solid $lightgray; font-size: 18px; margin-bottom: 30px; text-align: center; }
  .shadowed                       { background: $beige; border: 1px solid $lightgray; margin-bottom: 20px; padding: 15px;
    &:last-child                  { margin-bottom: 0; }
  }
  .options-line                   { margin-bottom: 10px;
    .icon-close                   { position: relative; left: -10px; top: 10px; }
  }
  .dragable                       { list-style: none; margin: 0; padding: 0;
    li                            { background: $white; border: 1px solid $lightgray; margin-bottom: 10px; padding: 10px;
      &:last-child                { margin-bottom: 0; }
    }
  }
}


// THIS FIXES UI.BOOTSTRAP CURSOR
a[ng-click],
.nav,
.pagination,
.carousel,
.panel-title a                    { cursor: pointer; }
