$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// MUSEO FONT
  @font-face {
    font-family: 'Museo';
    src: url('/assets/fonts/Museo-300.eot');
    src: url('/assets/fonts/Museo-300.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Museo-300.woff2') format('woff2'),
         url('/assets/fonts/Museo-300.woff') format('woff'),
         url('/assets/fonts/Museo-300.ttf') format('truetype'),
         url('/assets/fonts/Museo-300.svg#Museo-300') format('svg');
    font-weight: 300;
  }
  @font-face {
    font-family: 'Museo';
    src: url('/assets/fonts/Museo-500.eot');
    src: url('/assets/fonts/Museo-500.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Museo-500.woff2') format('woff2'),
         url('/assets/fonts/Museo-500.woff') format('woff'),
         url('/assets/fonts/Museo-500.ttf') format('truetype'),
         url('/assets/fonts/Museo-500.svg#Museo-500') format('svg');
    font-weight: 500;
  }
  @font-face {
    font-family: 'Museo';
    src: url('/assets/fonts/Museo-700.eot');
    src: url('/assets/fonts/Museo-700.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Museo-700.woff2') format('woff2'),
         url('/assets/fonts/Museo-700.woff') format('woff'),
         url('/assets/fonts/Museo-700.ttf') format('truetype'),
         url('/assets/fonts/Museo-700.svg#Museo-700') format('svg');
    font-weight: 700;
  }

// FONT AWESOME FONTS
  @font-face {
      font-family: 'FontAwesome';
      src: url('/bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0');
      src: url('/bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
           url('/bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
           url('/bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
           url('/bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
      font-weight: normal;
      font-style: normal;
  }

  // BRUNO FONTS
  @font-face {
      font-family: 'BrunoSocial';
      src: url('/assets/fonts/bruno-social.eot?wzed0l');
      src: url('/assets/fonts/bruno-social.eot?wzed0l#iefix') format('embedded-opentype'),
           url('/assets/fonts/bruno-social.ttf?wzed0l') format('truetype'),
           url('/assets/fonts/bruno-social.woff?wzed0l') format('woff'),
           url('/assets/fonts/bruno-social.svg?wzed0l#icomoon') format('svg');
      font-weight: normal;
      font-style: normal;
  }
  @font-face {
      font-family: 'BrunoIcons';
      src: url('/assets/fonts/bruno-icons.eot?wzed0l');
      src: url('/assets/fonts/bruno-icons.eot?wzed0l#iefix') format('embedded-opentype'),
           url('/assets/fonts/bruno-icons.ttf?wzed0l') format('truetype'),
           url('/assets/fonts/bruno-icons.woff?wzed0l') format('woff'),
           url('/assets/fonts/bruno-icons.svg?wzed0l#icomoon') format('svg');
      font-weight: normal;
      font-style: normal;
  }
  [class^="icon-"],
  [class*=" icon-"]                 { font-family: 'BrunoIcons' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; moz-osx-font-smoothing: grayscale; }
  .icon-search:before               { content: "\e905"; }
  .icon-hamburger_menu:before       { content: "\e900"; }
  .icon-chevron_right:before        { content: "\e901"; }
  .icon-chevron_down:before         { content: "\e902"; }
  .icon-export:before               { content: "\e903"; }
  .icon-link_out:before             { content: "\e904"; }
  .icon-close:before                { content: "\e906"; }
  .icon-edit_pencil:before          { content: "\e907"; }
  .icon-Facebook:before             { content: "\e908"; }
  .icon-Twitter:before              { content: "\e909"; }
  .icon-GooglePlus:before           { content: "\e90a"; }
  .icon-Newsletter:before           { content: "\e90b"; }
  .icon-Banner:before               { content: "\e90c"; }
  .icon-grid:before                 { content: "\e90d"; }
  .icon-filter:before               { content: "\e90e"; }
  .icon-preview_eye:before          { content: "\e90f"; }
  .icon-sort_triangles:before       { content: "\e910"; }
  .icon-triangle_down:before        { content: "\e911"; }
  .icon-triangle_up:before          { content: "\e912"; }
  .icon-triangle_right:before       { content: "\e913"; }

$serif-font:                      Museo, Oswald, serif;
$sans-font:                       "Helvetica Neue", HelveticaNeue, Helvetica, Roboto, "Open Sans", sans;

// sketch colors
  $headerbg:                        #F8F8F8;
  $sidebarbg:                       #222222;
  $column-picker:                   #E5E5E5;
  $column-picker-bd:                #CCCCCC;
  $column-arrows:                   #666666;
  $border:                          #E5E5E5;

  $selectbg-start:                  #F8F8F8;
  $selectbg-stop:                   #EEEEEE;

  $black:                           #000000;
  $blue:                            #0074D9;
  $gray:                            #666666;
  $green:                           #00B30F;
  $red:                             #EB1713;
  $salmon:                          #FFF4E4;
  $teal:                            #07B9B3;
  $white:                           #FFFFFF;

  $reservation-active:              #F35F45;
  $reservation-pending:             #00C511;
  $reservation-closed:              #E5E5E5;
  $reservation-gray:                #999999;

  $btn-danger:                      #121212;
  $btn-default:                     #E5E5E5;
  $btn-default-color:               #333333;
  $btn-primary:                     #0074D9;
  $btn-success:                     #121212;
  $btn-warning:                     #121212;

// TODO: GET RID OF THESE COLORS
  $lightgray1:                      #EAEAEA;
  $lightgray:                       #D5D5D5;
  $lightgray2:                      #C1C1C1;
  $darkgray:                        #535353;
  $darkgray1:                       #464646;
  $darkgray2:                       #343434;
  $green1:                          #00AB2E;
  $orange:                          #FD9B26;

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'account/register/register.scss';
@import 'admin/admin.scss';
@import 'main/admin/admin.scss';
@import 'main/customers/customers.scss';
@import 'main/dashboard/dashboard.scss';
@import 'main/food-menus/food-menus.scss';
@import 'main/main.scss';
@import 'main/marketing/marketing.scss';
@import 'main/orders/orders.scss';
@import 'main/reservations/reservations.scss';
@import 'main/settings/business-info/business-info.scss';
@import 'main/settings/delivery/delivery.scss';
@import 'main/settings/domain/domain.scss';
@import 'main/settings/integration/integration.scss';
@import 'main/settings/payments/payments.scss';
@import 'main/settings/reservations/reservations.scss';
@import 'main/settings/roles/roles.scss';
@import 'main/settings/settings.scss';
@import 'main/settings/users/users.scss';
@import 'main/setup/business/business.scss';
@import 'main/setup/owner/owner.scss';
@import 'main/statistics/statistics.scss';
@import 'modal.scss';
// endinjector



/**
 * App-wide Styles
 */
a                                 { color: $blue; }
html, body                        { color: $black; font-family: $sans-font; font-size: 16px; height: 100%; position: relative; width: 100%; }
strong,
.bold                             { font-weight: 500; }
.add-something                    { display: inline-block; padding: 15px 0; }
.alert                            { border-radius: 2px;
  &.rearranging                   { background: $salmon; border-color: $border; color: $black;
    .btn                          { margin: -8px 0; }
  }
}
.drag                             { margin-right: 10px; width: 25px;
  .icon-bar                       { border: 2px solid $lightgray; border-radius: 1px; margin-bottom: 3px; }
}
.invisible-layer                  { background: transparent; height: 100%; position: fixed; top: 0; left: 0; width: 100%; z-index: 50; }
.full-height                      { height: 100%; }
.toggle-checkbox                  { background: $border; display: inline-block; line-height: 48px; margin: 0 0 30px; padding: 0 30px;
  .checkbox                       { margin: 0; }
}
.optional                         { color: $lightgray; font: 300 14px $sans-font; }
.mandatory                        { color: $red; }

// HEADER
header.top                        { background: $headerbg; border-bottom: 1px solid $black; height: 55px; line-height: 54px; padding-left: 30px; padding-right: 30px; position: fixed; top: 0; width: calc(100% - 240px); z-index: 50; transition: ease-in-out .5s all;
  &.expanded                      { width: 100%; }
  .col-md-2                       { text-align: center; }
  .hamburger                      { opacity: 1; position: relative; left: -15px; }
  h1                              { color: $red; font: 500 24px $serif-font; display: inline; margin: 0; }
  time                            { color: $lightgray2; font: 500 16px $serif-font; margin-left: 10px; }
  .actions-right                  { float: right;
    & > i                         { margin-left: 20px; }
    ul                            { background: $column-picker; border: 1px solid $column-picker-bd; border-radius: 2px; padding: 10px; position: absolute; right: 5px; top: 47px; z-index: 100;
      .arrow                      { border-width: 10px; border-style: solid; border-color: transparent transparent $column-picker-bd transparent; display: block; position: absolute; top: -20px; right: 7px;
        &:before                  { border-width: 10px; border-style: solid; border-color: transparent transparent $column-picker transparent; content: ' '; display: block; position: absolute; top: -9px; right: -10px; }
      }
      li                          { list-style: none; font-size: 14px; line-height: normal; margin: 0 0 5px;
        label                     { padding-left: 24px; }
        input[type="checkbox"]    { margin: 0; top: 0;
          &:before                { border-color: $column-picker-bd; }
        }
      }
    }
    .btn-default                  { background: $white; color: $gray; margin: 0 auto; }
  }
  form                            { float: right; margin-top: 10px;
    .form-control                 { border-radius: 2px; border: 1px solid $lightgray;
      &:focus                     { box-shadow: none; }
    }
    .form-control-feedback        { color: $reservation-gray; top: 10px; }
  }
}

// MAIN
.main                             { padding: 30px 15px;
  h1                              { color: $red; font: 100 40px $serif-font; margin-bottom: 10px; text-align: center; }
  h2                              { border-bottom: 2px solid $black; color: $red; font: 300 20px $serif-font; line-height: 1; margin: 0 0 15px; padding-bottom: 10px;
    a.pull-right                  { color: $blue; font: 16px $sans-font; position: relative; top: 5px; }
  }
}

// STYLES FORMS
form.custom-form                  {
  label                           { font-size: 14px; font-family: $sans-font; }
  input:not([type="checkbox"]),
  input:not([type="radio"]),
  select                          { box-shadow: none; font-size: 14px; height: 48px; }
  textarea                        { box-shadow: none; font-size: 14px; height: 110px; overflow: scroll; resize: none; }
  fieldset,
  input:not([type="checkbox"]),
  input:not([type="radio"]),
  textarea                        { border: 1px solid $column-picker-bd; border-radius: 2px;
    &.ng-invalid.ng-touched       { border-color: $red; }
  }
  fieldset                        { position: relative;
    &:before                      { color: $gray; content: '▼'; font-size: 12px; position: absolute; right: 6px; top: 18px; }
    select                        { appearance: none; background: linear-gradient($selectbg-start, $selectbg-stop); border: none; border-radius: 0;
      &:focus                     { box-shadow: none; }
    }
  }
  .taggroup                       { border: 1px solid $lightgray; padding: 6px 12px;
    .newtag                       { border: none; }
  }
  .label                          { background: $lightgray; border-radius: 0; color: $darkgray; font-size: 1.6rem; font-weight: 400; padding: 5px 10px; }
  .form-control-feedback          { color: $reservation-gray; top: 16px; }
}

// RESTYLED CHECKBOXES
.checkbox label                 { line-height: 1; padding-left: 20px; position: relative;
  [type="checkbox"]             { position: absolute; left: -9999px;
    &:not(:checked) ~ span,
    &:checked ~ span            { appearance: none; top: 0; left: 0; position: absolute;
      &:before                  { background: $white; border: 1px solid $border; content: ''; display: block; height: 16px; left: 0; position: absolute; top: 0; width: 16px; }
      &:after                   { color: $gray; content: '✔︎'; font-size: 12px; left: 3px; position: absolute; top: 2px; transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) .5s all; }
    }
    &:not(:checked) ~ span      {
      &:after                   { opacity: 0; transform: scale(0); }
    }
    &:checked ~ span            {
      &:after                   { opacity: 1; transform: scale(1); }
    }
  }
}
// RESTYLED RADIOS
label.radio-inline              { line-height: 20px; padding-left: 24px; position: relative;
  [type="radio"]                { position: absolute; left: -9999px;
    &:not(:checked) ~ span,
    &:checked ~ span            { appearance: none; top: 0; left: 0; position: absolute;
      &:before                  { background: $white; border: 1px solid $border; border-radius: 50%; content: ''; display: block; height: 20px; left: 0; position: absolute; top: 0; width: 20px; }
      &:after                   { background: $gray; content: ''; border-radius: 50%; display: block; height: 10px; left: 5px; position: absolute; top: 5px; transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) .5s all; width: 10px; }
    }
    &:not(:checked) ~ span      {
      &:after                   { opacity: 0; transform: scale(0); }
    }
    &:checked ~ span            { background: red;
      &:after                   { opacity: 1; transform: scale(1); }
    }
  }
}
.resetsave                        { margin: 30px 0 0; }


// default button settings
a.btn,
button.btn                        { border: none; border-radius: 2px; font: 500 14px $serif-font; padding: 8px 30px; text-shadow: none;
  &:hover                         { opacity: .7; }
  &.btn-danger                    { background: $red; }
  &.btn-default                   { background: $btn-default; color: $btn-default-color; }
  &.btn-primary                   { background: $blue; }
  &.btn-success                   { background: $green1; }
  &.btn-warning                   { background: $orange; }
}

// cell-like tabs
.tab-group                        { background: $white; color: $darkgray; float: left; font: 12px $serif-font; height: 32px; width: auto;
  a                               { color: inherit; float: left;
    &:focus,
    &:hover                       { text-decoration: none; }
    .tab                          { border: 1px solid $border; border-right: 0; cursor: pointer; float: left; padding: 8px 30px;
      &.active                    { background: $gray; border-color: $border; color: $white; }
    }
    &:last-child                  {
      .tab                        { border-right: 1px solid $border; }
    }
  }
}

// uib-dropdown
.dropdown-menu                    { min-width: 100px; }
.btn-group                        { background: $white; box-shadow: none;
  &.open                          {
    .dropdown-toggle              { border: 1px solid $border; box-shadow: none; color: $black; }
  }
  .dropdown-toggle                { background: $white;  border: 1px solid transparent; border-radius: 0; color: $blue; font: 16px $sans-font; padding: 8px 10px 8px 5px; text-align: left;
    &:active                      { box-shadow: none; }
  }
  .caret                          { color: $gray; position: relative; left: 5px; }
  ul                              { border: 1px solid $border; border-radius: 0; box-shadow: none; font-size: 16px; margin-top: -2px; width: 100%;
    li a                          { color: $blue; font-size: 14px; padding: 3px 8px; }
  }
}

// container with gray bg
.shadowed-container               { background: $headerbg; border: 1px solid $border; border-radius: 2px; margin-bottom: 20px; padding: 20px;
  header                          {
    h2                            { color: $blue; display: inline-block; font: 500 20px $serif-font; margin: 0 10px 0 0; }
    i.pull-right                  { color: $lightgray2; }
  }
}
.shadowed-subcontainer            { background: $white; border: 1px solid $border; border-radius: 2px; margin-bottom: 20px;
  &:first-child                   { margin-top: 20px; }
  &:last-child                    { margin-bottom: 0; }
  header                          { border-bottom: 1px solid $lightgray; margin-left: -15px; margin-right: -15px; padding: 20px 15px;
    h3                            { display: inline-block; font-size: 16px; margin: 0; }
  }
  .table                          { margin: 0;
    .th                           { border-bottom: 1px solid $border; }
    .td                           { padding: 15px 8px;
      &:first-child               { padding-left: 0; }
      &:last-child                { padding-right: 0; }
    }
    .tr:last-child                {
      .td                         { border-bottom: none; }
    }
  }
  .border-top                     { border-top: 1px solid $border; }
}

// colum filter on table views
.filter                           { display: inline; position: relative; font-family: $sans-font;
  & > div                         { background: $headerbg; border: 1px solid $lightgray; border-radius: 3px; padding: 10px; position: absolute; top: 25px; z-index: 50; }
  i.filtered                      { color: $red; }
}
.fa-sort                          { color: $column-arrows; }
.sortorder                        { vertical-align: baseline; }

// REPLACES TABLES
.table                            { display: table; table-layout: fixed;
  &.table-default                 {
    .tr                           {
      .td                         { height: 60px; padding: 0;
        &:last-child              { text-align: right; }
      }
      .th                         { padding: 8px 0;
        &:last-child              { text-align: right; }
        .filter                   { cursor: pointer; margin-left: -15px; }
        span                      { cursor: pointer; }
      }
    }
  }
  .thead                          { display: table-header-group; }
  .tbody                          { display: table-row-group; }
  .tfoot                          { display: table-footer-group; }
  .tr                             { display: table-row; }
  .td, .th                        { display: table-cell; padding: 8px; vertical-align: middle; }
  .th                             { border-bottom: 2px solid $black; font: 500 14px $serif-font; }
  .td                             { border-bottom: 1px solid $border; }
}

// THIS FIXES UI.BOOTSTRAP CURSOR
a[ng-click],
.nav,
.pagination,
.carousel,
.panel-title a                    { cursor: pointer; }
