<button class="dismiss" ng-click="$dismiss()"><i class="icon-close"></i></button>
<div class="container custom-form">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <form name="additionalForm" class="custom-form" novalidate>
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>Edit Additional Information</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="object.minimum.enabled"> Minimum Delivery Amount
                <span></span>
              </label>
            </div>
            <div class="form-group">
              <input type="number" name="minimum" class="form-control" ng-readonly="!object.minimum.enabled" ng-model="object.minimum.input" placeholder="Minimum Amount" ng-required="object.minimum.enabled">
              <p ng-show="object.minimum.enabled && additionalForm.minimum.$error.required && additionalForm.minimum.$touched" class="help-block">This is a required field.</p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="object.surcharge.enabled"> Delivery Surcharge
                <span></span>
              </label>
            </div>
            <div class="form-group">
              <input type="number" name="surcharge" class="form-control" ng-readonly="!object.surcharge.enabled" ng-model="object.surcharge.input" placeholder="Surcharge" ng-required="object.surcharge.enabled">
              <p ng-show="object.surcharge.enabled && additionalForm.surcharge.$error.required && additionalForm.surcharge.$touched" class="help-block">This is a required field.</p>
            </div>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="object.instructions.enabled"> Delivery Instructions
                <span></span>
              </label>
            </div>
            <div class="form-group">
              <textarea name="instructions" class="form-control" ng-readonly="!object.instructions.enabled" ng-model="object.instructions.input" placeholder="Instructions" ng-required="object.instructions.enabled"></textarea>
              <p ng-show="object.instructions.enabled && additionalForm.instructions.$error.required && additionalForm.instructions.$touched" class="help-block">This is a required field.</p>
            </div>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12 text-center resetsave">
            <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
            <button class="btn btn-primary" ng-click="$dismiss()" ng-disabled="additionalForm.$invalid">Save</button>
          </div>
        </div><!-- END .row -->
      </form><!-- END Additional Information -->

    </div><!-- END .col-md-6 -->
  </div><!-- END .row -->
</div><!-- END .container -->
