<div class="col-md-6 col-md-offset-2 main content">
  <h1>Delivery</h1>

  <div class="col-lg-12 checkbox hero-checkbox">
    <label for="delivery" class="control-label">
      <input id="delivery" type="checkbox" ng-model="enabled" ng-checked="enabled"> Enable Delivery
    </label>
  </div>

  <div ng-show="enabled">
    <div class="googlemap">
      <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d58420.22179022014!2d-51.171596471397784!3d-30.028410566185656!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbr!4v1443130059406" allowfullscreen></iframe>
      <div class="clearfix"></div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h2>Send Delivery Requests To</h2>
      </div>
      <form action="" class="custom-form">
        <div class="col-lg-6">
          <div class="checkbox checkbox-inverted">
            <label for="" class="control-label"> Email <input type="checkbox" ng-model="email"></label>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" ng-readonly="!email">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="checkbox checkbox-inverted">
            <label for="" class="control-label"> Phone <input type="checkbox" ng-model="phone"></label>
          </div>
          <div class="form-group">
            <input type="tel" class="form-control" ng-readonly="!phone">
          </div>
        </div>
        <!-- END Send Delivery Requests To -->

        <div class="col-lg-12 form-inline form-group">
          <h2>Delivery Hours</h2>
          <!-- <label for="" class="control-label">Time Format:</label>
          <div class="radio-inline">
            <label for="timeformat" class="radio-inline"><input type="radio" name="timeformat" ng-model="timeFormat" value="ampm" checked> AM/PM</label>
            <label for="timeformat" class="radio-inline"><input type="radio" name="timeformat" ng-model="timeFormat" value="24h"> 24 hours</label>
          </div> -->

          <table class="table timetable">
            <thead>
              <tr>
                <th class="col-md-4">Open</th>
                <th class="col-md-4">From</th>
                <th class="col-md-4">To</th>
                <th class="col-md-1">Split</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="day in weekdays" ng-class="{disabled: !day.open}">
                <td>
                  <div class="checkbox weekday">
                    <label for="" class="control-label">
                      <input type="checkbox" name="d" ng-model="day.open" ng-checked="day.open"> {{day.name}}
                    </label>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="time" ng-value="day.start1" class="form-control" ng-hide="!day.open">
                    <input type="time" ng-value="day.start2" class="form-control" ng-hide="!day.open" ng-show="day.split">
                    <span ng-show="!day.open">CLOSED</span>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="time" ng-value="day.stop1" class="form-control" ng-hide="!day.open">
                    <input type="time" ng-value="day.stop2" class="form-control" ng-hide="!day.open" ng-show="day.split">
                    <span ng-show="!day.open">CLOSED</span>
                  </div>
                </td>
                <td>
                  <div class="checkbox" ng-hide="!day.open"><input type="checkbox" ng-model="day.split" ng-checked="day.split"></div>
                </td>
              </tr>
            </tbody>
          </table><!-- END .timetable -->
        </div><!-- END Delivery Hours -->

        <div class="col-lg-12">
          <h2>Additional Information</h2>
        </div>
        <div class="col-lg-6">
          <div class="checkbox checkbox-inverted">
            <label for="" class="control-label"> Minimum Delivery Amount <input type="checkbox" ng-model="minimum" checked></label>
          </div>
          <div class="form-group">
            <input type="number" class="form-control" ng-readonly="!minimum">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="checkbox checkbox-inverted">
            <label for="" class="control-label"> Delivery Surcharge <input type="checkbox" ng-model="surcharge"></label>
          </div>
          <div class="form-group">
            <input type="number" class="form-control" ng-readonly="!surcharge">
          </div>
        </div>
        <div class="col-lg-12">
          <div class="checkbox checkbox-inverted">
            <label for="" class="control-label"> Delivery Instructions <input type="checkbox" ng-model="instructions"></label>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-readonly="!instructions">
          </div>
        </div>
        <!-- END Additional Information -->

        <div class="col-lg-12 text-center resetsave">
          <button class="btn btn-default">Reset</button>
          <button class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
