<div class="flyout">
  <div class="container custom-form">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <form name="deliveryForm" class="custom-form" novalidate>
          <div class="row">
            <div class="col-md-12 text-center">
              <h1>Edit Delivery Hours</h1>
            </div>
          </div><!-- END .row -->
          <div class="row">
            <div class="table timetable">
              <div class="thead">
                <div class="tr">
                  <div class="th thirty-perc">Open</div>
                  <div class="th thirty-perc">From</div>
                  <div class="th thirty-perc">To</div>
                  <div class="th ten-perc">Split</div>
                </div>
              </div><!-- END .thead -->
              <div class="tbody">
                <div class="tr" ng-repeat="day in delivery.weekdays" ng-class="{disabled: !day.open}">
                  <div class="td">
                    <div class="checkbox weekday">
                      <label class="control-label">
                        <input type="checkbox" name="open" ng-model="day.open" ng-checked="day.open"> {{day.name}}
                      </label>
                    </div>
                  </div><!-- END .td -->

                  <div class="td" ng-switch="day.open">
                    <div class="form-group" ng-switch-when="true">
                      <input type="time" name="start1" ng-model="day.start1" class="form-control" ng-show="day.open">
                      <input type="time" name="start2" ng-model="day.start2" class="form-control" ng-show="day.open && day.split">
                    </div>
                    <span ng-show="!day.open" ng-switch-when="false">CLOSED</span>
                  </div><!-- END .td -->

                  <div class="td" ng-switch="day.open">
                    <div class="form-group" ng-switch-when="true">
                      <input type="time" name="stop1" ng-model="day.stop1" class="form-control" ng-show="day.open">
                      <input type="time" name="stop2" ng-model="day.stop2" class="form-control" ng-show="day.open && day.split">
                    </div>
                    <span ng-show="!day.open"  ng-switch-when="false">CLOSED</span>
                  </div><!-- END .td -->

                  <div class="td">
                    <div class="checkbox" name="split" ng-show="day.open"><input type="checkbox" ng-model="day.split" ng-checked="day.split"></div>
                  </div><!-- END .td -->
                </div><!-- END .tr -->
              </div><!-- END .tbody -->
            </div><!-- END .table.timetable -->
          </div><!-- END .row -->
          <div class="row">
            <div class="col-md-12 text-center resetsave">
              <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
              <button class="btn btn-primary" ng-click="save('delivery')" ng-disabled="deliveryForm.$invalid">Save</button>
            </div>
          </div><!-- END .row -->
        </form><!-- END Delivery Hours -->

      </div><!-- END .col-md-6 -->
    </div><!-- END .row -->
  </div><!-- END .container -->
</div><!-- END .flyout -->
