<div class="modal-animation" ui-view ng-animate></div>
<header class="top clearfix" ng-class="{expanded: !main.navRevealed}">
  <div class="row">
    <div class="col-md-5">
      <span class="hamburger" ng-click="main.navRevealed=true" ng-show="!main.navRevealed"><i class="icon-hamburger_menu"></i></span>
      <h1>{{pageTitle}}</h1>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5"></div>
  </div>
</header>

<div class="main">
  <div class="col-md-12">

    <div class="row">
      <div class="col-md-12">
        <div class="checkbox toggle-checkbox">
          <label><input type="checkbox" ng-model="enabled" ng-checked="enabled"> Enable Delivery <span></span></label>
        </div>
      </div>
    </div><!-- END .row -->

    <div class="column" ng-show="enabled">
      <div class="row">
        <div class="col-md-12">
          <h2>Delivery Radius <a class="pull-right" ui-sref=".radius">Edit</a></h2>
          <p ng-show="!radius.radius">
            <a ui-sref=".radius">Add Information</a>
          </p>
          <div ng-show="radius.radius" class="googlemap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d58420.22179022014!2d-51.171596471397784!3d-30.028410566185656!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbr!4v1443130059406"></iframe>
            <div class="clearfix"></div>
          </div><!-- END .googlemap -->
        </div>
      </div><!-- END .row -->

      <div class="row">
        <div class="col-md-6 column">
          <div class="row">
            <div class="col-md-12 paragraph-margin">
              <h2>Send Delivery Requests To <a class="pull-right" ui-sref=".requests">Edit</a></h2>
              <p ng-show="!requests.email.enabled && !requests.phone.enabled">
                <a ui-sref=".requests">Add Information</a>
              </p>
              <p ng-show="requests.email.enabled">
                <strong>Email</strong><br>
                {{requests.email.input}}
              </p>
              <p ng-show="requests.phone.enabled">
                <strong>Phone</strong><br>
                {{requests.phone.input | phone}}
              </p>
            </div>
          </div><!-- END .row -->

          <div class="row">
            <div class="col-md-12">
              <h2>Delivery Hours <a class="pull-right" ui-sref=".delivery">Edit</a></h2>
              <span ng-show="opening.twentyFourSeven">Open 24/7</span>
              <div ng-show="!opening.twentyFourSeven" class="table opening-hours">
                <div class="tbody">
                  <div class="tr" ng-repeat="day in deliveryHours.weekdays">
                    <div class="td">{{day.name}}</div>
                    <div class="td">
                      <p ng-show="day.open && day.start1">{{day.start1 | date: 'h:mm a'}} – {{day.stop1 | date: 'h:mm a'}}</p>
                      <p ng-show="day.open && day.start2">{{day.start2 | date: 'h:mm a'}} – {{day.stop2 | date: 'h:mm a'}}</p>
                      <p ng-show="!day.open">CLOSED</p>
                    </div>
                  </div>
                </div>
              </div><!-- END .table -->
            </div>
          </div>
        </div>
        <div class="col-md-6 column">
          <div class="row">
            <div class="col-md-12 paragraph-margin">
              <h2>Additional Information <span class="optional">(optional)</span> <a class="pull-right" ui-sref=".additional">Edit</a></h2>
              <p ng-show="!additional.minimum.enabled && !additional.surcharge.enabled && !additional.instructions.enabled">
                <a ui-sref=".additional">Add Information</a>
              </p>
              <p ng-show="additional.minimum.enabled">
                <strong>Minimum Delivery Amount</strong><br>
                {{additional.minimum.input | currency}}
              </p>
              <p ng-show="additional.surcharge.enabled">
                <strong>Delivery Surcharge</strong><br>
                {{additional.surcharge.input | currency}}
              </p>
              <p ng-show="additional.instructions.enabled">
                <strong>Delivery Instructions</strong><br>
                {{additional.instructions.input}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- END .col-md-12 -->
</div><!-- END .main -->
