<div class="flyout">
  <div class="container custom-form">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <form name="requestsForm" class="custom-form" novalidate>
          <div class="row">
            <div class="col-md-12 text-center">
              <h1>Edit Send Delivery Requests To</h1>
            </div>
          </div><!-- END .row -->

          <div class="row">
            <div class="col-md-6">
              <div class="checkbox">
                <label for="email" class="control-label">
                  <input type="checkbox" ng-model="requests.email.enabled"> Email
                </label>
              </div>
              <div class="form-group">
                <input type="email" name="email" class="form-control" ng-readonly="!requests.email.enabled" placeholder="Email to get requests" ng-required="requests.email.enabled" ng-model="requests.email.input">
                <p ng-show="requests.email.enabled && requestsForm.email.$error.required && requestsForm.email.$touched" class="help-block">This is a required field.</p>
              </div>
            </div>

            <div class="col-md-6">
              <div class="checkbox">
                <label for="tel" class="control-label">
                  <input type="checkbox" ng-model="requests.phone.enabled"> Phone
                </label>
              </div>
              <div class="form-group">
                <input type="tel" name="phone" class="form-control" ng-readonly="!requests.phone.enabled" placeholder="Phone to get requests" ng-required="requests.phone.enabled" ng-model="requests.phone.input">
                <p ng-show="requests.phone.enabled && requestsForm.phone.$error.required && requestsForm.phone.$touched" class="help-block">This is a required field.</p>
              </div>
            </div>
          </div><!-- END .row -->

          <div class="row">
            <div class="col-md-12 text-center resetsave">
              <button class="btn btn-default" ng-click="main.back()">Cancel</button>
              <button class="btn btn-primary" ng-click="save('requests')" ng-disabled="requestsForm.$invalid">Save</button>
            </div>
          </div><!-- END .row -->
        </form><!-- END Send Delivery Requests To -->

      </div><!-- END .col-md-6 -->
    </div><!-- END .row -->
  </div><!-- END .container -->
</div><!-- END .flyout -->
