// SIDEBAR
aside.sidebar                   { padding-left: 0; padding-right: 0; padding-top: 0;
  li                            { text-transform: uppercase;
    &.active                    {
      a                         { background: $blue; color: $white; }
    }
    a                           { border-radius: 0; color: $blue; padding: 15px 20px; }
  }
}

.help-block                     { color: $red; }
input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched    { border: 1px solid $red; }

// MAIN CONTENT
.column > .row                  { margin-top: 30px;
  &:first-child                 { margin-top: 0; }
}
button.rounded                  { border: none; border-radius: 100%; font-family: $serif-font; height: 40px; width: 40px; padding: 0; text-transform: uppercase; text-shadow: none; }
.paragraph-margin               {
  strong                        { font-weight: 500; }
  p                             { margin-bottom: 25px;
    &:last-child                { margin-bottom: 0; }
  }
}

.table                          {
  .form-group input + input     { margin-top: 5px; }
  input.form-control,
  select.form-control           { color: $darkgray; font-size: 14px; }
  .th                           {
    &.ten-perc                  { width: 10%; }
    &.twenty-perc               { width: 20%; }
    &.thirty-perc               { width: 30%; }
  }
  &.userroles                   {
    .tr .th                     { border-bottom-color: $darkgray; font-size: 13px; padding: 8px 0;
      .filter                   { cursor: pointer; margin-left: -15px; }
      span                      { cursor: pointer; }
    }
    .tr .td                     { padding: 15px 0; }
  }
  &.timetable                   { margin-top: 20px;
    .tr                         {
      .th                       { border-bottom: 2px solid $black; margin: 0; }
      .td                       { border: 0; height: 34px; margin: 0; padding: 5px 10px; text-align: center;
        &:first-child           { text-align: left; }
        &:last-child            {
          input[type="checkbox"]{ float: none; margin: 0; }
        }
        .form-group             { margin: 0; }
        input[type="time"]      { height: 34px; padding: 0 12px; }
      }
      &.disabled                {
        .weekday                { background: $lightgray1; }
        input.form-control      { border: none; }
      }
    }
    .weekday                    { background: $lightgray2; color: $white; height: 34px; margin: 0; padding: 6px 15px; text-transform: uppercase; width: 100%;
      label                     { font-size: 13px; }
    }
  }
}

// DELIVERY
.checkbox-inverted              {
  input[type="checkbox"]        { margin: 0 5px 0 0; position: relative; }
  label                         { padding: 0; }
}
.googlemap                      { padding: 0; width: 100%;
  iframe                        { border: 0; height: 400px; margin: 0 auto; width: 100%; }
}

// BUSINESS INFO
.table.opening-hours            {
  .tr                           {
    .td                         { border: none; padding: 5px 0; vertical-align: top;
      &:first-child             { font-weight: 500; text-transform: uppercase; width: 150px; }
    }
  }
}

// DOMAIN
.transferinst                   { list-style-position: inside; padding: 0;
  li                            { margin-bottom: 20px; }
}
.domainpurchase                 {
  p                             { color: $gray; font-size: 14px; margin-bottom: 10px; }
  .domainsearch                 { margin: 20px 0; }
}

// RESERVATION
.main h2.reservations-heading   { border: none; margin-bottom: 0; }
.table.reservations-table       {
  .th                           { border-bottom: 2px solid $black; font-size: 14px; font-weight: 500; padding: 8px 0 0; white-space: nowrap; }
  .tr                           {
    &:last-child                {
      .td                       { border: none; }
    }
    .td                         { padding: 15px 0; }
  }
}
.reservation-integrations       { border-top: 1px solid $gray; color: $gray; margin-top: 30px; padding-top: 20px;
  .col-xs-3                     { display: table-cell; margin-top: 20px; vertical-align: middle; }
  img                           { width: 100%; @include desaturate(100%); opacity: .5; }
}

// INTEGRATION
.nomargin                       { margin-bottom: 0; }
.appintegration                 {
  .td                           { height: 80px; }
  img                           { max-height: 50px; max-width: 150px; }
  &.inactive                    {
    img                         { @include desaturate(100%); opacity: .5; }
  }
}
