// MAIN
.main                             { padding: 30px 15px;
  h1                              { color: $red; font: 100 40px $serif-font; margin-bottom: 10px; text-align: center; }
  h2                              { border-bottom: 2px solid $black; color: $red; font: 300 20px $serif-font; line-height: 1; margin: 0 0 15px; padding-bottom: 10px;
    a.pull-right                  { color: $blue; font: 16px $sans-font; position: relative; top: 5px; }
  }
}

.help-block                     { color: $red; }

// MAIN CONTENT
.column                         {
  &:first-child                 { padding-right: 20px; }
  & ~ .column                   { padding-left: 20px; }
  & > .row                      { margin-top: 30px;
    &:first-child               { margin-top: 0; }
  }
}
.paragraph-margin               {
  strong                        { font-weight: 500; }
  p                             { margin-bottom: 25px;
    &:last-child                { margin-bottom: 0; }
  }
}

.table                          {
  // .form-group input + input     { margin-top: 5px; } // only useful if split option is enabled
  &.timetable                   { margin-top: 20px;
    .tr                         {
      .th                       { border-bottom: none; font: 500 14px $sans-font;  margin: 0; }
      .td                       { border: 0; font-size: 14px; line-height: 48px; margin: 0; padding: 0 10px 20px;
        // &:last-child            { // only useful if split option is enabled
        //   input[type="checkbox"]{ float: none; margin: 0; }
        // }
        .form-group,
        .checkbox               { margin: 0; }
        input[type="time"]      { height: 48px; padding: 0 12px; }
      }
      &.disabled                { opacity: .4;
        input.form-control      { border: none; }
      }
    }
    .weekday                    { background: $border; line-height: 48px; margin: 0; padding: 0 10px; text-transform: uppercase; width: 100%; }
  }
}

// DELIVERY
.googlemap                      { padding: 0; width: 100%;
  iframe                        { border: 0; height: 400px; margin: 0 auto; width: 100%; }
}

// BUSINESS INFO
.table.opening-hours            {
  .tr                           {
    .td                         { border: none; padding: 5px 0; vertical-align: top;
      &:first-child             { font-weight: 500; text-transform: uppercase; width: 150px; }
    }
  }
}

// DOMAIN
.transferinst                   { list-style-position: inside; padding: 0;
  li                            { margin-bottom: 20px; }
}
.domainpurchase                 {
  p                             { color: $gray; font-size: 14px; margin-bottom: 10px; }
  .domainsearch                 { margin: 20px 0; }
}

// RESERVATION
.main h2.reservations-heading   { border: none; margin-bottom: 0; }
.table.reservations-table       {
  .th                           { border-bottom: 2px solid $black; font-size: 14px; font-weight: 500; padding: 8px 0 0; white-space: nowrap; }
  .tr                           {
    &:last-child                {
      .td                       { border: none; }
    }
    .td                         { padding: 15px 0; }
  }
}
.reservation-integrations       { border-top: 1px solid $gray; color: $gray; margin-top: 30px; padding-top: 20px;
  .col-xs-3                     { display: table-cell; margin-top: 20px; vertical-align: middle; }
  img                           { width: 100%; filter: grayscale(100%); opacity: .5; }
}

// INTEGRATION
.appintegration                 {
  .td                           { height: 80px; }
  img                           { max-height: 50px; max-width: 150px; }
  &.inactive                    {
    img                         { filter: grayscale(100%); opacity: .5; }
  }
}
