.reservations                     { height: 100%; padding: 30px;
  // TOP INFO
  .tab-group                      {
    .current-time                 { font: 16px $sans-font;
      p                           { font-weight: 300; margin: 6px 0; }
      time                        { font-weight: 500; }
    }
  }
  .btn-new                        { background: none; border: 0; color: $blue; font-size: 18px; margin: 0 20px 0; padding: 0; }
  .btn-cust                       { display: flex; justify-content: space-between; vertical-align: middle; white-space: nowrap;
    button                        { background: $border; border: none; border-radius: 2px; color: $btn-default-color; flex-grow: 1; font-size: 18px; height: 32px; margin: 0; padding: 4px; }
    .today                        { flex-grow: 6; font: 14px $serif-font; margin: 0 5px; }
  }
  .reservations-body              { height: calc(100% - 40px);
    .top-info                     { display: table; margin-bottom: 25px; margin-top: 30px; width: 100%;
      .top-info-segment           { float: none; display: table-cell; vertical-align: bottom; }
      .btn-cust                   { float: right; margin-left: 40px; margin-top: -8px; width: 200px;
        & ~ .legend               { padding-top: 8px; }
      }
      h2                          { font: 500 20px $sans-font; margin: 0;
        span                      { font: 300 16px $sans-font; padding-left: 10px; }
      }
      .legend                     { float: right; font: 500 14px $serif-font; list-style: none; margin-bottom: 0; padding: 0;
        li                        { float: right; vertical-align: middle;
          &:last-child            {
            i                     { margin-left: 0; }
          }
          i                       { display: inline-block; float: left; height: 14px; line-height: 14px; margin: 0 10px 0 30px; width: 15px; }
          &.active i              { background: $reservation-active; }
          &.closed i              { background: $reservation-closed; }
          &.pending i             { background: $reservation-pending; }
        }
      }
    }
  }

  // CALENDAR WIDGET
  .calendar-widget                { height: calc(100% - 60px);
    .booked                       {
      &.active                    { background: $reservation-active; color: $white; }
      &.closed                    { background: $reservation-closed; color: $reservation-gray; }
      &.pending                   { background: $reservation-pending; color: $white; }
    }
  }

  // DAY VIEW: tab specifics
  .day-view                       {
    .shadowed-container           { padding: 20px; }
    .calendar-side                { background: $white; border: 1px solid $border;}
    .all-day                      { border-bottom: 2px solid $border; font: 700 14px $serif-font; line-height: 40px; padding: 0 15px; }
    .calendar-overflow            { overflow: auto; }

    .calendar-widget              { color: $lightgray; position: relative; width: 6300px;
      .times-row                  { border-bottom: 1px solid $border; color: $black; display: table; font: 500 14px $serif-font; list-style: none; margin: 0; padding: 0; width: 100%;
        li                        { display: table-cell; height: 40px; vertical-align: middle; text-align: center; white-space: nowrap; }
      }
      //
      .cal-row                    { border-bottom: 1px solid $border; height: calc(260px / 6); position: relative;
        &:last-child              { border-bottom: none; }
        .booked                   { padding: 4px; height: 100%; position: absolute; top: 0px;
          &.active                {
            &.selected span       { background: darken($reservation-active, 30%); }
          }
          &.closed                {
            &.selected span       { background: darken($reservation-closed, 30%); color: $white; }
          }
          &.pending               {
            &.selected span       { background: darken($reservation-pending, 30%); }
          }
          span                    { display: block; font-size: 14px; line-height: 35px; text-align: center; }
        }
      }
      .ruler                      { border-left: 1px solid $black; height: calc(100% - 41px); position: absolute; top: 41px; width: 0; z-index: 100;
        time                      { color: $red; font-size: 12px; font-weight: 700; left: 5px; position: absolute; top: -23px; width: 60px; }
        i                         { background: $black; border-radius: 100%; display: block; height: 11px; left: -6px; position: absolute; top: -6px; width: 11px; }
      }
    }

    .sidebar                      { height: 100%;
      .date-picker                { background: $white; border: 1px solid $border; margin-top: 20px; padding: 10px;
        .uib-daypicker            { width: 100%; }
        button                    {
          &.btn                   { background: none; padding: 5px 0; width: 100%; }
          &.active                { background: none; box-shadow: none;
            span                  { background: $border; border-radius: 100%; padding: 6px; }
          }
        }
      }
      .table-info                 { background: $border; border-top: 2px solid $red; margin-top: 20px; padding: 15px;
        h3                        { font: 700 18px $sans-font; margin: 0; margin-bottom: 10px;
          .status                 { font-size: 14px; vertical-align: bottom;
            &.active              { color: $red; }
            &.closed              { color: $darkgray; }
            &.pending             { color: $green; }
          }
        }
        p                         { font-size: 14px; font-weight: 300; }
        p:first-child             { font-size: 16px; font-weight: 500; }
      }
    }
  }

  // WEEK VIEW: tab specifics
  .week-view                      { height: 100%;
    .overflow                     { height: calc(100% - 71px); overflow: auto; }
    .table                        { color: $black; font-family: $serif-font; margin-bottom: 0; position: relative; table-layout: auto;
      .th, .td                    { border-bottom: 1px solid $lightgray; border-right: 1px solid $lightgray; height: 35px; padding: 0;
        &:first-child             { padding-right: 8px; text-align: right; width: 60px; }
        &:last-child              { border-right: none; }
      }

      .thead                      {
        .tr                       {
          &:first-child           { font: 300 16px $serif-font;
            .th                   { border-right: none; padding: 8px; text-align: center; }
          }
          &:nth-child(2)          {
            .th                   { border-bottom-width: 2px; }
          }
          .th:first-child         { border-right: none; }
        }
      }

      .tbody                      { overflow: auto;
        .tr                       {
          .td                     {
            &:first-child         { border: none;
              span                { font-size: 14px; font-weight: 500; position: relative; top: 16px; }
            }
          }
        }
        .booked                   { position: absolute; width: 19px; }
      }
      .ruler                      { border-top: 1px solid $black; height: 1px; position: absolute; left: 0px; top: 185px; z-index: 100;
        time                      { color: $black; display: none; font-size: 12px; font-weight: 700; left: -65px; position: absolute; top: -23px; width: 60px; }
        i                         { background: $black; border-radius: 100%; display: block; height: 11px; position: absolute; top: -6px; width: 11px; }
      }
    }
  }
}
