<div ui-view="modal"></div>
<header class="top clearfix" ng-class="{expanded: !main.navRevealed}">
  <div class="row">
    <div class="col-md-5">
      <span class="hamburger" ng-click="main.navRevealed=true" ng-show="!main.navRevealed"><i class="icon-hamburger_menu"></i></span>
      <h1>{{pageTitle}}</h1>
    </div>
    <div class="col-md-2"><button class="btn btn-primary" ng-click="main.go('^.create')">+ New Reservation</button></div>
    <div class="col-md-5"></div>
  </div>
</header>

<div class="reservations">

  <div class="row">
    <div class="col-md-6">
      <div class="tab-group">
        <a ui-sref=".day"><div class="tab" ng-class="{active: view === 'day'}">Day View</div></a>
        <a ui-sref=".week"><div class="tab" ng-class="{active: view === 'week'}">Week View</div></a>
      </div><!-- END .tab-group -->
    </div>
    <div class="col-md-6 current-time text-right">
      <p>Current time: <time>{{(currentDate.now() | date: 'h:mma').toLowerCase()}}</time></p>
    </div>
  </div>

  <div class="row reservations-body" ui-view></div>
</div><!-- END .reservations -->
