<div ui-view="modal"></div>
<header class="top clearfix" ng-class="{expanded: !main.navRevealed}">
  <div class="row">
    <div class="col-md-5">
      <span class="hamburger" ng-click="main.navRevealed=true" ng-show="!main.navRevealed"><i class="icon-hamburger_menu"></i></span>
      <h1>{{pageTitle}}</h1>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" ng-click="main.go('^.create')">+ New Reservation</button>
    </div>
    <div class="col-md-5">
      <div class="actions-right" ng-init="pickColumns=false">
        <i class="icon-grid" ng-click="showColumnPicker()"></i>
        <ul ng-show="pickColumns">
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.col1">Col 1</label></li>
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.col2">Col 2</label></li>
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.col3">Col 3</label></li>
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.col4">Col 4</label></li>
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.col5">Col 5</label></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="container-fluid reservations">

  <div class="row tab-group">
    <div class="col-md-6">
      <a ui-sref=".day"><div class="tab" ng-class="{active: view === 'day'}">Day View</div></a>
      <a ui-sref=".week"><div class="tab" ng-class="{active: view === 'week'}">Week View</div></a>
    </div>
    <div class="col-md-6 current-time text-right">
      <p>Current time: <time>{{(currentDate.now() | date: 'h:mma').toLowerCase()}}</time></p>
    </div>
  </div>

  <div class="row reservations-body" ui-view></div>
</div><!-- END .container-fluid -->
