<header class="top clearfix" ng-class="{expanded: !main.navRevealed}">
  <div class="row">
    <div class="col-md-5">
      <div class="toggle-nav" ng-class="{open: main.navRevealed}"><div class="hamburger open" ng-click="main.toggleNav()"><span></span><span></span><span></span><span></span></div></div>
      <h1>{{pageTitle}}</h1>
    </div>
    <div class="col-md-2"><button class="btn btn-primary" ng-click="createReservationModal()">+ New Reservation</button></div>
    <div class="col-md-5"></div>
  </div>
</header>

<div class="reservations">

  <div class="row">
    <div class="col-md-6">
      <div class="tab-group">
        <a ui-sref=".day" ng-click="setView('day')"><div class="tab" ng-class="{active: view === 'day'}">Day View</div></a>
        <a ui-sref=".week" ng-click="setView('week')"><div class="tab" ng-class="{active: view === 'week'}">Week View</div></a>
      </div><!-- END .tab-group -->
    </div>
    <div class="col-md-6 current-time text-right">
      <p>Current time: <time>{{(currentDate.now() | date: 'h:mma').toLowerCase()}}</time></p>
    </div>
  </div>

  <div class="row reservations-body" ui-view></div>
</div><!-- END .reservations -->
