<div class="col-md-12 day-view">
  <div class="row">
    <div class="top-info">
      <div class="col-md-6 top-info-segment">
        <h2>{{currentDate.now() | date: 'MMMM dd, yyyy'}} <span>{{currentDate.now() | date: 'EEEE'}}, Week {{currentDate.now() | date: 'w'}}</span></h2>
      </div>
      <div class="col-md-6 top-info-segment">
        <ul class="legend clearfix">
          <li class="closed"><i></i> Closed</li>
          <li class="pending"><i></i> Pending</li>
          <li class="active"><i></i> Active</li>
        </ul><!-- END .legend -->
      </div><!-- END .col-md-6 -->
    </div><!-- END .heading -->
  </div><!-- END .row -->

  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12 shadowed-container">
        <div class="row">
          <div class="col-md-9">
            <div class="calendar-side">
              <div class="row">
                <div class="col-md-12">
                  <header class="all-day">
                    all day
                  </header>
                </div>
              </div><!-- END .row -->

              <div class="row">
                <div class="col-md-12">
                  <div class="calendar-overflow">
                    <div class="calendar-widget">
                      <div class="ruler" ng-style="{left: rulerPosY}">
                        <i></i>
                        <!-- <time>{{(currentDate.now() | date: 'h:mm a').toLowerCase()}}</time> -->
                      </div>
                      <ul class="times-row">
                        <li ng-repeat="quarter in quarters track by $index">{{quarter}}</li>
                      </ul>
                      <div class="cal-row">
                        <div class="booked closed" style="left: 0px; width: 400px;"><span>Table for 4</span></div>
                      </div>
                      <div class="cal-row">
                        <div class="booked active" style="left: 150px; width: 450px;"><span>Table for 4</span></div>
                      </div>
                      <div class="cal-row">
                        <div class="booked active" style="left: 250px; width: 350px;"><span>Table for 4</span></div>
                      </div>
                      <div class="cal-row">
                        <div class="booked active selected" style="left: 300px; width: 600px;"><span>Table for 6</span></div>
                      </div>
                      <div class="cal-row">
                        <div class="booked pending" style="left: 475px; width: 400px;"><span>Table for 4</span></div>
                      </div>
                      <div class="cal-row">
                        <div class="booked pending" style="left: 500px; width: 450px;"><span>Table for 4</span></div>
                      </div>
                      <div class="cal-row">
                        <div class="booked pending" style="left: 550px; width: 500px;"><span>Table for 4</span></div>
                      </div>
                      <div class="cal-row"></div>
                    </div><!-- END .calendar-widget -->
                  </div><!-- END .calendar-overflow -->
                </div><!-- END .col-md-12 -->
              </div><!-- END .row -->

              <span class="scroll-left" ng-click="scrollLeft()"><i class="fa fa-chevron-left"></i></span>
              <span class="scroll-right" ng-click="scrollRight()"><i class="fa fa-chevron-right"></i></span>
            </div><!-- END .calendar-side -->
          </div><!-- END .calendar -->

          <div class="col-md-3 sidebar">
            <div class="row">
              <div class="col-md-12">
                <div class="btn-cust">
                  <button class="arrows btn-primary fa fa-angle-left"></button>
                  <button class="today btn-default">Today</button>
                  <button class="arrows btn-primary fa fa-angle-right"></button>
                </div>
              </div>

              <div class="col-md-12 col-sm-6">
                <uib-datepicker ng-model="datepicked" class="date-picker" datepicker-options="{showWeeks: false}"></uib-datepicker>
              </div>

              <div class="col-md-12 col-sm-6">
                <div class="table-info">
                  <h3>Table for 6
                    <span class="status pull-right active">Active</span>
                    <!--
                    <span class="status pull-right pending">Pending</span>
                    <span class="status pull-right closed">Closed</span>
                    -->
                  </h3>
                  <p>
                    <strong>Tuesday, Nov 11</strong><br>
                    <strong>6pm to 7:30pm</strong>
                  </p>
                  <p>Jarred Leto<br>(347) 578-9001</p>
                  <p>Notes: would like a table by the window, gluten free, pays with Discover</p>
                  <a class="btn btn-primary" ng-click="editReservationModal('1')">Edit</a>
                </div>
              </div>
            </div><!-- END .row -->
          </div><!-- END .sidebar -->
        </div><!-- END .row -->
      </div><!-- END .col-md-12.shadowed-container -->
    </div><!-- END .col-md-12 -->
  </div><!-- END .row -->
</div><!-- END .day-view -->
