<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="text-center">Table for 6</h1>
  </div>
</div><!-- END .row -->

<div class="row">
  <div class="col-md-12">
    <div class="top-instructions">
      <p>Tuesday, November 11, 2016, 6pm to 7:30pm</p>
    </div>
  </div>
</div><!-- END .row -->

<div class="row">
  <div class="col-md-6">
    <p><strong>Name</strong><br>Jarret Leto</p>
  </div>
  <div class="col-md-6">
    <p><strong>Phone</strong><br>(347) 578-9001</p>
  </div>
</div><!-- END .row -->

<div class="row">
  <div class="col-md-6">
    <p><strong>Notes</strong><br>would like a table by the window, gluten free, payes with Discover</p>
  </div>
  <div class="col-md-6">
    <p><strong>Status</strong><br><span class="status pending">Pending</span></p>
  </div>
</div><!-- END .row -->

<div class="row">
  <div class="col-md-12 resetsave text-center">
    <button class="btn btn-default" ng-click="main.go('main.reservations.day')">Cancel</button>
    <button class="btn btn-danger" ng-click="main.go('^.remove')">Remove</button>
    <button class="btn btn-primary" ng-click="main.go('^.edit')">Edit</button>
  </div>
</div><!-- END .row -->
