<div class="flyout">
  <div class="container custom-form">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <form name="paymentsForm" novalidate class="custom-form text-input">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1>Edit Bank Info</h1>
            </div>
          </div><!-- END .row -->
          <div class="row">
            <div class="col-md-12 form-group">
              <label class="control-label">Bank Name</label> <span class="mandatory">*</span>
              <input name="bankName" ng-model="payments.bankName" type="text" class="form-control" required>
              <p ng-show="payments.bankName.$invalid || (paymentsForm.bankName.$error.required && paymentsForm.bankName.$touched)" class="help-block">Make sure this is valid.</p>
            </div>
          </div><!-- END .row -->

          <div class="row">
            <div class="col-md-6 form-group">
              <label class="control-label">Bank Routing Number</label> <span class="mandatory">*</span>
              <input name="routingNo" ng-model="payments.routingNo" type="number" class="form-control"  required>
              <p ng-show="payments.routingNo.$invalid || (paymentsForm.routingNo.$error.required && paymentsForm.routingNo.$touched)" class="help-block">Make sure this is valid.</p>
            </div>

            <div class="col-md-6 form-group">
              <label class="control-label">Account Number</label> <span class="mandatory">*</span>
              <input name="accountNo" ng-model="payments.accountNo" type="number" class="form-control" minlength="8" ng-maxlength="9" required>
              <p ng-show="paymentsForm.accountNo.$error.minlength" class="help-block">Account Number is too short.</p>
              <p ng-show="paymentsForm.accountNo.$error.maxlength" class="help-block">Account Number is too long.</p>
              <p ng-show="payments.accountNo.$invalid || (paymentsForm.accountNo.$error.required && paymentsForm.accountNo.$touched)" class="help-block">Make sure this is valid.</p>
            </div>
          </div><!-- END .row -->

          <div class="row">
            <div class="col-md-12 text-center resetsave">
              <button class="btn btn-default" ng-click="main.go('main.paymentsSettings')">Cancel</button>
              <button class="btn btn-primary" ng-click="main.go('main.paymentsSettings')" ng-disabled="paymentsForm.$invalid">Save</button>
            </div>
          </div><!-- END .row -->
        </form><!-- END Business Info -->

      </div><!-- END .col-md-6 -->
    </div><!-- END .row -->
  </div><!-- END .container -->
</div><!-- END .flyout -->
