<header class="top clearfix" ng-class="{expanded: !main.navRevealed}">
  <div class="row">
    <div class="col-md-5">
      <div class="toggle-nav" ng-class="{open: main.navRevealed}"><div class="hamburger open" ng-click="main.toggleNav()"><span></span><span></span><span></span><span></span></div></div>
      <h1>{{pageTitle}}</h1>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5"></div>
  </div>
</header>

<div class="main">
  <div class="col-md-12">

    <div class="row">
      <div class="col-md-12">
        <div class="toggle-checkbox checkbox">
          <label>
            <input type="checkbox" ng-model="payments.enabled" ng-checked="payments.enabled"> Enable Payments <span></span>
          </label>
        </div>
      </div>
    </div>

    <div class="row" ng-show="payments.enabled">
      <div class="col-md-6 column">
        <div class="row">
          <div class="col-md-12">
            <h2>Business Owner Info <a class="pull-right" ng-click="ownerModal()">Edit</a></h2>
            <p>
              <strong>{{owner.fname + owner.lname}}</strong><br>
              {{owner.addr1}}<br>
              {{owner.city + ', ' + owner.state + ' ' + owner.zip}}<br>
              <br>
              {{owner.phone | phone}}<br>
              {{owner.email}}
            </p>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12">
            <h2>Business Info <a class="pull-right" ng-click="businessModal()">Edit</a></h2>
            <p>
              <strong>{{business.name}}</strong><br>
              {{business.addr1}}<br>
              {{business.city + ', ' + business.state + ' ' + business.zip}}<br>
              <br>
              {{business.phone | phone}}<br>
              {{business.email}}
            </p>
          </div>
        </div><!-- END .row -->
      </div><!-- END .col-md-6 -->

      <div class="col-md-6 column">
        <div class="row">
          <div class="col-md-12 paragraph-margin">
            <h2>Bank Info <a class="pull-right" ui-sref=".bankInfo">Edit</a></h2>
            <p>
              <strong>Name</strong><br>
              {{payments.bankName}}
            </p>
            <p>
              <strong>Routing Number</strong><br>
              {{payments.routingNo}}
            </p>
            <p>
              <strong>Account Number</strong><br>
              {{payments.accountNo}}
            </p>
          </div>
        </div><!-- END .row -->
      </div><!-- END .col-md-6 -->

    </div><!-- END .row -->
  </div><!-- END .col-md-12 -->
</div><!-- END .main -->
