<header class="top clearfix" ng-class="{expanded: !navRevealed}">
  <div class="row">
    <div class="col-md-5">
      <span class="hamburger" ng-click="$parent.$parent.navRevealed=true" ng-show="!navRevealed"><i class="icon-hamburger_menu"></i></span>
      <h1><span>Settings &gt;</span> {{pageTitle}}</h1>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5"></div>
  </div>
</header>

<div class="col-md-6 col-md-offset-3 main content">

  <div class="col-lg-12 checkbox hero-checkbox">
    <label for="" class="control-label">
      <input type="checkbox" ng-model="enabled" ng-checked="enabled"> Enable Online Payments
    </label>
  </div>

  <div ng-show="enabled">
    <div class="col-lg-6">
      <h2>Business Owner Info</h2>
      <p>John Mendelau</p>
      <p>300 Ocean View</p>
      <p>Berkeley, CA 94111</p>
      <br>
      <p>(415) 576-9000</p>
      <p>jmenel@gmail.com</p>
    </div>
    <div class="col-lg-6">
      <h2>Business Info</h2>
      <p>Rodeo BBQ</p>
      <p>1227 Oxford Ave</p>
      <p>Berkeley, CA 94111</p>
      <br>
      <p>(415) 661-4132</p>
      <p>info@rodeobbq.com</p>
    </div>

    <form name="paymentsForm" class="custom-form text-input">
      <div class="col-lg-12">
        <h2>Bank Information <span class="pull-right" ng-click="payments.edit=true" ng-class="{gray: payments.edit}"><i class="fa fa-pencil"></i></span></h2>
      </div>

      <div class="col-lg-12 form-group">
        <label class="control-label">Bank Routing Number</label>
        <input name="bankNo" ng-model="payments.bankNo" type="number" class="form-control" value="123456789" ng-readonly="!payments.edit" ng-minlength="5" ng-maxlength="5" required>
        <p ng-show="payments.bankNo.$invalid || (paymentsForm.bankNo.$error.required && paymentsForm.bankNo.$touched)" class="help-block">This is a required field.</p>
        <p ng-show="paymentsForm.bankNo.$error.minlength" class="help-block">Bank Number is too short.</p>
        <p ng-show="paymentsForm.bankNo.$error.maxlength" class="help-block">Bank Number is too long.</p>
      </div>

      <div class="col-lg-12 form-group">
        <label class="control-label">Account Number</label>
        <input name="accountNo" ng-model="payments.accountNo" type="number" class="form-control" value="123456789" ng-readonly="!payments.edit" ng-minlength="5" ng-maxlength="5" required>
        <p ng-show="payments.accountNo.$invalid || (paymentsForm.accountNo.$error.required && paymentsForm.accountNo.$touched)" class="help-block">This is a required field.</p>
        <p ng-show="paymentsForm.accountNo.$error.minlength" class="help-block">Account Number is too short.</p>
        <p ng-show="paymentsForm.accountNo.$error.maxlength" class="help-block">Account Number is too long.</p>
      </div>

      <div class="col-lg-12 text-center resetsave" ng-show="payments.edit">
        <button class="btn btn-default" ng-click="reset()">Cancel</button>
        <button class="btn btn-primary" ng-click="save()" ng-disabled="paymentsForm.$invalid">Save</button>
      </div>

    </form>
  </div>
</div><!-- END .main.col-md-6 -->
