<div ui-view="modal" ng-animate class="modal-animation"></div>
<main class="wrapper" ng-class="{'collapsed': !main.navRevealed}">
  <nav class="sidebar-wrapper sidenav">
    <a class="logo" href="/"> <img alt="Brand" src="assets/images/bruno_logo.svg"></a>

    <ul>
      <li ui-sref-active="current"><a ui-sref="main.dashboard">Dashboard</a></li>
      <li ui-sref-active="current"><a ui-sref="main.orders">Orders <span class="badge" ng-bind="main.countNewOrders()"></span></a></li>
      <li ui-sref-active="current"><a ui-sref="main.reservations.day">Reservations <span class="badge">53</span></a></li>
      <li ui-sref-active="current"><a ui-sref="main.food-menus">Food Menus</a></li>
      <li ui-sref-active="current"><a ui-sref="main.statistics">Statistics</a></li>
      <li ui-sref-active="current"><a ui-sref="main.marketing">Marketing</a></li>
      <li ui-sref-active="current"><a ui-sref="main.customers">Customers</a></li>
      <li ng-class="{expanded: settingsOpen}">
        <a ng-click="settingsOpen=!settingsOpen">
          Settings
          <span class="submenu-arrow" ng-class="{'icon-triangle_right': !settingsOpen, 'icon-triangle_up': settingsOpen}"></span>
        </a>
        <ul ng-show="settingsOpen">
          <li ui-sref-active="current"><a ui-sref="main.businessInfo">Business Info</a></li>
          <li ui-sref-active="current"><a ui-sref="main.users">Users</a></li>
          <li ui-sref-active="current"><a ui-sref="main.roles">Roles</a></li>
          <li ui-sref-active="current"><a ui-sref="main.deliverySettings">Delivery</a></li>
          <li ui-sref-active="current"><a ui-sref="main.reservationsSettings">Reservations</a></li>
          <li ui-sref-active="current"><a ui-sref="main.paymentsSettings">Online Payments</a></li>
          <li ui-sref-active="current"><a ui-sref="main.domainSettings">Domain</a></li>
          <li ui-sref-active="current"><a ui-sref="main.integration">Integration</a></li>
        </ul>
      </li>
    </ul>
    <div class="profile">
      <img src="/assets/images/nemo.jpeg" alt="Nemo">
      <p>Hello, Nemo</p>
      <button class="btn btn-default" ng-click="main.logout()">Logout</button>
    </div>
  </nav>
  <section class="page-content-wrapper">
    <div class="main-content slide-animation" ui-view ng-animate></div>
  </section>
</main>
