<main id="wrapper" ng-class="{'collapsed': !navRevealed}">
  <nav id="sidebar-wrapper" class="sidenav">
    <a class="logo" href="/"> <img alt="Brand" src="assets/images/bruno_logo.svg"></a>

    <span class="hamburger" ng-click="navRevealed=false">&#9776;</span>
      <ul>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/orders">Orders</a></li>
        <li><a href="/reservations">Reservations</a></li>
        <li><a href="/food-menus">Food Menus</a></li>
        <li><a href="/statistics">Statistics</a></li>
        <li><a href="/marketing">Marketing</a></li>
        <li><a href="/customers">Customers</a></li>
        <li ng-class="{expanded: settingsOpen}">
          <a ng-click="settingsOpen=!settingsOpen">
            Settings
            <span class="fa" ng-class="{'fa-caret-right': !settingsOpen, 'fa-caret-up': settingsOpen}"></span>
          </a>
          <ul ng-show="settingsOpen">
            <li><a href="/settings/business-info">Business Info</a></li>
            <li><a href="/settings/users-and-roles">Users and Roles</a></li>
            <li><a href="/settings/delivery">Delivery</a></li>
            <li><a href="/settings/reservations">Reservations</a></li>
            <li><a href="/settings/payments">Online Payments</a></li>
            <li><a href="/settings/domain">Domain</a></li>
            <li><a href="/settings/integration">Integration</a></li>
          </ul>
        </li>
      </ul>
      <div class="profile">
        <img src="/assets/images/nemo.jpg" alt="Nemo">
        <p>Hello, Nemo</p>
        <a href="/login" class="btn btn-default">Logout</a>
      </div>
  </nav>

  <section id="page-content-wrapper">
    <div class="main-content" ui-view></div>
  </section>
</main>
