.wrapper                          { display: flex; height: 100%;
  .sidebar-wrapper                { max-width: 240px; min-width: 240px; height: 100%; position: relative; padding-top: 80px; background-color: $sidebarbg; flex: 1; overflow: auto; transition: ease-in-out .5s all;
    ul                            { list-style: none; padding: 0;
      li                          {
        &.selected,
        &:hover,
        &.expanded                { background: $darkgray2; }
        a                         { color: $white; display: block; font: 500 16px $serif-font; height: 40px; line-height: 40px; padding-left: 25px; position: relative; text-decoration: none; width: 100%; }
        span.submenu-arrow        { color: $lightgray; font-size: 80%; position: absolute;
          &.icon-triangle_up      { font-size: 7px; left: 10px; top: 14px; }
          &.icon-triangle_right   { font-size: 9px; left: 13px; top: 16px; }
        }
        .badge                    { background: $red; border-radius: 100%; color: $white; display: inline-block; height: 30px; font-weight: 300; line-height: 27px; margin-left: 10px; text-align: center; width: 30px; }
        ul                        { background: $darkgray2;
          li                      {
            &.selected,
            &:hover               { background: $darkgray1; }
            a                     { font-size: 14px; font-weight: 300; padding: 0 0 0 40px; }
          }
        }
      }
    }
    .hamburger                    { color: $headerbg; cursor: pointer; display: block; font-size: 18px; position: absolute; right: 20px; top: 10px; }
    .logo                         { display: block; position: absolute; top: 10px; left: 10px;
      img                         { width: 50px; }
    }
    .profile                      { color: $darkgray1; font: 16px $serif-font; margin-top: 40px; text-align: center;
      img                         { border-radius: 100%; width: 70px; }
      p                           { padding: 10px 0 0;}
      .btn                        { background: $darkgray1; border: none; border-radius: 0; color: $white; padding: 5px 40px; }
    }
  }
  .page-content-wrapper           { position: relative; height: 100%; overflow: hidden; flex: 1; }
  .main-content                   { height: 100%; overflow: auto; padding-top: 55px; position: relative; }
  &.collapsed                     {
    .sidebar-wrapper              { margin-left: -240px;}
    .page-content-wrapper         { position: relative; }
  }
}

@media(min-width:768px)           {
  .wrapper                        {
    .sidebar-wrapper              { width: 240px; }
    .page-content-wrapper         { position: relative; }
    &.collapsed                   {
      .sidebar-wrapper            { }
      .page-content-wrapper       { position: relative; margin-right: 0; }
    }
  }
}
