<div class="col-md-6 col-md-offset-2 main content">
  <h1>Reservations</h1>

  <div class="row">
    <form class="custom-form text-input" action="">
      <div class="col-lg-12">
        <h2>Seating <span class="pull-right" ng-click="edit=true" ng-class="{gray: edit}"><i class="fa fa-pencil"></i></span></h2>
      </div>
      <div class="col-lg-12 form-group">
        <label for="" class="control-label">Maximum Seating Capacity</label>
        <input type="number" class="form-control" placeholder="60" ng-readonly="!edit">
      </div>
      <!-- END Seating -->

      <div class="col-lg-12">
        <h2>Tables <span class="pull-right" ng-click="edit=true" ng-class="{gray: edit}"><i class="fa fa-pencil"></i></span></h2>
      </div>
      <div class="col-lg-12">
        <table class="table">
          <thead>
            <tr>
              <th>Table Name</th>
              <th>Table Capacity</th>
              <th>Number of Tables</th>
              <th>Mergeable</th>
              <th ng-show="edit"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Booth</td>
              <td>6</td>
              <td>5</td>
              <td>No</td>
              <td ng-show="edit"><a href="javascript:void(0)"><span class="fa fa-pencil"></span></a></td>
            </tr>
            <tr>
              <td>Window</td>
              <td>2</td>
              <td>2</td>
              <td>Yes</td>
              <td ng-show="edit"><a href="javascript:void(0)"><span class="fa fa-pencil"></span></a></td>
            </tr>
            <tr ng-show="edit">
              <td class="form-group">
                <input type="text" class="form-control">
              </td>
              <td class="form-group">
                <input type="number" class="form-control">
              </td>
              <td class="form-group">
                <input type="number" class="form-control">
              </td>
              <td>
                <div class="checkbox text-center">
                  <label><input type="checkbox"></label>
                </div>
              </td>
              <td class="form-group" ng-show="edit">
                <a href="javascript:void(0)"><span class="fa fa-check"></span></a>
              </td>
            </tr>
          </tbody>
        </table>
        <span ng-show="edit"><a class="circle" href="javascript:void(0)"><i class="fa fa-plus"></i></a><a href="javascript:void(0)"> Add Row</a></span>
      </div>
      <!-- END Tables -->

      <div class="col-lg-12 text-center resetsave" ng-show="edit">
        <button class="btn btn-default" ng-click="!edit" type="reset">Cancel</button>
        <button class="btn btn-primary" ng-click="!edit">Save</button>
      </div>
    </form>

    <div class="reservationintegrations">
      <div class="col-lg-12">
        <p>Please go to <a href="javascript:void(0)">Integration</a> settings to connect to online reservation services.</p>
      </div>
      <div class="col-lg-3">
        <a href="javascript:void(0)"><img src="https://github-jobs.s3.amazonaws.com/aa017848-3710-11e1-948e-e2fa802ba968.png" alt=""></a>
      </div>
      <div class="col-lg-3">
        <a href="javascript:void(0)"><img src="https://github-jobs.s3.amazonaws.com/aa017848-3710-11e1-948e-e2fa802ba968.png" alt=""></a>
      </div>
      <div class="col-lg-3">
        <a href="javascript:void(0)"><img src="https://github-jobs.s3.amazonaws.com/aa017848-3710-11e1-948e-e2fa802ba968.png" alt=""></a>
      </div>
      <div class="col-lg-3">
        <a href="javascript:void(0)"><img src="https://github-jobs.s3.amazonaws.com/aa017848-3710-11e1-948e-e2fa802ba968.png" alt=""></a>
      </div>
    </div>

  </div>
</div>
