<div class="col-md-6 col-md-offset-2 main content">
  <h1>Reservations</h1>

  <div class="row">
    <form name="seatingForm" class="custom-form text-input">
      <div class="col-lg-12">
        <h2>Seating <span class="pull-right" ng-click="seating.edit=true" ng-class="{gray: seating.edit}"><i class="fa fa-pencil"></i></span></h2>
      </div>
      <div class="col-lg-12 form-group">
        <label class="control-label">Maximum Seating Capacity</label>
        <input name="capacity" ng-model="seating.capacity" type="number" class="form-control" placeholder="60" ng-readonly="!seating.edit">
      </div>

      <div class="col-lg-12 text-center resetsave" ng-show="seating.edit">
        <button class="btn btn-default" ng-click="reset('seating')">Cancel</button>
        <button class="btn btn-primary" ng-disabled="seatingForm.$invalid" ng-click="save('seating')">Save</button>
      </div>
    </form>
    <!-- END Seating -->

    <form name="tablesForm" class="custom-form text-input">
      <div class="col-lg-12">
        <h2>Tables <span class="pull-right" ng-click="tables.edit=true" ng-class="{gray: tables.edit}"><i class="fa fa-pencil"></i></span></h2>
      </div>

      <div class="col-lg-12">
        <table class="table">
          <thead>
            <tr>
              <th>Table Name</th>
              <th>Table Capacity</th>
              <th>Number of Tables</th>
              <th>Mergeable</th>
              <th ng-show="tables.edit"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="table in tables.sets">
              <td>{{table.name}}</td>
              <td>{{table.capacity}}</td>
              <td>{{table.quantity}}</td>
              <td>{{table.mergeable ? 'yes':'no'}}</td>
              <td ng-show="tables.edit"><a href="javascript:void(0)"><span class="fa fa-pencil"></span></a></td>
            </tr>

            <tr ng-show="tables.edit">
              <td class="form-group"><input type="text" class="form-control"></td>
              <td class="form-group"><input type="number" class="form-control"></td>
              <td class="form-group"><input type="number" class="form-control"></td>
              <td>
                <div class="checkbox text-center">
                  <label><input type="checkbox"></label>
                </div>
              </td>
              <td class="form-group" ng-show="tables.edit">
                <a href="javascript:void(0)"><span class="fa fa-check"></span></a>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-default" ng-show="tables.edit"><i class="fa fa-plus"></i> Add Row</button>
      </div>
    </form>

    <div class="reservationintegrations">
      <div class="col-lg-12">
        <p>Please go to <a href="javascript:void(0)">Integration</a> settings to connect to online reservation services.</p>
      </div>
      <div class="col-lg-3">
        <a href="javascript:void(0)"><img src="https://github-jobs.s3.amazonaws.com/aa017848-3710-11e1-948e-e2fa802ba968.png" alt=""></a>
      </div>
      <div class="col-lg-3">
        <a href="javascript:void(0)"><img src="https://github-jobs.s3.amazonaws.com/aa017848-3710-11e1-948e-e2fa802ba968.png" alt=""></a>
      </div>
      <div class="col-lg-3">
        <a href="javascript:void(0)"><img src="https://github-jobs.s3.amazonaws.com/aa017848-3710-11e1-948e-e2fa802ba968.png" alt=""></a>
      </div>
      <div class="col-lg-3">
        <a href="javascript:void(0)"><img src="https://github-jobs.s3.amazonaws.com/aa017848-3710-11e1-948e-e2fa802ba968.png" alt=""></a>
      </div>
    </div>

  </div>
</div>
