<button class="close" ng-click="$dismiss()"><i class="icon-close"></i></button>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form class="custom-form">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Edit Role</h1>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12 form-group">
            <label class="control-label">Name</label>
            <input type="text" class="form-control" ng-model="modal.object.name">
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12 form-group">
            <label class="control-label">Access</label>
            <!-- TODO: make this input a ui-select with accesses -->
            <input type="text" class="form-control" ng-model="modal.object.access">
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12 form-group">
            <label class="control-label">Rights</label>
            <!-- TODO: make this input a ui-select with rights -->
            <input type="text" class="form-control" ng-model="modal.object.rights">
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12 resetsave text-center">
            <button class="btn btn-default" ng-click="main.go('^.view')">Cancel</button>
            <button class="btn btn-primary" ng-click="$dismiss()">Save</button>
          </div>
        </div><!-- END .row -->
      </form>
    </div><!-- END .col-md-6 -->
  </div><!-- END .row -->
</div><!-- END .container -->
