<form class="custom-form">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <div class="row">
        <div class="col-md-12">
          <h1>Remove Role</h1>
          <p><strong>Are you sure that you want to remove this role?</strong></p>
          <p>{{modal.object.name}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 resetsave text-center">
          <button class="btn btn-default" ng-click="modal.object.delete = !modal.object.delete">Cancel</button>
          <button class="btn btn-danger" ng-click="modal.object.delete = !modal.object.delete">Confirm</button>
        </div>
      </div><!-- END .row -->
    </div>
  </div><!-- END .row -->
</form>
