<div ui-view></div>
<header class="top clearfix" ng-class="{expanded: !main.navRevealed}">
  <div class="row">
    <div class="col-md-5">
      <span class="hamburger" ng-click="main.navRevealed=true" ng-show="!main.navRevealed"><i class="icon-hamburger_menu"></i></span>
      <h1>{{pageTitle}}</h1>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" ui-sref=".create">+ New Role</button>
    </div>
    <div class="col-md-5">
      <div class="actions-right" ng-init="pickColumns=false">
        <i class="icon-export_data"></i>
        <i class="icon-grid" ng-click="showColumnPicker()"></i>
        <ul ng-show="pickColumns">
          <span class="arrow"></span>
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.role"> Role <span></span></label></li>
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.access"> Access <span></span></label></li>
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.rights"> Rights <span></span></label></li>
        </ul>
      </div>
    </div>
    <div
      class="invisible-layer"
      ng-show="invisibleLayer"
      ng-click="toggleFilter('');pickColumns=false;invisibleLayer=false;">
      &nbsp;
    </div>
  </div>
</header>

<div class="main">
  <div class="col-md-12">
    <div class="table table-default">
      <div class="thead">
        <div class="tr">

          <div class="th" ng-show="displayColumns.role">
            <div class="filter">
              <i class="icon-filter" ng-click="toggleFilter('role')"></i>
              <div ng-show="openFilter.role">
                <input type="text" ng-model="rolesFilter.role">
              </div>
            </div>
            <span ng-click="clickedHeader='role'; reverse = !reverse">Role
              <i class="sortorder fa" ng-show="clickedHeader === 'role'" ng-class="{'fa-sort-desc':reverse, 'fa-sort-asc':!reverse}"></i>
              <i class="sortorder fa fa-sort" ng-hide="clickedHeader === 'role'"></i>
            </span>
          </div>

          <div class="th" ng-show="displayColumns.access">
            <div class="filter">
              <i class="icon-filter" ng-click="toggleFilter('access')"></i>
              <div ng-show="openFilter.access">
                <input type="text" ng-model="rolesFilter.access">
              </div>
            </div>
            <span ng-click="clickedHeader='access'; reverse = !reverse">Access
              <i class="sortorder fa" ng-show="clickedHeader === 'access'" ng-class="{'fa-sort-desc':reverse, 'fa-sort-asc':!reverse}"></i>
              <i class="sortorder fa fa-sort" ng-hide="clickedHeader === 'access'"></i>
            </span>
          </div>

          <div class="th" ng-show="displayColumns.rights">
            <div class="filter">
              <i class="icon-filter" ng-click="toggleFilter('rights')"></i>
              <div ng-show="openFilter.rights">
                <input type="text" ng-model="rolesFilter.rights">
              </div>
            </div>
            <span ng-click="clickedHeader='rights'; reverse = !reverse">Rights
              <i class="sortorder fa" ng-show="clickedHeader === 'rights'" ng-class="{'fa-sort-desc':reverse, 'fa-sort-asc':!reverse}"></i>
              <i class="sortorder fa fa-sort" ng-hide="clickedHeader === 'rights'"></i>
            </span>
          </div>

        </div><!-- END .tr -->
      </div><!-- END .thead -->
      <div class="tbody">
        <div class="tr" ng-repeat="role in roles | filter:rolesFilter | orderBy:clickedHeader:reverse | limitTo:displayingRoles">

          <div class="td" ng-show="displayColumns.role">
            <a href="/settings/roles/{{role._id}}">{{role.name}}</a>
          </div>

          <div class="td" ng-show="displayColumns.access">
            <span ng-repeat="access in role.accesses">{{access}}{{$last ? '' : ', '}}</span>
          </div>

          <div class="td" ng-show="displayColumns.rights">
            <span ng-repeat="right in role.rights">{{right}}{{$last ? '' : ', '}}</span>
          </div>
        </div><!-- END .tr -->

      </div><!-- END .tbody -->
    </div><!-- END .table -->
    <button class="btn btn-default center-block" ng-hide="!loadMore" ng-click="loadMore()">Load More</button>
  </div><!-- END .com-md-12 -->
</div><!-- END .main -->
