<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">{{roleData(roleId).name}}</h1>
  </div>
</div><!-- END .row -->

<div class="row">
  <div class="col-md-6">
    <p><strong>Access</strong><br>
      <span ng-repeat="access in roleData(roleId).accesses">{{access}}{{$last ? '' : ', '}}</span></p>
  </div>
  <div class="col-md-6">
    <p><strong>Rights</strong><br>
    <span ng-repeat="right in roleData(roleId).rights">{{right}}{{$last ? '' : ', '}}</span></p>
  </div>
</div><!-- END .row -->

<div class="row">
  <div class="col-md-12 resetsave text-center">
    <button class="btn btn-default" ng-click="main.go('main.roles')">Cancel</button>
    <button class="btn btn-danger" ng-click="main.go('^.remove')">Remove</button>
    <button class="btn btn-primary" ng-click="main.go('^.edit')">Edit</button>
  </div>
</div><!-- END .row -->
