<form class="container custom-form" ng-show="modal.object.delete">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <div class="row">
        <div class="col-md-12">
          <h1>Remove Role</h1>
          <p><strong>Are you sure that you want to remove this role?</strong></p>
          <p>{{modal.object.name}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 resetsave text-center">
          <button class="btn btn-default" ng-click="modal.object.delete = !modal.object.delete">Cancel</button>
          <button class="btn btn-danger" ng-click="modal.object.delete = !modal.object.delete">Confirm</button>
        </div>
      </div><!-- END .row -->
    </div>
  </div><!-- END .row -->
</form>

<form class="container custom-form text-input" ng-hide="modal.object.delete" ng-init="modal.object = { edit: false, name: 'Host', access: 'Reservation, Orders', rights: 'Edit Reservations, Edit Orders'}">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center" ng-show="!modal.object.edit">{{modal.object.name}}</h1>
          <h1 class="text-center" ng-show="modal.object.edit">Edit Role</h1>
        </div>
      </div><!-- END .row -->

      <div class="row" ng-hide="modal.object.edit">
        <div class="col-md-6">
          <p><strong>Access</strong><br>
             {{modal.object.access}}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Rights</strong><br>
             {{modal.object.rights}}</p>
        </div>
      </div><!-- END .row -->

      <div class="row" ng-show="modal.object.edit">
        <div class="col-md-12 form-group">
          <label class="control-label">Name</label>
          <input type="text" class="form-control" ng-model="modal.object.name">
        </div>
      </div><!-- END .row -->

      <div class="row" ng-show="modal.object.edit">
        <div class="col-md-12 form-group">
          <label class="control-label">Access</label>
          <!-- TODO: make this input a ui-select with accesses -->
          <input type="text" class="form-control" ng-model="modal.object.access">
        </div>
      </div><!-- END .row -->

      <div class="row" ng-show="modal.object.edit">
        <div class="col-md-12 form-group">
          <label class="control-label">Rights</label>
          <!-- TODO: make this input a ui-select with rights -->
          <input type="text" class="form-control" ng-model="modal.object.rights">
        </div>
      </div><!-- END .row -->

      <div class="row">
        <div class="col-md-12 resetsave text-center" ng-hide="modal.object.edit">
          <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
          <button class="btn btn-danger" ng-click="modal.object.delete = !modal.object.delete">Remove</button>
          <button class="btn btn-primary" ng-click="modal.object.edit = !modal.object.edit">Edit</button>
        </div>
      </div><!-- END .row -->
      <div class="row">
        <div class="col-md-12 resetsave text-center" ng-show="modal.object.edit">
          <button class="btn btn-default" ng-click="modal.object.edit = !modal.object.edit">Cancel</button>
          <button class="btn btn-primary" ng-click="modal.object.edit = !modal.object.edit">Save</button>
        </div>
      </div><!-- END .row -->
    </div><!-- END .col-md-6 -->
  </div><!-- END .row -->
</form><!-- END .container -->
