<header class="top clearfix" ng-class="{expanded: !navRevealed}">
  <span class="hamburger" ng-click="$parent.navRevealed=true" ng-show="!navRevealed">&#9776;</span>
  <h1>{{pageTitle}}</h1>
  <button class="btn btn-primary center-block" ng-click="addCustomer()">+ New Customer</button>
  <div class="actions-right" ng-init="pickColumns=false">
    <i class="fa fa-upload"></i>
    <i class="fa fa-th" ng-click="showColumnPicker()"></i>
    <ul ng-show="pickColumns">
      <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.name"> Name</label></li>
      <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.phone"> Phone</label></li>
      <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.email"> Email</label></li>
      <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.addr"> Address</label></li>
      <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.zip"> Zip Code</label></li>
      <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.city"> City</label></li>
      <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.workEmail"> Work Email</label></li>
    </ul>
  </div>
</header>

<div
  class="invisible-layer"
  ng-show="invisibleLayer"
  ng-click="toggleFilter('');pickColumns=false;invisibleLayer=false;">
  &nbsp;
</div>



<!-- TODO: MAKE THIS MODAL REUSABLE -->
<div class="customerFlyout" ng-show="viewCustomer">
  <button class="close fa fa-times" ng-click="viewCustomer=false"></button>
  <form class="container custom-form text-input">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col md-12">
            <h1 class="text-center">Blake Lively</h1>
            <div class="col-md-5 form-group">
              <label for="" class="control-label">First Name</label>
              <input type="text" class="form-control" ng-readonly="!editing.edit" ng-model="editing.fname">
            </div>
            <div class="col-md-2 form-group">
              <label for="" class="control-label">MI</label>
              <input type="text" class="form-control" ng-readonly="!editing.edit" ng-model="editing.mname">
            </div>
            <div class="col-md-5 form-group">
              <label for="" class="control-label">Last Name</label>
              <input type="text" class="form-control" ng-readonly="!editing.edit" ng-model="editing.lname">
            </div>
          </div>
        </div><!-- END .row -->
        <div class="row">
          <div class="col-md-6 form-group">
            <label class="control-label">Home Phone</label><br>
            <input type="tel" class="form-control" ng-readonly="!editing.edit" ng-model="editing.phone">
          </div>
          <div class="col-md-6 form-group">
            <label class="control-label">Mobile Phone</label><br>
            <input type="tel" class="form-control" ng-readonly="!editing.edit" ng-model="editing.mobile">
          </div>
        </div><!-- END .row -->
        <div class="row">
          <div class="col-md-6 form-group">
            <label class="control-label">Personal Email</label><br>
            <input type="email" class="form-control" ng-readonly="!editing.edit" ng-model="editing.email">
          </div>
          <div class="col-md-6 form-group">
            <label class="control-label">Work Email</label><br>
            <input type="email" class="form-control" ng-readonly="!editing.edit" ng-model="editing.workEmail">
          </div>
        </div><!-- END .row -->
        <div class="row">
          <div class="col-md-6 form-group">
            <label class="control-label">Street Address</label><br>
            <input type="text" class="form-control" ng-readonly="!editing.edit" ng-model="editing.addr">
          </div>
        </div><!-- END .row -->
        <div class="row">
          <div class="col-md-6 form-group">
            <label class="control-label">City</label>
            <input type="text" class="form-control" ng-readonly="!editing.edit" ng-model="editing.city">
          </div>
          <div class="col-md-3 form-group">
            <label class="control-label">State</label>
            <fieldset ng-disabled="!editing.edit">
              <select class="form-control" ng-model="editing.state">
                <option value="1">RS</option>
                <option value="2">SC</option>
                <option value="3">PR</option>
              </select>
            </fieldset>
          </div>
          <div class="col-md-3 form-group">
            <label class="control-label">Zip</label>
            <input type="number" class="form-control" ng-readonly="!editing.edit" ng-model="editing.zip">
          </div>
        </div><!-- END .row -->
        <div class="row">
          <div class="col md-12 resetsave text-center" ng-hide="editing.edit">
            <button class="btn btn-default" ng-click="viewCustomer=false">Back</button>
            <button class="btn btn-primary" ng-click="editing.edit=!editing.edit">Edit</button>
          </div>
        </div><!-- END .row -->
        <div class="row">
          <div class="col md-12 resetsave text-center" ng-show="editing.edit">
            <button class="btn btn-default" ng-click="editing.edit=!editing.edit">Cancel</button>
            <button class="btn btn-primary" ng-click="editing.edit=!editing.edit">Save</button>
          </div>
        </div><!-- END .row -->
      </div><!-- END .col-md-6 -->
    </div><!-- END .row -->
  </form><!-- END .container -->
</div><!-- END .customerFlyout -->



<div class="col-md-12 customers">
  <div class="row">
    <div class="table customers-table">
      <div class="thead">
        <div class="tr">

          <div class="th" ng-show="displayColumns.name">
            <div class="filter">
              <i class="fa fa-filter" ng-click="toggleFilter('name')"></i>
              <div ng-show="openFilter.name">
                <input type="text" ng-model="customersFilter.name">
              </div>
            </div>
            <span ng-click="clickedHeader='name'; reverse = !reverse">Name
             <i class="sortorder fa" ng-show="clickedHeader === 'name'" ng-class="{'fa-sort-desc':reverse, 'fa-sort-asc':!reverse}"></i>
             <i class="sortorder fa fa-sort" ng-hide="clickedHeader === 'name'"></i>
            </span>
          </div>

          <div class="th" ng-show="displayColumns.phone">
            <div class="filter">
              <i class="fa fa-filter" ng-click="toggleFilter('phone')"></i>
              <div ng-show="openFilter.phone">
                <input type="text" ng-model="customersFilter.phone">
              </div>
            </div>
            <span ng-click="clickedHeader='phone'; reverse = !reverse">Phone
             <i class="sortorder fa" ng-show="clickedHeader === 'phone'" ng-class="{'fa-sort-desc':reverse, 'fa-sort-asc':!reverse}"></i>
             <i class="sortorder fa fa-sort" ng-hide="clickedHeader === 'phone'"></i>
            </span>
          </div>

          <div class="th" ng-show="displayColumns.email">
            <div class="filter">
              <i class="fa fa-filter" ng-click="toggleFilter('email')"></i>
              <div ng-show="openFilter.email">
                <input type="text" ng-model="customersFilter.email">
              </div>
            </div>
            <span ng-click="clickedHeader='email'; reverse = !reverse">Email
             <i class="sortorder fa" ng-show="clickedHeader === 'email'" ng-class="{'fa-sort-desc':reverse, 'fa-sort-asc':!reverse}"></i>
             <i class="sortorder fa fa-sort" ng-hide="clickedHeader === 'email'"></i>
            </span>
          </div>

          <div class="th" ng-show="displayColumns.addr">
            <div class="filter">
              <i class="fa fa-filter" ng-click="toggleFilter('addr')"></i>
              <div ng-show="openFilter.addr">
                <input type="text" ng-model="customersFilter.addr">
              </div>
            </div>
            <span ng-click="clickedHeader='address'; reverse = !reverse">Address
             <i class="sortorder fa" ng-show="clickedHeader === 'address'" ng-class="{'fa-sort-desc':reverse, 'fa-sort-asc':!reverse}"></i>
             <i class="sortorder fa fa-sort" ng-hide="clickedHeader === 'address'"></i>
            </span>
          </div>

          <div class="th" ng-show="displayColumns.zip">
            <div class="filter">
              <i class="fa fa-filter" ng-click="toggleFilter('zip')"></i>
              <div ng-show="openFilter.zip">
                <input type="text" ng-model="customersFilter.zip">
              </div>
            </div>
            <span ng-click="clickedHeader='zip'; reverse = !reverse">Zip Code
             <i class="sortorder fa" ng-show="clickedHeader === 'zip'" ng-class="{'fa-sort-desc':reverse, 'fa-sort-asc':!reverse}"></i>
             <i class="sortorder fa fa-sort" ng-hide="clickedHeader === 'zip'"></i>
            </span>
          </div>

          <div class="th" ng-show="displayColumns.city">
            <div class="filter">
              <i class="fa fa-filter" ng-click="toggleFilter('city')"></i>
              <div ng-show="openFilter.city">
                <input type="text" ng-model="customersFilter.city">
              </div>
            </div>
            <span ng-click="clickedHeader='city'; reverse = !reverse">City
             <i class="sortorder fa" ng-show="clickedHeader === 'city'" ng-class="{'fa-sort-desc':reverse, 'fa-sort-asc':!reverse}"></i>
             <i class="sortorder fa fa-sort" ng-hide="clickedHeader === 'city'"></i>
            </span>
          </div>

          <div class="th" ng-show="displayColumns.workEmail">
            <div class="filter">
              <i class="fa fa-filter" ng-click="toggleFilter('workEmail')"></i>
              <div ng-show="openFilter.workEmail">
                <input type="text" ng-model="customersFilter.workEmail">
              </div>
            </div>
            <span ng-click="clickedHeader='workEmail'; reverse = !reverse">Work Email
             <i class="sortorder fa" ng-show="clickedHeader === 'workEmail'" ng-class="{'fa-sort-desc':reverse, 'fa-sort-asc':!reverse}"></i>
             <i class="sortorder fa fa-sort" ng-hide="clickedHeader === 'workEmail'"></i>
            </span>
          </div>

          <div class="th">View Orders</div>
        </div>
      </div><!-- END .thead -->

      <div class="tbody">
        <div class="tr" ng-repeat="customer in customers | filter:customersFilter | orderBy:clickedHeader:reverse | limitTo:displayingCustomers">
          <div class="td" ng-show="displayColumns.name"><a ng-click="showCustomer(0)">{{customer.fname + ' ' + customer.lname}}</a></div>
          <div class="td" ng-show="displayColumns.phone">{{customer.phone}}</div>
          <div class="td" ng-show="displayColumns.email">{{customer.email}}</div>
          <div class="td" ng-show="displayColumns.addr">{{customer.addr}}</div>
          <div class="td" ng-show="displayColumns.zip">{{customer.zip}}</div>
          <div class="td" ng-show="displayColumns.city">{{customer.city}}</div>
          <div class="td" ng-show="displayColumns.workEmail">{{customer.workEmail}}</div>
          <div class="td"><a href="javascript:void(0)">View</a></div>
        </div>
      </div><!-- END .tbody -->

    </div><!-- END .table -->
    <button class="btn btn-flat center-block" ng-hide="!loadMore" ng-click="loadMore()">Load More</button>
  </div>
</div>
