<div class="modal-animation" ui-view ng-animate></div>
<header class="top clearfix" ng-class="{expanded: !main.navRevealed}">
  <div class="row">
    <div class="col-md-5">
      <div class="toggle-nav" ng-class="{open: main.navRevealed}"><div class="hamburger open" ng-click="main.toggleNav()"><span></span><span></span><span></span><span></span></div></div>
      <h1>{{pageTitle}}</h1>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" ng-click="main.go('main.createCustomer')">+ New Customer</button>
    </div>
    <div class="col-md-5">
      <div class="actions-right" ng-init="pickColumns=false">
        <i class="icon-export_data"></i>
        <i class="icon-grid" ng-click="showColumnPicker()"></i>
        <ul ng-show="pickColumns">
          <!-- <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.name"> Name <span></span></label></li> -->
          <!-- <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.email"> Email <span></span></label></li> -->
          <!-- <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.zip"> Zip Code <span></span></label></li> -->
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.addr"> Address <span></span></label></li>
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.city"> City <span></span></label></li>
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.homePhone"> Home Phone <span></span></label></li>
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.mobilePhone"> Mobile Phone <span></span></label></li>
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.workEmail"> Work Email <span></span></label></li>
        </ul>
      </div>
    </div>
  </div>
  <div
    class="invisible-layer"
    ng-show="invisibleLayer"
    ng-click="toggleFilter('');pickColumns=false;invisibleLayer=false;">
    &nbsp;
  </div>
</header>
<div class="customers">
  <div class="col-md-12">
    <div class="table table-default">
      <div class="thead">
        <div class="tr">

          <div class="th" ng-show="displayColumns.name">
            <div class="filter">
              <i class="icon-filter" ng-click="toggleFilter('name')"></i>
              <div ng-show="openFilter.name">
                <input type="text" ng-model="customersFilter.name">
              </div>
            </div>
            <span ng-click="clickedHeader='name'; reverse = !reverse">Name
             <i class="sortorder fa" ng-show="clickedHeader === 'name'" ng-class="{'fa-sort-desc':reverse, 'fa-sort-asc':!reverse}"></i>
             <i class="sortorder fa fa-sort" ng-hide="clickedHeader === 'name'"></i>
            </span>
          </div>

          <div class="th" ng-show="displayColumns.homePhone">
            <div class="filter">
              <i class="icon-filter" ng-click="toggleFilter('homePhone')"></i>
              <div ng-show="openFilter.homePhone">
                <input type="text" ng-model="customersFilter.homePhone">
              </div>
            </div>
            <span ng-click="clickedHeader='homePhone'; reverse = !reverse">Home Phone
             <i class="sortorder fa" ng-show="clickedHeader === 'homePhone'" ng-class="{'fa-sort-desc':reverse, 'fa-sort-asc':!reverse}"></i>
             <i class="sortorder fa fa-sort" ng-hide="clickedHeader === 'homePhone'"></i>
            </span>
          </div>

          <div class="th" ng-show="displayColumns.mobilePhone">
            <div class="filter">
              <i class="icon-filter" ng-click="toggleFilter('mobilePhone')"></i>
              <div ng-show="openFilter.mobilePhone">
                <input type="text" ng-model="customersFilter.mobilePhone">
              </div>
            </div>
            <span ng-click="clickedHeader='mobilePhone'; reverse = !reverse">Mobile Phone
             <i class="sortorder fa" ng-show="clickedHeader === 'mobilePhone'" ng-class="{'fa-sort-desc':reverse, 'fa-sort-asc':!reverse}"></i>
             <i class="sortorder fa fa-sort" ng-hide="clickedHeader === 'mobilePhone'"></i>
            </span>
          </div>

          <div class="th" ng-show="displayColumns.email">
            <div class="filter">
              <i class="icon-filter" ng-click="toggleFilter('email')"></i>
              <div ng-show="openFilter.email">
                <input type="text" ng-model="customersFilter.email">
              </div>
            </div>
            <span ng-click="clickedHeader='email'; reverse = !reverse">Email
             <i class="sortorder fa" ng-show="clickedHeader === 'email'" ng-class="{'fa-sort-desc':reverse, 'fa-sort-asc':!reverse}"></i>
             <i class="sortorder fa fa-sort" ng-hide="clickedHeader === 'email'"></i>
            </span>
          </div>

          <div class="th" ng-show="displayColumns.workEmail">
            <div class="filter">
              <i class="icon-filter" ng-click="toggleFilter('workEmail')"></i>
              <div ng-show="openFilter.workEmail">
                <input type="text" ng-model="customersFilter.workEmail">
              </div>
            </div>
            <span ng-click="clickedHeader='workEmail'; reverse = !reverse">Work Email
             <i class="sortorder fa" ng-show="clickedHeader === 'workEmail'" ng-class="{'fa-sort-desc':reverse, 'fa-sort-asc':!reverse}"></i>
             <i class="sortorder fa fa-sort" ng-hide="clickedHeader === 'workEmail'"></i>
            </span>
          </div>

          <div class="th" ng-show="displayColumns.addr">
            <div class="filter">
              <i class="icon-filter" ng-click="toggleFilter('addr')"></i>
              <div ng-show="openFilter.addr">
                <input type="text" ng-model="customersFilter.addr">
              </div>
            </div>
            <span ng-click="clickedHeader='address'; reverse = !reverse">Address
             <i class="sortorder fa" ng-show="clickedHeader === 'address'" ng-class="{'fa-sort-desc':reverse, 'fa-sort-asc':!reverse}"></i>
             <i class="sortorder fa fa-sort" ng-hide="clickedHeader === 'address'"></i>
            </span>
          </div>

          <div class="th" ng-show="displayColumns.city">
            <div class="filter">
              <i class="icon-filter" ng-click="toggleFilter('city')"></i>
              <div ng-show="openFilter.city">
                <input type="text" ng-model="customersFilter.city">
              </div>
            </div>
            <span ng-click="clickedHeader='city'; reverse = !reverse">City
             <i class="sortorder fa" ng-show="clickedHeader === 'city'" ng-class="{'fa-sort-desc':reverse, 'fa-sort-asc':!reverse}"></i>
             <i class="sortorder fa fa-sort" ng-hide="clickedHeader === 'city'"></i>
            </span>
          </div>

          <div class="th" ng-show="displayColumns.zip">
            <div class="filter">
              <i class="icon-filter" ng-click="toggleFilter('zip')"></i>
              <div ng-show="openFilter.zip">
                <input type="text" ng-model="customersFilter.zip">
              </div>
            </div>
            <span ng-click="clickedHeader='zip'; reverse = !reverse">Zip Code
             <i class="sortorder fa" ng-show="clickedHeader === 'zip'" ng-class="{'fa-sort-desc':reverse, 'fa-sort-asc':!reverse}"></i>
             <i class="sortorder fa fa-sort" ng-hide="clickedHeader === 'zip'"></i>
            </span>
          </div>

          <div class="th">View Orders</div>
        </div>
      </div><!-- END .thead -->

      <div class="tbody">
        <div class="tr repeat-animation" ng-animate ng-repeat="customer in customers | filter:customersFilter | orderBy:clickedHeader:reverse | limitTo:displayingCustomers">
          <div class="td" ng-show="displayColumns.name">
            <a href="/customers/{{customer._id}}">{{customer.fname + ' ' + customer.lname}}</a>
          </div>
          <div class="td" ng-show="displayColumns.homePhone">{{customer.homePhone | phone}}</div>
          <div class="td" ng-show="displayColumns.mobilePhone">{{customer.mobilePhone | phone}}</div>
          <div class="td" ng-show="displayColumns.email">{{customer.email}}</div>
          <div class="td" ng-show="displayColumns.workEmail">{{customer.workEmail}}</div>
          <div class="td" ng-show="displayColumns.addr">{{customer.addr}}</div>
          <div class="td" ng-show="displayColumns.city">{{customer.city}}</div>
          <div class="td" ng-show="displayColumns.zip">{{customer.zip}}</div>
          <div class="td"><a href="/customers/{{customer._id}}/orders">View</a></div>
        </div>
      </div><!-- END .tbody -->

    </div><!-- END .table -->
    <button class="btn btn-default center-block" ng-hide="!loadMore" ng-click="loadMore()">Load More</button>
  </div><!-- END .col-md-12 -->
</div><!-- END .customers -->
