.customers                        {
  .table                          {
    &.customers-table             {
      .tr .td                     { padding: 15px 8px; }
    }
  }
  .sortorder:after {
    content: '\25b2';
  }
  .sortorder.reverse:after {
    content: '\25bc';
  }
}
