<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="text-center">View Customer</h1>
        </div>
      </div><!-- END .row -->
      <div class="row">
        <div class="col-md-6">
          <p><strong>First Name</strong><br>
          {{modal.object.fname}}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Last Name</strong><br>
          {{modal.object.lname}}</p>
        </div>
      </div><!-- END .row -->
      <div class="row">
        <div class="col-md-6">
          <p><strong>Home Phone</strong><br>
          {{modal.object.homePhone}}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Mobile Phone</strong><br>
          {{modal.object.mobilePhone}}</p>
        </div>
      </div><!-- END .row -->
      <div class="row">
        <div class="col-md-6">
          <p><strong>Personal Email</strong><br>
          {{modal.object.email}}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Work Email</strong><br>
          {{modal.object.workEmail}}</p>
        </div>
      </div><!-- END .row -->
      <div class="row">
        <div class="col-md-12">
          <p><strong>Street Address</strong><br>
          {{modal.object.addr}}</p>
        </div>
      </div><!-- END .row -->
      <div class="row">
        <div class="col-md-6">
          <p><strong>City</strong><br>
          {{modal.object.city}}</p>
        </div>
        <div class="col-md-3">
          <p><strong>State</strong><br>
          {{modal.object.state}}</p>
        </div>
        <div class="col-md-3">
          <p><strong>ZIP</strong><br>
          {{modal.object.zip}}</p>
        </div>
      </div><!-- END .row -->
      <div class="row">
        <div class="col-md-12 resetsave text-center">
          <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
          <button class="btn btn-danger" ng-click="modal.object.delete = !modal.object.delete">Remove</button>
          <button class="btn btn-primary" ng-click="modal.object.edit = !modal.object.edit">Edit</button>
        </div>
      </div><!-- END .row -->
  </div><!-- END .col-md-6 -->
</div><!-- END .row -->
