<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="text-center">View Customer</h1>
        </div>
      </div><!-- END .row -->

      <div class="row row-info">
        <div class="col-md-6">
          <p><strong>First Name</strong><br>
          {{object.fname}}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Last Name</strong><br>
          {{object.lname}}</p>
        </div>
      </div><!-- END .row -->

      <div class="row row-info">
        <div class="col-md-6">
          <p><strong>Home Phone</strong><br>
          {{object.homePhone | phone}}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Mobile Phone</strong><br>
          {{object.mobilePhone | phone}}</p>
        </div>
      </div><!-- END .row -->

      <div class="row row-info">
        <div class="col-md-6">
          <p><strong>Personal Email</strong><br>
          {{object.email}}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Work Email</strong><br>
          {{object.workEmail}}</p>
        </div>
      </div><!-- END .row -->

      <div class="row row-info">
        <div class="col-md-12">
          <p><strong>Street Address</strong><br>
          {{object.addr}}</p>
        </div>
      </div><!-- END .row -->

      <div class="row row-info">
        <div class="col-md-6">
          <p><strong>City</strong><br>
          {{object.city}}</p>
        </div>
        <div class="col-md-3">
          <p><strong>State</strong><br>
          {{object.state}}</p>
        </div>
        <div class="col-md-3">
          <p><strong>ZIP</strong><br>
          {{object.zip}}</p>
        </div>
      </div><!-- END .row -->

      <div class="row">
        <div class="col-md-12 resetsave text-center">
          <button class="btn btn-default" ng-click="main.go('main.customers')">Cancel</button>
          <button class="btn btn-danger" ng-click="main.go('^.remove')">Remove</button>
          <button class="btn btn-primary" ng-click="main.go('^.edit')">Edit</button>
        </div>
      </div><!-- END .row -->
  </div><!-- END .col-md-6 -->
</div><!-- END .row -->
