<header class="top clearfix" ng-class="{expanded: !navRevealed}">
  <span class="hamburger" ng-click="$parent.$parent.navRevealed=true" ng-show="!navRevealed">&#9776;</span>
  <h1><span>Settings &gt;</span> {{pageTitle}}</h1>
</header>

<div class="col-md-6 col-md-offset-3 main content">
  <h1>Domain</h1>

  <div class="row">
    <div class="col-lg-12">
      <h2>Subdomain <span class="pull-right" ng-click="subdomain.edit=true" ng-class="{gray: subdomain.edit}"><i class="fa fa-pencil"></i></span></h2>
      <form name="subdomainForm" class="custom-form form-group">
        <div class="form-inline">
          <div class="input-group">
            <input type="text" name="subdomain" ng-model="subdomain.subdomain" class="form-control" placeholder="Enter a domain name" ng-readonly="!subdomain.edit" required>
            <div class="input-group-addon">.chefbr.uno</div>
          </div>
          <button class="btn btn-primary rounded" ng-disabled="subdomainForm.$invalid" ng-show="subdomain.edit" ng-click="save('subdomain')">Go</button>
          <p ng-show="subdomain.subdomain.$invalid || (subdomainForm.subdomain.$error.required && subdomainForm.subdomain.$touched)" class="help-block">This is a required field.</p>
        </div>
      </form>
    </div>
    <!-- END Subdomain -->

    <div class="col-lg-12">
      <h2>Transfer Existing Domain</h2>
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem praesentium, perferendis eius error eaque nam quae aut. Minima veritatis itaque eveniet, ea, voluptates mollitia perferendis? Tempora rerum culpa in vero.</li>
        <li>Amet dolore eveniet error, excepturi! Harum reprehenderit soluta atque vero praesentium, ex mollitia, vitae hic maxime fugiat quia excepturi, velit nulla animi! Quo vitae reiciendis rerum, dolores ratione ut quos.</li>
        <li>Facere quis nam fugiat alias dignissimos, laboriosam nihil, dolor nemo ea cupiditate ipsam accusamus similique est aliquid placeat saepe rerum cum magnam. Ullam tempora, id cumque laboriosam aliquid quae nemo.</li>
        <li>Fugiat autem, fuga corporis, esse, pariatur ipsa assumenda ea aperiam ratione aliquid expedita tempora sequi tenetur sunt ab. Aperiam in aliquam repellendus, fugit odio expedita quis voluptatibus voluptatum. Suscipit, quod!</li>
      </ol>
    </div>
    <!-- END Transfer Existing Domain -->

    <div class="col-lg-12 domainpurchase">
      <h2>Purchase Domain</h2>
      <p>Search for a domain name you would like for your restaurant, without the extension – e.g. "myrestaurant". You will be presented with extension on the results page.</p>

      <form class="custom-form form-group has-feedback">
        <input type="search" class="form-control domainsearch" placeholder="Enter a domain name">
        <span class="fa fa-search form-control-feedback"></span>
        <p><strong>Available Domain Names</strong></p>
        <div class="checkbox hero-checkbox-small">
          <label><input type="checkbox"> myamazingrestaurant<strong>.com</strong></label>
        </div>
        <div class="checkbox hero-checkbox-small">
          <label><input type="checkbox"> myamazingrestaurant<strong>.org</strong></label>
        </div>
        <div class="checkbox hero-checkbox-small">
          <label><input type="checkbox"> myamazingrestaurant<strong>.rest</strong></label>
        </div>
        <div class="checkbox hero-checkbox-small">
          <label><input type="checkbox"> myamazingrestaurant<strong>.restaurant</strong></label>
        </div>
        <div class="checkbox hero-checkbox-small">
          <label><input type="checkbox"> myamazingrestaurant<strong>.bar</strong></label>
        </div>
        <div class="checkbox hero-checkbox-small">
          <label><input type="checkbox"> myamazingrestaurant<strong>.pub</strong></label>
        </div>
        <div class="checkbox hero-checkbox-small">
          <label><input type="checkbox"> myamazingrestaurant<strong>.eat</strong></label>
        </div>
        <div class="checkbox hero-checkbox-small">
          <label><input type="checkbox"> myamazingrestaurant<strong>.food</strong></label>
        </div>
        <div class="text-center resetsave">
          <!-- <button class="btn btn-default">Reset</button> -->
          <button class="btn btn-primary">Purchase</button>
        </div>
      </form>
    </div>
  </div>
  <!-- END Purchase Domain -->
</div><!-- END .main.col-md-6 -->
