<button class="close" ng-click="$dismiss()"><i class="icon-close"></i></button>
<div class="container custom-form">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <form name="domainForm" class="custom-form form-group">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>Purchase Domain</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p>Search for a domain name you would like for your restaurant, without the extension - e.g “myrestaurant”. You will be presented with extension on the results page.</p>

            <div class="form-group has-feedback">
              <input type="search" class="form-control domainsearch" placeholder="Enter a domain name">
              <span class="icon-search form-control-feedback"></span>
            </div>

          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12">
            <p>Available Domain Names:</p>
          </div>
          <div class="col-md-6">
            <div class="checkbox">
              <label><input type="checkbox"> myamazingrestaurant<strong>.com</strong><span></span></label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="checkbox">
              <label><input type="checkbox"> myamazingrestaurant<strong>.org</strong><span></span></label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="checkbox">
              <label><input type="checkbox"> myamazingrestaurant<strong>.rest</strong><span></span></label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="checkbox">
              <label><input type="checkbox"> myamazingrestaurant<strong>.restaurant</strong><span></span></label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="checkbox">
              <label><input type="checkbox"> myamazingrestaurant<strong>.bar</strong><span></span></label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="checkbox">
              <label><input type="checkbox"> myamazingrestaurant<strong>.pub</strong><span></span></label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="checkbox">
              <label><input type="checkbox"> myamazingrestaurant<strong>.eat</strong><span></span></label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="checkbox">
              <label><input type="checkbox"> myamazingrestaurant<strong>.food</strong><span></span></label>
            </div>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12 text-center resetsave">
            <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
            <button class="btn btn-primary" ng-click="$dismiss()" ng-disabled="domainForm.$invalid">Purchase <i class="icon-link_out"></i></button>
          </div>
        </div><!-- END .row -->
      </form>

    </div><!-- END .col-md-6 -->
  </div><!-- END .row -->
</div><!-- END .container -->
