<header class="top clearfix" ng-class="{expanded: !navRevealed}">
  <div class="col-md-5">
    <span class="hamburger" ng-click="$parent.$parent.navRevealed=true" ng-show="!navRevealed">&#9776;</span>
    <h1><span>Settings &gt;</span> {{pageTitle}}</h1>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-5"></div>
</header>

<div class="col-md-6 col-md-offset-3 main content">
  <div class="row">
    <div class="col-md-12">
      <h2 class="nomargin">Reservation &amp; Online Ordering</h2>

      <div ng-repeat="integration in integrations" class="appintegration" ng-class="{inactive: !integration.apiKey}">
        <div class="pull-right">
          <i ng-click="toggle(integration)" class="fa" ng-class="{'fa-chevron-down': integration.collapsed, 'fa-chevron-up': !integration.collapsed}"></i>
          <i ng-click="edit(integration)" class="fa fa-pencil" ng-class="{gray: integration.edit}"></i>
        </div>
        <img src="{{integration.imgUrl}}" alt="{{integration.name}}" title="{{integration.name}}">
        <div class="form-inline" ng-show="!integration.collapsed">
          <form name="integrationForm" class="custom-form form-group text-input">
            <input type="text" class="form-control" placeholder="Enter {{integration.name}} ID" ng-readonly="!integration.edit" ng-model="integration.apiKey">
            <button class="btn btn-primary rounded" ng-show="integration.edit" ng-click="save(integration)">OK</button>
          </form>
        </div>
      </div>

    </div>
    <!-- END Reservation & Online Ordering -->

    <div class="col-md-12">
      <h2 class="nomargin">Social Reviews</h2>

      <div ng-repeat="review in reviews" class="appintegration" ng-class="{inactive: !review.apiKey}">
        <div class="pull-right">
          <i ng-click="toggle(review)" class="fa" ng-class="{'fa-chevron-down': review.collapsed, 'fa-chevron-up': !review.collapsed}"></i>
          <i ng-click="edit(review)" class="fa fa-pencil" ng-class="{gray: review.edit}"></i>
        </div>
        <img src="{{review.imgUrl}}" alt="{{review.name}}" title="{{review.name}}">
        <div class="form-inline" ng-show="!review.collapsed">
          <form name="reviewForm" class="custom-form form-group text-input">
            <input type="text" class="form-control" placeholder="Enter {{review.name}} ID" ng-readonly="!review.edit" ng-model="review.apiKey">
            <button class="btn btn-primary rounded" ng-show="review.edit" ng-click="save(review)">OK</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
