<div class="container custom-form">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <form name="integrationForm" class="custom-form form-group">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>Edit ID</h1>

            <img class="integration-image" src="http://d1zwyexo3ug1ac.cloudfront.net/revision-e6148ed/images/pages/bookatable_logo.jpg" alt="Bookatable">

            <div class="form-group">
              <input type="text" name="integration" ng-model="integration.integration" class="form-control" placeholder="Enter Bookatable ID" ng-required="true">
              <p ng-show="integrationForm.integration.$error.required && integrationForm.integration.$touched" class="help-block">This is a required field.</p>
            </div>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12 text-center resetsave">
            <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
            <button class="btn btn-primary" ng-click="save('integration')" ng-disabled="integrationForm.$invalid">Save</button>
          </div>
        </div><!-- END .row -->
      </form>

    </div><!-- END .col-md-6 -->
  </div><!-- END .row -->
</div><!-- END .container -->
