<div ui-view></div>
<header class="top clearfix" ng-class="{expanded: !main.navRevealed}">
  <div class="row">
    <div class="col-md-5">
      <span class="hamburger" ng-click="main.navRevealed=true" ng-show="!main.navRevealed"><i class="icon-hamburger_menu"></i></span>
      <h1>{{pageTitle}}</h1>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5"></div>
  </div>
</header>

<div class="main">
  <div class="col-md-12">

    <div class="row">

      <div class="col-md-6 column">
        <h2>Reservation &amp; Online Ordering</h2>

        <div class="table integrations">
          <div ng-repeat="integration in integrations" class="tr appintegration" ng-class="{inactive: !integration.apiKey}">
            <div class="td">
              <img src="{{integration.imgUrl}}" alt="{{integration.name}}" title="{{integration.name}}">
            </div>
            <div class="td text-right">
              <a href="/settings/integration/{{integration.name.toLowerCase()}}">{{integration.apiKey || 'Enter ' + integration.name + ' ID'}}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 column">
        <h2>Social Reviews</h2>

        <div class="table integrations">
          <div ng-repeat="review in reviews" class="tr appintegration" ng-class="{inactive: !review.apiKey}">
            <div class="td">
              <img src="{{review.imgUrl}}" alt="{{review.name}}" title="{{review.name}}">
            </div>
            <div class="td text-right">
              <a href="/settings/integration/{{review.name.toLowerCase()}}">{{review.apiKey || 'Enter ' + review.name + ' ID'}}</a>
            </div>
          </div>
        </div>
      </div>

    </div><!-- END .row -->
  </div><!-- END .col-md-12 -->
</div><!-- END .main -->
