<button class="dismiss" ng-click="$dismiss()"><i class="icon-close"></i></button>
<div class="container">
  <form class="custom-form row">
    <div class="col-md-6 col-md-offset-3">

      <div class="row">
        <div class="col-md-12 text-center">
          <h1>New Campaign</h1>
        </div>
      </div><!-- END .row -->

      <div class="row">
        <div class="col-md-12 form-group">
          <label class="control-label">Title</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-12 form-group">
          <label class="control-label">Description</label>
          <textarea class="form-control"></textarea>
        </div>
      </div><!-- END .row -->

      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
          <button class="btn btn-primary" ng-click="$dismiss()">Save</button>
        </div>
        <div class="col-md-6 text-right">
          <a class="btn btn-primary" href="/marketing/1/facebook"><strong>Next</strong> | Channels</a>
        </div>
      </div><!-- END .row -->
      <div class="row bottom-text">
        <div class="col-md-8 col-md-offset-2 text-center">
          <small>Fill out all of the info for the marketing channels in a step-by-step manner. Or save your progress and return at any other time to finish.</small>
        </div>
      </div><!-- END .row -->
    </div><!-- END .col-md-6 -->
  </form><!-- END .row -->
</div><!-- END .container -->
