<button class="close" ng-click="$dismiss()"><i class="icon-close"></i></button>
<channel-header ng-model="currentPage"></channel-header>

<form class="custom-form">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="checkbox toggle-checkbox">
              <label>
                <input type="checkbox" ng-model="enableFacebook" ng-init="enableFacebook = true"> Enable Channel
                <span></span>
              </label>
            </div>
          </div>
        </div><!-- END .row -->

        <div ng-show="enableFacebook">
          <div class="row">
            <div class="col-md-12">
              <h3>Campaign Objective</h3>
              <div class="form-group">
                <label class="control-label">Objective</label>
                <fieldset>
                  <select class="form-control">
                    <option value="">Pick one</option>
                    <option value="1">Reach people around your business</option>
                    <option value="2">Reach people somewhere else</option>
                    <option value="3">Reach living beings outside earth</option>
                  </select>
                </fieldset>
              </div>

              <h3>Who would ike to see your ads?</h3>
            </div>
          </div><!-- END .row -->

          <div class="wider-row">
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d58420.22179022014!2d-51.171596471397784!3d-30.028410566185656!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbr!4v1443130059406"></iframe>
              <div class="facebook-reach">
                <h3>Potential Reach</h3>
                <strong>125,000 people</strong>
                <p>This is the total number of people in your selected audience who we estimate will be in your area based on their activity on Facebook.</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div><!-- END .wider-row -->

          <div class="row">
            <div class="col-md-8 form-group">
              <label class="control-label">Street Address</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Radius</label>
                <fieldset>
                  <select class="form-control">
                    <option value="">Pick one</option>
                    <option value="1">5 miles</option>
                    <option value="2">10 miles</option>
                    <option value="3">15 miles</option>
                  </select>
                </fieldset>
              </div>
            </div>
          </div><!-- END .row -->

          <div class="row">
            <div class="col-md-12">
              <h3>Who would ike to see your ads?</h3>
              <div class="form-group">
                <label class="control-label">Age</label>
                <div class="age-range">
                  <fieldset>
                    <select class="form-control">
                      <option value="">Pick</option>
                      <option value="1">18</option>
                      <option value="2">24</option>
                      <option value="3">30</option>
                    </select>
                  </fieldset>
                  <span>to</span>
                  <fieldset>
                    <select class="form-control">
                      <option value="">Pick</option>
                      <option value="1">35</option>
                      <option value="2">40</option>
                      <option value="3">50</option>
                    </select>
                  </fieldset>
                </div>
              </div>
            </div>
          </div><!-- END .row -->

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Gender</label><br>
                <div class="btn-group">
                  <label class="btn btn-primary" uib-btn-radio="'all'" ng-model="gender">All</label>
                  <label class="btn btn-primary" uib-btn-radio="'men'" ng-model="gender">Men</label>
                  <label class="btn btn-primary" uib-btn-radio="'women'" ng-model="gender">Women</label>
                </div>
              </div>
            </div>
          </div><!-- END .row -->

          <div class="row">
            <div class="col-md-12">
              <h3>How much would you like to spend?</h3>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label class="control-label">Budget</label>
                <fieldset>
                  <select class="form-control">
                    <option value="">Pick one</option>
                    <option value="1">Lifetime Budget</option>
                    <option value="2">Other Option 1</option>
                    <option value="3">Other Option 2</option>
                  </select>
                </fieldset>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">&nbsp;</label>
                <fieldset>
                  <select class="form-control">
                    <option value="">Pick one</option>
                    <option value="1">$25.00</option>
                    <option value="2">$50.00</option>
                    <option value="3">$100.00</option>
                  </select>
                </fieldset>
              </div>
            </div>
          </div><!-- END .row -->

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Schedule</label>

                <label class="radio">
                  <input type="radio" value="1" name="schedule" checked>
                  Run this ad constinuosly starting today
                  <span></span>
                </label>

                <label class="radio">
                  <input type="radio" value="2" name="schedule">
                  Set a start and end date
                  <span></span>
                </label>
              </div>
            </div>
          </div><!-- END .row -->
        </div><!-- END toggle facebook visibility -->

        <div class="row">
          <div class="col-md-12 resetsave">
            <div class="pull-left">
              <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
              <button class="btn btn-primary" ng-click="$dismiss()">Save</button>
            </div><!-- END .pull-left -->
            <div class="pull-right">
              <button class="btn btn-primary" ng-click="$dismiss()"><strong>Next</strong> | Twitter</button>
              <button class="btn btn-default" ng-click="$dismiss()">Skip</button>
            </div><!-- END .pull-right -->
          </div><!-- END .resetsave -->
        </div><!-- END .row -->
      </div><!-- END .col-md-6 -->
    </div><!-- END .row -->
  </div><!-- END .container -->
</form><!-- END .custom-form -->
