<channel-header ng-model="currentPage"></channel-header>

<form class="custom-form">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="checkbox toggle-checkbox">
              <label>
                <input type="checkbox" ng-model="enableGoogleplus" ng-init="enableGoogleplus = true"> Enable Channel
                <span></span>
              </label>
            </div>
          </div>
        </div><!-- END .row -->

        <div ng-show="enableGoogleplus">
          <div class="row">
            <div class="col-md-12">
              Google content here
            </div>
          </div><!-- END .row -->
        </div><!-- END  -->

        <div class="row">
          <div class="col-md-12 resetsave">
            <div class="pull-left">
              <button class="btn btn-default" ui-sref="main.marketing">Cancel</button>
              <button class="btn btn-primary" ui-sref="main.marketing">Save</button>
            </div><!-- END .pull-left -->
            <div class="pull-right">
              <button class="btn btn-primary" ui-sref="^.newsletter"><strong>Next</strong> | Newsletter</button>
              <button class="btn btn-default" ui-sref="^.newsletter">Skip</button>
            </div><!-- END .pull-right -->
          </div><!-- END .resetsave -->
        </div><!-- END .row -->

      </div><!-- END .col-md-6 -->
    </div><!-- END .row -->
  </div><!-- END .container -->
</form><!-- END .custom-form -->
