.marketing                        { padding: 30px 15px;
  .table.campaigns                {
    .channel                      { font: normal normal normal 25px 'BrunoIcons' !important; speak: none; line-height: 1; margin-right: 15px; text-transform: none; -webkit-font-smoothing: antialiased; moz-osx-font-smoothing: grayscale;
      &.enabled                   { color: $blue; }
      &.disabled                  { color: $lightgray; }
      &.bn:before                 { content: "\e90c"; }
      &.em:before                 { content: "\e90b"; }
      &.fb:before                 { content: "\e908"; }
      &.ga:before                 { content: "\e90a"; }
      &.tw:before                 { content: "\e909"; }
    }
    .status                       {
      &.cancelled                 { color: $red; }
      &.current                   { color: $green1; }
      &.expired                   { color: $lightgray; }
      &.expiring                  { color: $orange; }
    }
  }
}
