<header class="top clearfix" ng-class="{expanded: !main.navRevealed}">
  <div class="row">
    <div class="col-md-5">
      <span class="hamburger" ng-click="main.navRevealed=true" ng-show="!main.navRevealed"><i class="icon-hamburger_menu"></i></span>
      <h1>{{pageTitle}}</h1>
    </div><!-- END .col-md-5 -->
    <div class="col-md-2">
      <button class="btn btn-primary center-block" ng-click="main.customModal('newCampaign.html')">+ New Campaign</button>
    </div><!-- END .col-md-2 -->
    <div class="col-md-5">
      <div class="actions-right" ng-init="pickColumns=false">
        <i class="icon-export_data"></i>
        <i class="icon-grid" ng-click="showColumnPicker()"></i>
        <ul ng-show="pickColumns">
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.campaign"> Campaign</label></li>
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.enabled"> Enabled</label></li>
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.disabled"> Disabled</label></li>
          <li class="checkbox"><label><input type="checkbox" ng-model="displayColumns.status"> Status</label></li>
        </ul>
      </div>
      <form class="form-group has-feedback">
        <input type="search" class="form-control" ng-model="campaignsFilter" placeholder="Find a campaign">
        <span class="icon-search form-control-feedback"></span>
      </form>
    </div><!-- END .col-md-5 -->
  </div><!-- END .row -->
  <div
    class="invisible-layer"
    ng-show="invisibleLayer"
    ng-click="toggleFilter('');pickColumns=false;invisibleLayer=false;">
    &nbsp;
  </div>
</header>

<div class="col-md-12 main marketing">
  <div class="table campaigns">
    <div class="thead">
      <div class="tr">

        <div class="th" ng-show="displayColumns.campaign">
          <div class="filter">
            <i class="icon-filter" ng-click="toggleFilter('campaign')"></i>
            <div ng-show="openFilter.campaign">
              <input type="text" ng-model="campaignsFilter.campaign">
            </div>
          </div>
          <span ng-click="clickedHeader='campaign'; reverse = !reverse">Campaign
            <i class="sortorder fa" ng-show="clickedHeader === 'campaign'" ng-class="{'fa-sort-desc':reverse, 'fa-sort-asc':!reverse}"></i>
            <i class="sortorder fa fa-sort" ng-hide="clickedHeader === 'campaign'"></i>
          </span>
        </div>

        <div class="th" ng-show="displayColumns.enabled">
          <span>Enabled Channels</span>
        </div>

        <div class="th" ng-show="displayColumns.disabled">
          <span>Disabled Channels</span>
        </div>

        <div class="th" ng-show="displayColumns.status">
          <span ng-click="clickedHeader='status'; reverse = !reverse">Status
            <i class="sortorder fa" ng-show="clickedHeader === 'status'" ng-class="{'fa-sort-desc':reverse, 'fa-sort-asc':!reverse}"></i>
            <i class="sortorder fa fa-sort" ng-hide="clickedHeader === 'status'"></i>
          </span>
        </div>

      </div><!-- END .tr -->
    </div><!-- END .thead -->

    <div class="tbody">
      <div
        class="tr"
        ng-repeat="campaign in campaigns | filter:campaignsFilter | orderBy:clickedHeader:reverse | limitTo:displayingCampaigns">
        <div ng-show="displayColumns.campaign" class="td">
          <a ng-click="main.customModal('modalCampaign.html', editing)">{{campaign.name}}</a>
        </div>
        <div ng-show="displayColumns.enabled" class="td">
          <i class="channel enabled {{social}}" ng-repeat="social in campaign.enabled" ng-click="main.customModal('channelsCampaign.html')"></i>
        </div>
        <div ng-show="displayColumns.disabled" class="td">
          <i class="channel disabled {{social}}" ng-repeat="social in campaign.disabled" ng-click="main.customModal('channelsCampaign.html')"></i>
        </div>
        <div ng-show="displayColumns.status" ng-switch="campaign.status" class="td">
          <span class="status cancelled" ng-switch-when="0">Cancelled</span>
          <span class="status current" ng-switch-when="1">Current</span>
          <span class="status expiring" ng-switch-when="2">Expiring</span>
          <span class="status expired" ng-switch-when="3">Expired</span>
        </div>
      </div><!-- END .tr -->
    </div><!-- END .tbody -->
  </div><!-- END .table -->
  <button class="btn btn-default center-block" ng-hide="!loadMore" ng-click="loadMore()">Load More</button>
</div><!-- END .main.col-md-12 -->






<script type="text/ng-template" id="modalCampaign.html">

  <div class="container custom-form">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Lunch Special – 20% Off <button ng-hide="campaign.active" class="btn icon-edit_pencil"></button></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias excepturi quis sapiente, quia ab nulla dicta deserunt eos dignissimos perspiciatis sequi cumque magni ducimus maiores expedita! Aliquam, repellat in odit.</p>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12">
            <div class="table">
              <div class="thead">
                <div class="tr no-border">
                  <div class="th">Enabled Channels</div>
                  <div class="th" ng-show="campaign.active">Status</div>
                  <div class="th"></div>
                </div>
              </div>
              <div class="tbody">
                <div class="tr">
                  <div class="td">Facebook</div>
                  <div class="td status current" ng-show="campaign.active">Current</div>
                  <div class="td text-right">
                    <button class="icon-preview"></button>
                    <button class="icon-edit_pencil"></button>
                  </div>
                </div>
                <div class="tr">
                  <div class="td">Google</div>
                  <div class="td status expiring" ng-show="campaign.active">Expiring</div>
                  <div class="td text-right">
                    <button class="icon-preview"></button>
                    <button class="icon-edit_pencil"></button>
                  </div>
                </div>
                <div class="tr">
                  <div class="td">Twitter</div>
                  <div class="td status cancelled" ng-show="campaign.active">Cancelled</div>
                  <div class="td text-right">
                    <button class="icon-preview"></button>
                    <button class="icon-edit_pencil"></button>
                  </div>
                </div>
                <div class="tr">
                  <div class="td">Newsletter</div>
                  <div class="td status expired" ng-show="campaign.active">Expired</div>
                  <div class="td text-right">
                    <button class="icon-preview"></button>
                    <button class="icon-edit_pencil"></button>
                  </div>
                </div>
              </div>
            </div><!-- END .table -->
          </div><!-- END .col-md-12 -->
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12">
            <div class="table">
              <div class="thead">
                <div class="tr no-border">
                  <div class="th">Disabled Channels</div>
                  <div class="th"></div>
                </div>
              </div>
              <div class="tbody">
                <div class="tr">
                  <div class="td">Twitter</div>
                  <div class="td text-right">
                    <button class="icon-edit_pencil"></button>
                  </div>
                </div>
                <div class="tr">
                  <div class="td">Google</div>
                  <div class="td text-right">
                    <button class="icon-edit_pencil"></button>
                  </div>
                </div>
                <div class="tr">
                  <div class="td">Site Banner</div>
                  <div class="td text-right">
                    <button class="icon-edit_pencil"></button>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- END .col-md-12 -->
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12 resetsave text-center" ng-hide="campaign.active">
            <button class="btn btn-danger" ng-click="campaign.active = true">Launch Campaign</button>
            <button class="btn btn-default" ng-click="$dismiss()">Not at this time</button>
          </div><!-- END .resetsave -->
          <div class="col-md-12 resetsave text-center" ng-show="campaign.active">
            <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
            <button class="btn btn-danger" ng-click="campaign.active = false">Halt Campaign</button>
          </div><!-- END .resetsave -->
        </div><!-- END .row -->

      </div><!-- END .col-md-6 -->
    </div><!-- END .row -->
  </div><!-- END .container -->
</script>



<script type="text/ng-template" id="channelsCampaign.html">
  <div class="container" ng-init="channelTab = 'newsletter'">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="channel-heading">Edit Marketing Channels –
          <strong ng-show="channelTab === 'facebook'">Facebook Ads</strong>
          <strong ng-show="channelTab === 'twitter'">Twitter</strong>
          <strong ng-show="channelTab === 'googleads'">Google Adwords</strong>
          <strong ng-show="channelTab === 'newsletter'">Newsletter</strong>
          <strong ng-show="channelTab === 'banner'">Site Banner</strong>
        </h1>
      </div><!-- END .col-md-6 -->
    </div><!-- END .row -->
  </div><!-- END .container -->

  <div class="container-fluid channel-nav">
    <div class="row">
      <ul class="col-md-8 col-md-offset-2 nav nav-tabs">
        <li ng-class="{active: channelTab === 'facebook'}">
          <a ng-click="channelTab = 'facebook'"><i class="icon-Facebook"></i></a>
        </li>
        <li ng-class="{active: channelTab === 'twitter'}">
          <a ng-click="channelTab = 'twitter'"><i class="icon-Twitter"></i></a>
        </li>
        <li ng-class="{active: channelTab === 'googleads'}">
          <a ng-click="channelTab = 'googleads'"><i class="icon-GooglePlus"></i></a>
        </li>
        <li ng-class="{active: channelTab === 'newsletter'}">
          <a ng-click="channelTab = 'newsletter'"><i class="icon-Newsletter"></i></a>
        </li>
        <li ng-class="{active: channelTab === 'banner'}">
          <a ng-click="channelTab = 'banner'"><i class="icon-Banner"></i></a>
        </li>
      </ul>
    </div><!-- END .row -->
  </div><!-- END .container-fluid -->

  <form class="custom-form" ng-show="channelTab === 'facebook'">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="checkbox toggle-checkbox">
                <label>
                  <input type="checkbox" ng-model="enableFacebook" ng-init="enableFacebook = true"> Enable Channel
                </label>
              </div>
            </div>
          </div><!-- END .row -->

          <div ng-show="enableFacebook">
            <div class="row">
              <div class="col-md-12">
                <h4>Campaign Objective</h4>
                <div class="form-group">
                  <label class="control-label">Objective</label>
                  <select class="form-control">
                    <option value="1">Reach people around your business</option>
                    <option value="2">Reach people somewhere else</option>
                    <option value="3">Reach living beings outside earth</option>
                  </select>
                </div>

                <h4>Who would ike to see your ads?</h4>
              </div>
            </div><!-- END .row -->

            <div class="wider-row">
              <div class="googlemap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d58420.22179022014!2d-51.171596471397784!3d-30.028410566185656!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbr!4v1443130059406"></iframe>
                <div class="reach">
                  <h4>Potential Reach</h4>
                  <strong>125,000 people</strong>
                  <p>This is the total number of people in your selected audience who we estimate will be in your area based on their activity on Facebook.</p>
                </div>
                <div class="clearfix"></div>
              </div>
            </div><!-- END .wider-row -->

            <div class="row">
              <div class="col-md-8 form-group">
                <label class="control-label">Street Address</label>
                <input type="text" class="form-control">
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Radius</label>
                  <select class="form-control">
                    <option value="1">5 miles</option>
                    <option value="2">10 miles</option>
                    <option value="3">15 miles</option>
                  </select>
                </div>
              </div>
            </div><!-- END .row -->

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Age</label>
                  <div class="age-range">
                    <select class="form-control">
                      <option value="1">18</option>
                      <option value="2">24</option>
                      <option value="3">30</option>
                    </select>
                    <span>to</span>
                    <select class="form-control">
                      <option value="1">35</option>
                      <option value="2">40</option>
                      <option value="3">50</option>
                    </select>
                  </div>
                </div>
              </div>
            </div><!-- END .row -->

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Gender</label><br>
                  <div class="btn-group">
                    <label class="btn btn-primary" uib-btn-checkbox>All</label>
                    <label class="btn btn-primary" uib-btn-checkbox>Men</label>
                    <label class="btn btn-primary" uib-btn-checkbox>Women</label>
                  </div>
                </div>
              </div>
            </div><!-- END .row -->

            <div class="row">
              <div class="col-md-12">
                <h4>How much would you like to spend?</h4>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label class="control-label">Budget</label>
                  <select class="form-control">
                    <option value="1">Lifetime Budget</option>
                    <option value="2">Other Option 1</option>
                    <option value="3">Other Option 2</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">&nbsp;</label>
                  <select class="form-control">
                    <option value="1">$25.00</option>
                    <option value="2">$50.00</option>
                    <option value="3">$100.00</option>
                  </select>
                </div>
              </div>
            </div><!-- END .row -->

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Schedule</label>

                  <div class="radio">
                    <label>
                      <input type="radio" value="1" checked>
                      Run this ad constinuosly starting today
                    </label>
                  </div>

                  <div class="radio">
                    <label>
                      <input type="radio" value="2">
                      Set a start and end date
                    </label>
                  </div>
                </div>
              </div>
            </div><!-- END .row -->

            <div class="row campaign-image">
              <div class="col-md-5">
                <label class="control-label">Campaign Image</label>
                <img src="/assets/images/campaign.png" class="campaign-img">
              </div>
              <div class="col-md-7">
                <ul >
                  <li>Recommended image size is <strong>1200 x 628 pixels</strong></li>
                  <li>Image ratio <strong>1.91:1</strong></li>
                  <li>You image may not include <strong>more than 20% of text</strong></li>
                </ul>
              </div>
            </div><!-- END .row -->

            <div class="row">
              <div class="col-md-12">
                <h4>What text do you want to use?</h4>
                <div class="form-group">
                  <label class="control-label">Text</label>
                  <textarea class="form-control"></textarea>
                </div>
                <div class="form-group">
                  <label class="control-label">Headline</label>
                  <input class="form-control"></input>
                </div>
              </div>
            </div><!-- END .row -->
          </div><!-- END toggle facebook visibility -->

          <div class="row">
            <div class="col-md-12 resetsave">
              <div class="pull-left">
                <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
                <button class="btn btn-primary" ng-click="$dismiss()">Save</button>
              </div><!-- END .pull-left -->
              <div class="pull-right">
                <button class="btn btn-primary" ng-click="channelTab = 'twitter'"><strong>Next</strong> | Twitter</button>
                <button class="btn btn-default" ng-click="$dismiss()">Skip</button>
              </div><!-- END .pull-right -->
            </div><!-- END .resetsave -->
          </div><!-- END .row -->

        </div><!-- END .col-md-6 -->
      </div><!-- END .row -->
    </div><!-- END .container -->
  </form><!-- END .custom-form -->


  <form class="custom-form" ng-show="channelTab === 'twitter'">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="checkbox toggle-checkbox">
                <label>
                  <input type="checkbox" ng-model="enableTwitter" ng-init="enableTwitter = true"> Enable Channel
                </label>
              </div>
            </div>
          </div><!-- END .row -->
          <div ng-show="enableTwitter">
            <div class="row">
              <div class="col-md-12">
                content here
              </div>
            </div><!-- END .row -->
          </div><!-- END  -->

          <div class="row">
            <div class="col-md-12 resetsave">
              <div class="pull-left">
                <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
                <button class="btn btn-primary" ng-click="$dismiss()">Save</button>
              </div><!-- END .pull-left -->
              <div class="pull-right">
                <button class="btn btn-primary" ng-click="channelTab = 'googleads'"><strong>Next</strong> | Google</button>
                <button class="btn btn-default" ng-click="$dismiss()">Skip</button>
              </div><!-- END .pull-right -->
            </div><!-- END .resetsave -->
          </div><!-- END .row -->

        </div><!-- END .col-md-6 -->
      </div><!-- END .row -->
    </div><!-- END .container -->
  </form><!-- END .custom-form -->


  <form class="custom-form" ng-show="channelTab === 'googleads'">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="checkbox toggle-checkbox">
                <label>
                  <input type="checkbox" ng-model="enableGoogleplus" ng-init="enableGoogleplus = true"> Enable Channel
                </label>
              </div>
            </div>
          </div><!-- END .row -->
          <div ng-show="enableGoogleplus">
            <div class="row">
              <div class="col-md-12">
                content here
              </div>
            </div><!-- END .row -->
          </div><!-- END  -->

          <div class="row">
            <div class="col-md-12 resetsave">
              <div class="pull-left">
                <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
                <button class="btn btn-primary" ng-click="$dismiss()">Save</button>
              </div><!-- END .pull-left -->
              <div class="pull-right">
                <button class="btn btn-primary" ng-click="channelTab = 'newsletter'"><strong>Next</strong> | Newsletter</button>
                <button class="btn btn-default" ng-click="$dismiss()">Skip</button>
              </div><!-- END .pull-right -->
            </div><!-- END .resetsave -->
          </div><!-- END .row -->

        </div><!-- END .col-md-6 -->
      </div><!-- END .row -->
    </div><!-- END .container -->
  </form><!-- END .custom-form -->


  <form class="custom-form" ng-show="channelTab === 'newsletter'">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="checkbox toggle-checkbox">
                <label>
                  <input type="checkbox" ng-model="enableNewsletter" ng-init="enableNewsletter = true"> Enable Channel
                </label>
              </div>
            </div>
          </div><!-- END .row -->

          <div ng-show="enableNewsletter">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Subject</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div><!-- END .row -->

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Email Body</label>
                  <textarea type="text" class="form-control"></textarea><!-- TODO: add WYSIWYG -->
                </div>
              </div>
            </div><!-- END .row -->

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Lauch Date</label>
                  <input type="text" class="form-control" /><!-- TODO: add datepicker -->
                </div>
              </div>
              <div class="col-md-4 col-md-offset-4">
                <div class="form-group">
                  <label class="control-label">Frequency</label>
                  <select class="form-control">
                    <option value="1">Daily</option>
                    <option value="2">Once a Week</option>
                    <option value="3">Once a Month</option>
                  </select>
                </div>
              </div>
            </div><!-- END .row -->

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Redemption URL</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div><!-- END .row -->

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Redemption Code</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div><!-- END .row -->

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Terms & Conditions</label>
                  <textarea type="text" class="form-control"></textarea>
                </div>
              </div>
            </div><!-- END .row -->

          </div><!-- END  -->

          <div class="row">
            <div class="col-md-12 resetsave">
              <div class="pull-left">
                <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
                <button class="btn btn-primary" ng-click="$dismiss()">Save</button>
              </div><!-- END .pull-left -->
              <div class="pull-right">
                <button class="btn btn-primary" ng-click="channelTab = 'banner'"><strong>Next</strong> | Site Banner</button>
                <button class="btn btn-default" ng-click="$dismiss()">Skip</button>
              </div><!-- END .pull-right -->
            </div><!-- END .resetsave -->
          </div><!-- END .row -->

        </div><!-- END .col-md-6 -->
      </div><!-- END .row -->
    </div><!-- END .container -->
  </form><!-- END .custom-form -->


  <form class="custom-form" ng-show="channelTab === 'banner'">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="checkbox toggle-checkbox">
                <label>
                  <input type="checkbox" ng-model="enableBanner" ng-init="enableBanner = true"> Enable Channel
                </label>
              </div>
            </div>
          </div><!-- END .row -->
          <div ng-show="enableBanner">
            <div class="row">
              <div class="col-md-12">
                content here
              </div>
            </div><!-- END .row -->
          </div><!-- END  -->

          <div class="row">
            <div class="col-md-12 resetsave">
              <div class="pull-left">
                <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
                <button class="btn btn-primary" ng-click="$dismiss()">Save</button>
              </div><!-- END .pull-left -->
              <div class="pull-right">
                <button class="btn btn-primary" ng-click="$dismiss()"><strong>Next</strong> | Review</button>
              </div><!-- END .pull-right -->
            </div><!-- END .resetsave -->
          </div><!-- END .row -->

        </div><!-- END .col-md-6 -->
      </div><!-- END .row -->
    </div><!-- END .container -->
  </form><!-- END .custom-form -->
</script>





<script type="text/ng-template" id="newCampaign.html">
  <div class="container">
    <form class="custom-form row">
      <div class="col-md-6 col-md-offset-3">

        <div class="row">
          <div class="col-md-12 text-center">
            <h1>New Campaign</h1>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-12 form-group">
            <label class="control-label">Title</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-12 form-group">
            <label class="control-label">Description</label>
            <textarea class="form-control"></textarea>
          </div>
        </div><!-- END .row -->

        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
            <button class="btn btn-primary" ng-click="$dismiss()">Save</button>
          </div>
          <div class="col-md-6 text-right">
            <button class="btn btn-primary" ng-click="$dismiss()"><strong>Next</strong> | Channels</button>
          </div>
        </div><!-- END .row -->

        <div class="row bottom-text">
          <div class="col-md-8 col-md-offset-2 text-center">
            <small>Fill out all of the info for the marketing channels in a step-by-step manner. Or save your progress and return at any other time to finish.</small>
          </div>
        </div><!-- END .row -->

      </div><!-- END .col-md-6 -->
    </form><!-- END .row -->
  </div><!-- END .container -->

</script>
