<button class="close" ng-click="$dismiss()"><i class="icon-close"></i></button>
<channel-header ng-model="currentPage"></channel-header>
<form class="custom-form">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="checkbox toggle-checkbox">
              <label>
                <input type="checkbox" ng-model="enableTwitter" ng-init="enableTwitter = true"> Enable Channel
                <span></span>
              </label>
            </div>
          </div>
        </div><!-- END .row -->
        <div ng-show="enableTwitter">
          <div class="row">
            <div class="col-md-12">
              Twitter content here
            </div>
          </div><!-- END .row -->
        </div><!-- END  -->

        <div class="row">
          <div class="col-md-12 resetsave">
            <div class="pull-left">
              <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
              <button class="btn btn-primary" ng-click="$dismiss()">Save</button>
            </div><!-- END .pull-left -->
            <div class="pull-right">
              <button class="btn btn-primary" ng-click="$dismiss()"><strong>Next</strong> | Google</button>
              <button class="btn btn-default" ng-click="$dismiss()">Skip</button>
            </div><!-- END .pull-right -->
          </div><!-- END .resetsave -->
        </div><!-- END .row -->

      </div><!-- END .col-md-6 -->
    </div><!-- END .row -->
  </div><!-- END .container -->
</form><!-- END .custom-form -->
